=f.inputs name: t('profiles.edit.general') do
  p= t('profiles.heads_up')
  -unless local_assigns[:setup]
    =f.input :first_name, input_html: {autofocus: true}
    =f.inputs :last_name
  =f.semantic_fields_for :profile do |pf|
    =pf.input :about, input_html: {rows: 5}, label: t('profiles.about_me')
    -unless local_assigns[:setup]
      =render partial: 'photos/form',
              locals: {form: pf,
                      type: :profile_photo,
                      relation: :default_profile_photo,
                      preview_style: 'max-height: 96px; margin-bottom: 0.5em;'}
    =render partial: 'photos/form',
            locals: {form: pf,
                    type: :cover_photo,
                    relation: :default_cover_photo,
                    preview_style: 'max-height: 96px; margin-bottom: 0.5em;'}
