.inspectlet-sensitive=semantic_form_for @profile, url: @resource.url.present? ? profile_path(@resource) : settings_path, method: @resource.r.present? ? :post : :put  do |f|
  // Code below still used? The setup_shortname page seems to make this obsolete.
  - if @resource.url.blank?
    =f.inputs name: t('profiles.edit.shortname') do
      =f.inputs :shortname, for: :shortname
      p= t('users.shortname.not_changeable')
  =f.inputs name: t('profiles.edit.general') do
    p= t('profiles.heads_up')
    - if @profile.profileable.class == User
      =f.inputs :first_name, :middle_name, :last_name, for: :profileable
    - elsif @profile.profileable.class == Page
      =f.input :name
    =f.input :about, input_html: { :rows => 5 }, label: t('profiles.about_me')
  =f.inputs name: t('profiles.edit.profile_photo') do
    =f.input :profile_photo, label: t('profiles.edit.upload_piture')
    li.form-helper
      span=t('profiles.edit.file_limit_notice')
    =f.input :profile_photo, as: :preview_image, html_options: {style: 'max-height: 96px; margin-bottom: 0.5em;', class: 'avatar-preview'}, label: t('profiles.edit.current_picture'), class: 'avatar-preview'
    - unless @profile.profile_photo.present?
      li.form-helper
        span= t('profiles.edit.gravatar_helper_html')
  =f.inputs name: t('profiles.edit.cover_photo') do
    p= t('profiles.edit.cover_photo_helper')
    =f.input :cover_photo, label: t('profiles.edit.upload_piture')
    li.form-helper
      span=t('profiles.edit.file_limit_notice')
    - if @profile.cover_photo.present?
      =f.input :cover_photo, as: :preview_image, html_options: {style: 'max-height: 96px; margin-bottom: 0.5em;'}, label: t('profiles.edit.current_picture')
  =f.inputs name: t('profiles.edit.personal_information') do
    p=t('profiles.edit.personal_information_notice')
    =f.input :postal_code, label: t('profiles.edit.postal_code')
    =f.input :country, as: :react_country, priority_countries: %w(NL BE)
    =f.semantic_fields_for :profileable do |uf|
      =uf.input :birthday, as: :date_picker
  =f.inputs name: t('profiles.edit.privacy') do
    p= t('profiles.edit.privacy_notice')
    =f.input :are_votes_public, as: :reverse_boolean
    =f.input :is_public, as: :reverse_boolean
  =f.actions do
    =f.action :submit, :as => :button, label: current_user.finished_intro? ? t('save') : t('next')
