<%= provide(:title, t(:about_title)) %>
<section class="tabs">
    <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
    <label for="tab-1" class="tab-label-1"></label>
     
    <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
    <label for="tab-2" class="tab-label-2"></label>
     
    <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
    <label for="tab-3" class="tab-label-3"></label>
     
    <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
    <label for="tab-4" class="tab-label-4"></label>
             
    <div class="clear"></div>
                 
    <div class="content">
    	<hr class="stripe"></hr>
        <div class="content-1">
            <p>Welkom op argu! Bij argu draait alles om discussie, opinie en bovenal: argumenten. Wij hebben argu gemaakt om mensen een platform te geven waardoor ze worden geprikkeld om een betere mening te krijgen. Of het nu gaat over belastingsverhoging, speciaal onderwijs, kernenergie of kilometerheffing: op argu worden de sterkste voor- en tegenargumenten verzameld en gesorteerd. Jij bepaalt welke argumenten en onderwerpen het meest belangrijk zijn. Mist er een belangrijk argument? Dan kan je die zelf gemakkelijk toevoegen. Ben je het ergens niet mee eens? Laat je stem horen door te reageren. De beste reacties kunnen zo dienen als tegenargument, zodat je al snel geordende en specifieke discussies krijgt.
            </p>
        </div>
        <div class="content-2">
            <p>Some content2</p>
        </div>
        <div class="content-3">
            <p>Some content3</p>
        </div>
        <div class="content-4">
            <p>Some content4</p>
        </div>
    </div>
    <hr class="stripe"></hr>
</section>