<% provide(:title, "Home") %>
<div class="center hero-unit">
  <h1>Welcome to Open Debate</h1>
  <h2>Look around, learn new facts, sign up, get involved.</h2>
  </br>
  <a href="#" class="btn btn-large btn-primary">Sign up now!</a>
</div>
