<hr class="invis"></hr>
<div class="subtopic">
	<h1>Opiumwet</h1>
	<p class= "intro">
		De Opiumwet verbiedt productie, bezit en verkoop van harddrugs. Wat niet in de Opiumwet staat is het gebruik van harddrugs. Gemeentes kunnen het gebruik zelf verbieden door het op te nemen in de Algemene Plaatselijke Verordening (APV). Legalisatie van gebruik is derhalve te realiseren door het verbod uit de APV te schrappen[1][2] (voor zover het mogelijk is ze te gebruiken zonder ze op dat moment of direct daarvóór te bezitten). Op deze wijze wordt het gebruik zelf, niet langer gecriminaliseerd.
	</p>	
	<hr></hr>
</div>
<div class="subtopic">
	<div class="subtitle">
		<ul>
			<li><div class="voor"></div></li>
			<li><div class="subtitletitle"><h2>Effectiviteit</h2></div></li>
			<li><div class="tegen"></div></li>
		</ul>
	</div>
	<div class="prosbox">
		<hr></hr>
		<div class="pargument">
			<a href class="pargtitle" url="google.com">Drugsmisbruik blijft beperkt door strenge wetgeving</a>
			<p>Door een strenge wetgeving te hanteren, baksjfoasfbaskfjabsfk kabjflbs glkbSDSFSFgkjadbjakgbasf as AOSFHh AFSh AOIo Hofhoqw IHoin kbagsdkba kgjb gkbdgba jkgkdagba bkjga bdjgbkajsbdgb dsakjgbadgjkba kbkgj bds kb </p>
			<p class="pcomment">Ja dat zal wel, maar ik eet liever spaghetti! En nog meer tekst om uit te 
				testen of alles mooi "scaled", zoals dat heet. Tot dusver ben ik tevreden.</p>
			<img class="imgpcomment" src="assets/pcmnt.png"/>
		</div>
		<hr></hr>
		<div class="pargument">
			<a href class="pargtitle" url="google.com">In Portugal zit iedereen aan de drugs</a>
			<p>Daar hebben ze natuurlijk die drugs legaal gemaakt, wat resulteerde in een gigantische toename in het aantal gebruikers. Balen.</p>
			<p class="pcomment">Schrijf reactie...</p>
			<img class="imgpcomment" src="assets/pcmnt.png"/>
		</div>	
		<hr></hr>
	</div>
	<div class="consbox">
		<hr></hr>
		<div class="cargument">
			<a href class="cargtitle" url="google.com">Verbod correleert niet met verbruik</a>
			<p>Neem een land als Portugal, waar in 2008 alle drugs gelegaliseerd werden. Het gebruik van cocaine, heroine, stuff, wiet, kl, aklgas, gakslg, aglkadgbn, adgklhadg, addkhlga, gahkdlg, hakdlg, ghkladg, ghaklgh is niet toegenomen maar juist afgenomen. Hieperdepiep, hoera. Iedereen blij, overal feest. Blabla.</p>
			<p class="ccomment">Ja dat zal wel, maar ik eet liever spaghetti! En nog meer tekst om uit te 
				testen of alles mooi "scaled", zoals dat heet. Jawel..</p>	
			<img class="imgccomment" src="assets/ccmnt.png"/>							
		</div>
		<hr></hr>
	</div>
	<hr class="invis"></hr>
</div>
<div class="subtopic">
	<div class="subtitle">
		<ul>
			<li><div class="voor"></div></li>
			<li><div class="subtitletitle"><h2>Economie</h2></div></li>
			<li><div class="tegen"></div></li>
		</ul>
	</div>
</div>
<div id="speech-bubble">
</div>