=set_title "_Create forum for #{forum.parent.profile.name}_"
.col-1
  .box
    section
      h1= "_Create forum for #{forum.parent.profile.name}_"
      =semantic_form_for [:portal, forum], remote: false, authenticity_token: true do |f|
        =f.inputs do
          =f.input :name
          =f.input :url, as: :shortname
          =hidden_field_tag :page_id, forum.parent.url
        - if forum.errors.present?
          p.inline-errors.full-width= forum.errors.full_messages[0]
        =f.actions do
          =f.action :submit, :as => :button
          =f.action :cancel, :as => :link
