.landing__circle
  .landing__circle__image[style="background-image: url('#{asset_path("features/#{type}.jpg")}'); "]
  h3.landing__circle__title= t("landing.features.#{type}.title")
  p.landing__circle__body= t("landing.features.#{type}.body")
