-provide(:title, @opinion.title.nil? ? t('arguments.show.title') : @opinion.title)
.centercont
  =back_to_statement @opinion
  =render 'body'
  =render template: 'comments/show', locals: { resource: @opinion } if can? :read, Opinion