@import "variables";
@import "mixins";

$vote-pie-size: 1.8em;

.vote-pie {
  width: $vote-pie-size;
  top: -.2em;
  left: -1.4em;
  position: absolute;

  svg {
    overflow: visible;
  }

  path, circle {
    stroke: white;
    stroke-width: 5px;
    stroke-linejoin: round;
  }
}

.vote-pie-container{
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: .5em;

  // Hides the vote pie on IE8,9,10 since the position is weird.
  @media screen\0 {
    display: none;
  }
}

.vote-pie--empty{
  position: absolute;
  display: inline-block;
  z-index: 1;

  &:after{
    content: "";
    width: 1em;
  }
}

.vote-pie-filler {
  display: inline-block;
  width: .5em;
}
