=semantic_form_for resource, multipart: true, remote: true do |f|
  =f.input :lock_version, as: :hidden
  =f.input :active, value: local_assigns[:active], as: :hidden
  - resource.errors.full_messages.each do |message|
    =message
  =f.inputs name: t('forums.settings.profile') do
    =f.input :name
    =f.input :bio, input_html: { rows: 2, maxlength: 80}
    =f.input :bio_long, input_html: { rows: 4}
    =f.input :public_grant, as: :react_select, collection: options_for_public_grant, clearable: false
    =f.input :discoverable, as: :boolean
  =render partial: 'photos/form',
          locals: {form: f,
                   type: :profile_photo,
                   relation: :default_profile_photo,
                   preview_style: 'max-height: 256px;'}
  =render partial: 'photos/form',
          locals: {form: f,
                   type: :cover_photo,
                   relation: :default_cover_photo,
                   preview_style: 'max-height: 256px;'}
  =f.input :tab, input_html: {value: local_assigns[:tab]}, as: :hidden
  =f.actions do
    =f.action :submit, :as => :button
