=semantic_form_for resource, multipart: true do |f|
  =f.input :lock_version, as: :hidden
  =f.input :active, value: local_assigns[:active], as: :hidden
  - resource.errors.full_messages.each do |message|
    =message
  - if policy(resource).is_owner? || policy(resource).staff?
    =f.inputs name: t('forums.settings.privacy') do
      - if resource.visible_with_a_link?
        =f.input :visibility, as: :select, collection: Forum.visibilities.keys, required: false, include_blank: false
      - if policy(resource).change_owner?
        =f.input :page
  =f.input :tab, input_html: {value: local_assigns[:tab]}, as: :hidden
  =f.actions do
    =f.action :submit, :as => :button
