tmp/*
.git
log/*
.env
node_modules/

doc/
jsdoc/

spec/argu.txt
.yardoc
vendor/bundle

# Ignore secrets
secrets.yml
/config/database.yml

# Ignore image uploads
/public/exports
/public/forums
/public/media_objects
/public/motions
/public/organisations
/public/packs
/public/packs-test
/public/photos
/public/profile_photos
/public/profiles
/public/questions
/public/system
/public/uploads
