{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "templateStrings": true
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "0.14.8"
    }
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "comma-style": ["error", "last"],
    "no-console": ["error", { "allow": ["error"] }],
    "strict": ["error", "never"],
    "curly": ["error", "all"],
    "eqeqeq": ["error", "smart"],
    "no-eval": "error",
    "no-implied-eval": "error",
    "no-redeclare": "error",
    "no-native-reassign": "error",

    "valid-jsdoc": "error",

    // Code style
    "array-bracket-spacing": ["error", "never"],
    "indent": ["error", 4],
    "block-spacing": ["error", "always"],
    "quotes": ["error", "single"],
    "dot-location": ["error", "property"],
    "key-spacing": ["error", {"beforeColon": false, "afterColon": true}],
    "space-infix-ops": "error",
    "space-in-parens": ["error", "never"],
    "space-unary-ops": ["error", { "words": true, "nonwords": false }],
    "keyword-spacing": "error",
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": ["error", "always"],
    "no-multi-spaces": "error",
    "no-const-assign": "error",
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "no-dupe-class-members": "error",
    "no-var": "error",
    "object-shorthand": ["error", "always"],
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "no-unused-vars": "error",

    "no-invalid-this": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-magic-numbers": ["error", {
      "ignore": [
        -1, 0, 1,
        200, 201, 202, 203, 204,
        300, 301, 302, 303, 304,
        400, 401, 402, 403, 404, 429,
        500, 501, 502, 503, 504]
    }],
    "no-unused-expressions": ["error", {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "no-unmodified-loop-condition": "error",
    "yoda": "error",
    "no-shadow": "error",
    "no-undef-init": "error",
    "no-inline-comments": "error",
    "new-cap": [
      "error",
      {
        "capIsNewExceptions": ["Record", "Alert"]
      }
    ],
    "no-nested-ternary": "error",
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "no-mixed-spaces-and-tabs": "error",
    "object-curly-spacing": ["warn", "always"],
    "one-var": ["error", { "uninitialized": "always", "initialized": "never" }],
    "array-callback-return": "error",
    "consistent-return": "warn",

    // React
    "react/prop-types": "warn",
    "react/no-deprecated": "error",
    "react/no-danger": "error",
    "react/display-name": "error",
    "react/sort-comp": "error",
    "react/self-closing-comp": "error",
    "react/sort-prop-types": "error",
    "react/no-unknown-property": "error",
    "react/prefer-stateless-function": "error",
    "react/require-render-return": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-did-update-set-state": "error",
    "react/no-did-mount-set-state": "error",
    "react/no-is-mounted": "error",
    "react/no-string-refs": "error",
    "react/jsx-closing-bracket-location": ["error", "after-props"],
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-equals-spacing": ["error", "never"],
    //"react/jsx-first-prop-new-line": "error",
    "react/jsx-handler-names": "warn",
    "react/jsx-key": "error",
    "react/jsx-max-props-per-line": ["error", { "maximum": 5 }],
    "react/jsx-no-bind": "error",
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-no-literals": "warn",
    "react/jsx-pascal-case": "error",
    "react/jsx-sort-props": "warn"

  }
}
