{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "templateStrings": true,
    }
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "0.14.8"
    }
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "comma-style": ["error", "last"],
    "no-console": ["error", { "allow": ["error"] }],
    "strict": [2, "never"],
    "curly": [2, "all"],
    "eqeqeq": [2, "smart"],
    "no-eval": 2,
    "no-implied-eval": 2,
    "no-redeclare": 2,
    "no-native-reassign": 2,

    "valid-jsdoc": 2,

    // Code style
    "array-bracket-spacing": [2, "never"],
    "indent": [2, 4],
    "block-spacing": [2, "always"],
    "quotes": [2, "single"],
    "dot-location": [2, "property"],
    "key-spacing": [2, {"beforeColon": false, "afterColon": true}],
    "space-infix-ops": 2,
    "space-in-parens": [2, "never"],
    "space-unary-ops": [2, { "words": true, "nonwords": false }],
    "keyword-spacing": "error",
    "arrow-spacing": [2, { "before": true, "after": true }],
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": ["error", "always"],
    "no-multi-spaces": 2,
    "no-const-assign": "error",
    "no-confusing-arrow": ["error", {"allowParens": true}],
    "no-dupe-class-members": "error",
    "no-var": 2,
    "object-shorthand": [2, "always"],
    "prefer-arrow-callback": 2,
    "prefer-const": "error",
    "no-unused-vars": "warn",

    "no-invalid-this": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-magic-numbers": ["error", {
      "ignore": [
        -1, 0, 1,
        200, 201, 202, 203, 204,
        300, 301, 302, 303, 304,
        400, 401, 402, 403, 404, 429,
        500, 501, 502, 503, 504]
    }],
    "no-unused-expressions": ["error", {
      "allowShortCircuit": true,
      "allowTernary": true
    }],
    "no-unmodified-loop-condition": "error",
    "yoda": "error",
    "no-shadow": "error",
    "no-undef-init": "error",
    "no-inline-comments": "error",
    "new-cap": "warn",
    "no-nested-ternary": "error",
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "no-mixed-spaces-and-tabs": "error",
    "object-curly-spacing": ["error", "always"],
    "one-var": ["error", { "uninitialized": "always", "initialized": "never" }],

    // React
    "react/prop-types": "error"
  }
}
