var HyperDropdown = React.createClass({
    getInitialState: function () {
        return {
            openState: false
        };
    },

    handleMouseUp: function (e) {
        this.setState({openState: !this.state.openState});
    },

    handleBlur: function (e) {
        // Fixes an issue where firefox bubbles events instead of capturing them
        // See: https://github.com/facebook/react/issues/2011
        var _this = this;
        window.setTimeout(function () {
            _this.setState({openState: false});
        }, 200);
    },

    render: function () {
        function _image(props) {
            if (props.image) {
                return <img src={props.image.url} alt={props.image.title} className={props.image.className} />;
            } else if (props.fa) {
                return <span className={['fa', props.fa].join(' ')} />;
            }
        }

        var collapseStyle = {
            display: this.state.openState ? 'block' : 'none'
        };

        var sections;
        if (this.props.sections) {
            sections = (<ul className="dropdown-content" style={collapseStyle}>
                {this.props.sections.map(function(section) {
                    var title;
                    if (section.title && section.items.length > 0) {
                        title = <span className="dropdown-header">{section.title}</span>
                    }
                    return (<div>
                        {title}
                        {section.items.map(function(item) {
                            if (item.type == 'link') {
                                var divider;
                                if (item.divider && item.divider == 'top') {
                                    divider = <div className="dropdown-divider"></div>;
                                }

                                return (<li key={item.title} className={item.type}>
                                    {divider}
                                    <a href={item.url} >
                                        {_image(item)}
                                        <span className="icon-left">{item.title}</span>
                                    </a>
                                </li>);
                            }
                        })}
                    </div>);
                })}
            </ul>);
        }
        var image_after = _image({fa: this.props.fa_after});

        return (<li tabIndex="0" onMouseUp={this.handleMouseUp} onBlur={this.handleBlur} className="dropdown" data-intro="" data-position="">
            <a href="#" className="dropdown-trigger navbar-item" data-skip-pjax>
                {_image(this.props)}
                <span className="icon-left">{this.props.title}</span>
                {image_after}
            </a>
            {sections}
        </li>);
    }
});

var IntroStart = React.createClass({
    getInitialState: function () {
        return {};
    },

    render: function () {
        return (
            <li tabIndex="0" className="dropdown">
                <a className="intro-trigger navbar-item">
                    <span className="fa fa-question" />
                    <span className="icon-left"><%= I18n.t('intro.start') %></span>
                </a>
            </li>
        );
    }
});