
var NavbarLinksLeft = React.createClass({
    getInitialState: function () {
        return {
            home_text: "<%= I18n.t("home_title") %>",
            memberships: []
        };
    },

    componentDidMount: function() {
        $.get('/users/current', function(result) {
            if (this.isMounted()) {
                this.setState(result.user);
            }
        }.bind(this));
    },

    render: function () {
        return (
            <ul className="navbar-links">
                <li>
                    <a href="/" className="navbar-item">
                        <span className="fa fa-home"></span>
                    </a>
                </li>
                <li tabIndex="0" className="dropdown" data-intro="<%= I18n.t('intro.header.forums') %>" data-position="right">
                    <a href="#" className="dropdown-trigger navbar-item" data-skip-pjax>
                        <span className="fa fa-tags"></span>
                        <span className="icon-left">{this.state.home_text}</span>
                        <span className="fa fa-angle-down"></span>
                    </a>
                    <ul className="dropdown-content">
                        {this.state.memberships.map(function(membership) {
                            return (<li key={membership.forum}>
                                <a href={membership.url}>{membership.title}</a>
                            </li>);
                        })}
                        <div className="dropdown-divider"></div>
                        <a href={Routes.forums_path()} className="btn-focus">
                            <span className="fa fa-compass"></span>
                            <span className="icon-left"><%= I18n.t('forums.discover') %></span>
                        </a>
                    </ul>
                </li>
            </ul>
        );
    }
});

var HyperDropdown = React.createClass({
    getInitalState: function () {
        return {
            title: '',
            sections: []
        };
    },

    componentDidMount: function () {

    },

    render: function () {
        function _image(props) {
            if (props.image) {
                return <img src={props.image.url} alt={props.image.title} className={props.image.className} />;
            } else if (props.fa) {
                return <span className={['fa', props.fa].join(' ')} />;
            }
        }

        var sections;
        if (this.props.sections) {
            sections = (<ul className="dropdown-content dropdown-right">
                {this.props.sections.map(function(section) {
                    var title;
                    if (section.title && section.items.length > 0) {
                        title = <span className="dropdown-header">{section.title}</span>
                    }
                    return (<div>
                        {title}
                        {section.items.map(function(item) {
                            if (item.type == 'link') {
                                var divider;
                                if (item.divider && item.divider == 'top') {
                                    divider = <div className="dropdown-divider"></div>;
                                }


                                return (<li>
                                    {divider}
                                    <a href={item.url} >
                                        {_image(item)}
                                        <span className="icon-left">{item.title}</span>
                                    </a>
                                </li>);
                            }
                        })}
                    </div>);
                })}
            </ul>);
        }
        var image_after = _image({fa: this.props.fa_after});

        return (<li tabIndex="0" className="dropdown" data-intro="" data-position="">
            <a href="#" className="dropdown-trigger navbar-item" data-skip-pjax>
                {_image(this.props)}
                <span className="icon-left">{this.props.title}</span>
                {image_after}
            </a>
            {sections}
        </li>);
    }
});

var IntroStart = React.createClass({
    getInitialState: function () {
        return {};
    },

    render: function () {
        return (
                <li tabIndex="0" className="dropdown">
                    <a className="intro-trigger navbar-item">
                        <span className="fa fa-question" />
                        <span className="icon-left"><%= I18n.t('intro.start') %></span>
                    </a>
                </li>
        );
    }
});