<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>

$(function() {
    $(document).on('pjax:success', function() {
        var settings;
        if ((settings = $('.portal-settings'))) {
            var editableOptions = {
                onsubmit: function (settings) {
                    settings.target = '<%= portal_settings_path %>/';
                },
                submitdata : function(value, settings) {
                    return {key: this.getAttribute('id')};
                },
                indicator : 'Saving...',
                tooltip   : 'Click to edit...'
            };

            settings.find('.setting .value').editable('', editableOptions);

            settings.find('.add-setting').click(function () {
                var key = window.prompt('Enter the key', '');
                if (key !== null && key.length > 0) {
                    var newSetting = $('<tr class="setting"><td class="key">'+key+'</td><td class="value" id="'+key+'" title="Click to edit..."></td></tr>');
                    $('.settings-table tbody').append(newSetting);
                    newSetting.find('.value').editable('', editableOptions);
                }
            });
        }
    });
});