=semantic_form_for([resource, banner]) do |f|
  - banner.errors.full_messages.each do |message|
    =message
  =f.inputs name: t('newe_type', type: t('forums.settings.banner')) do
    =f.inputs :title, :content, :cited_avatar, :cited_name, :cited_function, :sample_size, :dismissable
    =f.input :audience, as: :select, collection: options_for_banner_audiences, prompt: ''
    =f.input :published_at, as: :datetime_picker
    =f.input :ends_at, as: :datetime_picker
  =f.actions do
    =f.action :submit, as: :button, label: :save
