=form_tag(polymorphic_path([resource, :comments]), :method => "post", id: "cf" + parent_id.to_s, class: "comment_form", style: visible ? "" : "display: none;") do
  section
    =text_area_tag :comment,"", :rows => 2, :cols => 50, placeholder: t("comments.placeholder"), class: "form-input-content"
    -unless parent_id.blank?
      input[type="hidden" class= "btn" name="parent_id" value ="#{parent_id}"]
  =render current_user.profile, locals= {resource: resource}
  =submit_tag t("opinions.show.reply"), class: "btn btn-sticky btn-sticky-bottom sta-bg"