.col-1
  header
    h1= t('arguments.comments.comments.confirm.headline')
  =render partial: 'arguments/show',
          locals: {model: resource,
                   comment: local_assigns[:comment]}
  .box
    =render partial: 'comments/form',
            locals: {resource: resource,
                     parent_id: local_assigns[:parent_id],
                     visible: true,
                     comment: local_assigns[:comment]}
  =link_to t('arguments.comments.comments.confirm.skip'), resource, class: 'btn'
