.col-1
  header
    h1= t('comments.confirm.headline')
  =render partial: "#{resource.model_name.plural}/show",
          locals: {model: resource,
                   comment: local_assigns[:comment]}
  .box
    =render partial: 'comments/form',
            locals: {resource: resource,
                     parent_id: local_assigns[:parent_id],
                     visible: true,
                     comment: local_assigns[:comment]}
  .float-right=link_to url_for(resource), class: 'btn-subtle' do
    span.fa.fa-arrow-right
    span.icon-left= t('comments.confirm.skip', skip_type: type_for(resource))
