<h1 class="top"><%= t "search.title", q: params["q"] %></h1>
<small><%= t "search.results_found", count: @search.total %></small>
<% for result in @search.results %>
  <%= render result %>
<% end %>
<%= paginate @search.results %>