=link_to polymorphic_url(happening.trackable), data: {remote: true}, class: generate_timeline_point_class(happening, active) do
  span[class="fa fa-#{icon_for(happening.trackable)}"]
  =link_to polymorphic_url(happening.trackable), data: {remote: true}, class: 'timeline-post-title' do
    span= happening.trackable.title
