-if resource.is_published?
  -if policy(resource).trash?
     =f.inputs(name: t('forms.danger_zone'), class: 'danger-zone') do
      =f.input :trashed_at, as: :reverse_boolean
-elsif !resource.is_trashed?
  =f.semantic_fields_for :edge do |ef|
    =ef.semantic_fields_for :argu_publication do |pf|
      - if policy(resource).permitted_nested_attributes(:edge_attributes, :argu_publication_attributes).include?(:publish_type)
        =pf.input(:publish_type, as: :radio, collection: Publication.publish_types.map { |type| [t("publications.type.#{type.first.to_s}"), type.first] })
        =pf.input(:published_at, as: :datetime_picker, label: false)
      - else
        =pf.input :publish_type, as: :hidden, input_html: {value: pf.object.publish_type}
