/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *



*/

/* footer */
/* line 5, ../../app/assets/stylesheets/footer.css.scss */
footer {
  margin-top: 0px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

/* line 12, ../../app/assets/stylesheets/footer.css.scss */
footer a {
  color: #555;
}

/* line 16, ../../app/assets/stylesheets/footer.css.scss */
footer a:hover {
  color: #222;
}

/* line 20, ../../app/assets/stylesheets/footer.css.scss */
footer small {
  float: left;
}

/* line 24, ../../app/assets/stylesheets/footer.css.scss */
footer ul {
  float: right;
  list-style: none;
}

/* line 29, ../../app/assets/stylesheets/footer.css.scss */
footer ul li {
  float: left;
  margin-left: 10px;
}

/* line 34, ../../app/assets/stylesheets/footer.css.scss */
.techs {
  text-align: center;
  margin-top: 0px;
}

/* line 39, ../../app/assets/stylesheets/footer.css.scss */
* {
  margin: 0;
}

/* line 42, ../../app/assets/stylesheets/footer.css.scss */
html, body {
  height: 100%;
}

/* line 45, ../../app/assets/stylesheets/footer.css.scss */
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -42px;
  /* the bottom margin is the negative value of the footer's height */
}

/* line 51, ../../app/assets/stylesheets/footer.css.scss */
.footer, .push {
  height: 42px;
  /* .push must be the same height as .footer */
}

/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/
/* line 14, ../../app/assets/stylesheets/newlayout.css.scss */
body {
  margin: 0px;
  padding: 0px;
  background-color: #f2f2f2;
}

/* line 20, ../../app/assets/stylesheets/newlayout.css.scss */
span {
  text-align: justify;
  color: black;
  font-family: Open Sans,verdana,arial,sans-serif;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
}

/* line 30, ../../app/assets/stylesheets/newlayout.css.scss */
.color {
  color: #5b5b5b;
}

/* line 35, ../../app/assets/stylesheets/newlayout.css.scss */
table td {
  border-style: none;
  vertical-align: middle;
  padding: 8px;
  border: none;
  font-family: Open Sans,verdana,arial,sans-serif;
  font-size: 0.8em;
  text-align: left;
  background-color: white;
  border: solid 1px #5b5b5b;
  border-top: none;
}

/* line 49, ../../app/assets/stylesheets/newlayout.css.scss */
table th {
  border-style: none;
  vertical-align: middle;
  padding: 5px;
  border: none;
  font-family: Open Sans,verdana,arial,sans-serif;
  font-size: 0.8em;
  text-align: left;
  color: white;
}

/* line 61, ../../app/assets/stylesheets/newlayout.css.scss */
div.clear {
  clear: both;
}

/* line 66, ../../app/assets/stylesheets/newlayout.css.scss */
.container {
  width: 95%;
  max-width: 1000px;
  margin: 0px auto;
}

/* line 73, ../../app/assets/stylesheets/newlayout.css.scss */
hr.stripe {
  border-color: #5b5b5b;
  border-style: none;
  border-top-style: solid;
}

/*Dit is de opmaak van gewone text, waaronder de toelichting van een argument + beschrijving van onderwerp*/
/* line 81, ../../app/assets/stylesheets/newlayout.css.scss */
p {
  text-align: justify;
  color: black;
  font-family: Open Sans,verdana,arial,sans-serif;
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  line-height: 1.3em;
}

/* line 92, ../../app/assets/stylesheets/newlayout.css.scss */
small {
  text-align: justify;
  color: black;
  font-family: Open Sans,verdana,arial,sans-serif;
  font-size: 0.7em;
  margin: 0px;
  padding: 5px;
  line-height: 1em;
}

/*header*/
/* line 104, ../../app/assets/stylesheets/newlayout.css.scss */
h1 {
  text-align: center;
  color: #5b5b5b;
  font-family: Raleway, Century Gothic,'bariol_lightlight', sans-serif;
  font-size: 1.6em;
  font-weight: 200;
  padding-bottom: 0.3em;
}

/* line 114, ../../app/assets/stylesheets/newlayout.css.scss */
h2 {
  text-align: center;
  color: #5b5b5b;
  font-family: Raleway, Century Gothic,'bariol_lightlight', sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  clear: both;
}

/* line 124, ../../app/assets/stylesheets/newlayout.css.scss */
h3 {
  text-align: justify;
  color: #5b5b5b;
  font-family: Open Sans,verdana, arial, sans-serif;
  font-size: 1em;
  margin: 0px;
  padding: 5px;
  padding-left: 8px;
  padding-bottom: 0px;
  margin-bottom: -5px;
  font-weight: normal;
}

/* line 138, ../../app/assets/stylesheets/newlayout.css.scss */
a {
  text-decoration: none;
  color: #5b5b5b;
  border-style: none;
  font-family: Open Sans,verdana, sans-serif;
  font-size: 0.9em;
  padding: 0px;
}

/* line 148, ../../app/assets/stylesheets/newlayout.css.scss */
a:hover {
  color: black !important;
}

/* line 153, ../../app/assets/stylesheets/newlayout.css.scss */
label {
  float: left;
  text-align: right;
  font-size: 20px;
  font-family: Raleway, Century Gothic,'bariol_lightlight', sans-serif;
  font-weight: 200;
  color: #5b5b5b;
  width: 250px;
  margin-top: 4px;
}

/* line 165, ../../app/assets/stylesheets/newlayout.css.scss */
label.vertical {
  text-align: left;
  padding-bottom: 5px;
}

/* line 171, ../../app/assets/stylesheets/newlayout.css.scss */
.box {
  display: block;
  padding: 12px;
  padding-bottom: 8px;
  padding-top: 8px;
  background-color: white;
  border-bottom: solid 2px #e2e2e2;
  margin-bottom: 20px;
  border-radius: 3px;
  max-width: 600px;
}

/* line 189, ../../app/assets/stylesheets/newlayout.css.scss */
.statement {
  margin-left: auto;
  margin-right: auto;
}
/* line 191, ../../app/assets/stylesheets/newlayout.css.scss */
.statement .title {
  color: #4c88a8;
  font-size: 1.2em;
}

/* line 200, ../../app/assets/stylesheets/newlayout.css.scss */
.opinionbtns {
  max-width: 624px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  overflow: hidden;
}
/* line 207, ../../app/assets/stylesheets/newlayout.css.scss */
.opinionbtns a {
  display: block;
  float: left;
  width: 33.3%;
  text-align: center;
  line-height: 1.4em;
}
/* line 214, ../../app/assets/stylesheets/newlayout.css.scss */
.opinionbtns .oppro {
  color: white;
  background-color: #a5bc9f;
}
/* line 218, ../../app/assets/stylesheets/newlayout.css.scss */
.opinionbtns .oppro:hover {
  color: white !important;
  background-color: #76966e;
}
/* line 222, ../../app/assets/stylesheets/newlayout.css.scss */
.opinionbtns .opneu {
  color: white;
  background-color: #c6c6c6;
}
/* line 226, ../../app/assets/stylesheets/newlayout.css.scss */
.opinionbtns .opneu:hover {
  color: white !important;
  background-color: gray;
}
/* line 230, ../../app/assets/stylesheets/newlayout.css.scss */
.opinionbtns .opcon {
  color: white;
  background-color: #cea7a7;
}
/* line 234, ../../app/assets/stylesheets/newlayout.css.scss */
.opinionbtns .opcon:hover {
  color: white !important;
  background-color: #aa6d6d;
}

/* line 241, ../../app/assets/stylesheets/newlayout.css.scss */
.pro {
  margin-right: 11px;
}
/* line 244, ../../app/assets/stylesheets/newlayout.css.scss */
.pro .title {
  color: #76966e;
}
/* line 248, ../../app/assets/stylesheets/newlayout.css.scss */
.pro h2 {
  color: white;
  background-color: #76966e;
}

/* line 255, ../../app/assets/stylesheets/newlayout.css.scss */
.con {
  /*	background-color: #faf4f3;*/
  overflow: hidden;
  margin-left: 11px;
}
/* line 260, ../../app/assets/stylesheets/newlayout.css.scss */
.con .title {
  color: #aa6d6d;
}
/* line 264, ../../app/assets/stylesheets/newlayout.css.scss */
.con h2 {
  color: white;
  background-color: #aa6d6d;
}

/* line 271, ../../app/assets/stylesheets/newlayout.css.scss */
.argcontainer1 {
  width: 100%;
  overflow: hidden;
  clear: left;
}

/* line 278, ../../app/assets/stylesheets/newlayout.css.scss */
.argcontainer2 {
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
}

/* line 286, ../../app/assets/stylesheets/newlayout.css.scss */
.argtypebox {
  margin-bottom: 20px;
}
/* line 289, ../../app/assets/stylesheets/newlayout.css.scss */
.argtypebox h2 {
  line-height: 1.3em;
  height: 1.4em;
  border-radius: 3px;
}

/* line 297, ../../app/assets/stylesheets/newlayout.css.scss */
textarea {
  resize: none;
}

/* line 302, ../../app/assets/stylesheets/newlayout.css.scss */
select {
  border: none;
  background: transparent;
  color: gray;
  font-family: Open Sans,verdana,arial,sans-serif;
  font-size: 0.8em;
}

/* line 311, ../../app/assets/stylesheets/newlayout.css.scss */
.navcontent {
  list-style-type: none;
  display: block;
  text-align: center;
}
/* line 316, ../../app/assets/stylesheets/newlayout.css.scss */
.navcontent li {
  display: inline;
}
/* line 320, ../../app/assets/stylesheets/newlayout.css.scss */
.navcontent a {
  font-family: Raleway, Century Gothic,'bariol_lightlight', sans-serif;
  font-size: 1.8em;
  font-weight: 200;
  padding: 0px;
  margin-right: 8px;
  margin-left: 8px;
  line-height: 1.3em;
}
/* line 330, ../../app/assets/stylesheets/newlayout.css.scss */
.navcontent a:hover {
  border-bottom: solid 5px #e2e2e2;
}
/* line 335, ../../app/assets/stylesheets/newlayout.css.scss */
.navcontent a.current {
  border-bottom: solid 5px #e2e2e2;
}
/* line 339, ../../app/assets/stylesheets/newlayout.css.scss */
.navcontent a.current:hover {
  color: black !important;
}

/* line 345, ../../app/assets/stylesheets/newlayout.css.scss */
.procon {
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
  overflow: hidden;
  min-width: 200px;
}

/* line 355, ../../app/assets/stylesheets/newlayout.css.scss */
.verticalborder {
  border-left: solid 1px #5b5b5b;
}

/* line 360, ../../app/assets/stylesheets/newlayout.css.scss */
.center {
  margin-left: auto;
  margin-right: auto;
}

/* line 366, ../../app/assets/stylesheets/newlayout.css.scss */
.centerbar {
  text-align: center;
  margin-bottom: 20px;
}

/* line 372, ../../app/assets/stylesheets/newlayout.css.scss */
.leftbar {
  text-align: left;
  margin-bottom: 20px;
}
/* line 375, ../../app/assets/stylesheets/newlayout.css.scss */
.leftbar h2 {
  text-align: left;
}

/* line 381, ../../app/assets/stylesheets/newlayout.css.scss */
.left {
  text-align: left;
}

/* line 386, ../../app/assets/stylesheets/newlayout.css.scss */
.floatleft {
  float: left;
}

/* line 391, ../../app/assets/stylesheets/newlayout.css.scss */
div.dropdown {
  height: 30px;
  width: 50%;
  padding-right: 10px;
}

/* line 397, ../../app/assets/stylesheets/newlayout.css.scss */
#speech-bubble:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid blue;
  border-bottom: 13px solid transparent;
  margin: 13px 0 0 -25px;
}

/* line 409, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar {
  width: 100%;
  background-color: white;
  float: left;
  border-bottom: solid 2px #e2e2e2;
  margin-bottom: 20px;
}

/* line 419, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar #mainbar {
  margin: 0px auto;
  padding: 0px;
  width: 90%;
  max-width: 1000px;
}
/* line 424, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar #mainbar:hover ul .dropdown {
  display: block;
}

/* line 428, ../../app/assets/stylesheets/newlayout.css.scss */
ul .dropdown {
  display: none;
  position: absolute;
  top: 0.8em;
  left: 0;
}
/* line 435, ../../app/assets/stylesheets/newlayout.css.scss */
ul .dropdown li {
  top: auto;
  left: auto;
}

/* line 443, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar li {
  list-style-type: none;
  display: inline-block;
  float: left;
  border-left: solid 1px white;
}

/* line 451, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar li a {
  display: block;
  font-family: Raleway, Century Gothic, sans-serif;
  font-size: 16px;
  font-weight: 200;
  line-height: 39px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 463, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar li #argulogo {
  font-size: 36px;
  padding-top: 0px;
  padding-bottom: 6px;
  border-right: solid 1px white;
}

/* line 475, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar .close {
  border-right: solid 1px white;
}

/* line 480, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar li:hover {
  background-color: #e2e2e2;
}

/* line 485, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar li #search {
  -webkit-appearance: none;
  box-sizing: content-box;
  background-color: white;
  height: 35px;
  width: 60px;
  padding: 5px;
  padding-left: 10px;
  font-family: Raleway, Century Gothic, sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #5b5b5b;
  float: right;
  border: none;
}

/* line 503, ../../app/assets/stylesheets/newlayout.css.scss */
#search-moz-placeholder {
  color: #5b5b5b;
}

/* line 508, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar li textarea:focus, div#navbar li input:focus {
  background-color: #e2e2e2 !important;
  border-style: none !important;
  width: 200px !important;
  font-size: 16px !important;
  webkit-appearance: none !important;
}

/* line 516, ../../app/assets/stylesheets/newlayout.css.scss */
div#navbar li textarea:hover, div#navbar li input:hover {
  background-color: #e2e2e2 !important;
}

/* line 520, ../../app/assets/stylesheets/newlayout.css.scss */
::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 524, ../../app/assets/stylesheets/newlayout.css.scss */
#search {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

/* line 530, ../../app/assets/stylesheets/newlayout.css.scss */
#search::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #5b5b5b !important;
}

/* line 533, ../../app/assets/stylesheets/newlayout.css.scss */
#search:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #5b5b5b !important;
}

/* line 536, ../../app/assets/stylesheets/newlayout.css.scss */
#search::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #5b5b5b !important;
}

/* line 539, ../../app/assets/stylesheets/newlayout.css.scss */
#search:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #5b5b5b !important;
}

/* line 560, ../../app/assets/stylesheets/newlayout.css.scss */
div#navr {
  float: right;
}

/* line 565, ../../app/assets/stylesheets/newlayout.css.scss */
div#nothingbar {
  width: 100px;
  display: block;
}

/*Dit is de opmaak van een comment*/
/* line 572, ../../app/assets/stylesheets/newlayout.css.scss */
a.commentusername {
  color: #5b5b5b;
  position: relative;
  float: left;
  top: 0px;
  border-style: none;
  padding: 3px;
  border-color: #5b5b5b;
  font-family: Open Sans,verdana,arial,sans-serif;
  font-size: 0.8em;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 587, ../../app/assets/stylesheets/newlayout.css.scss */
#commentstitle {
  display: block;
  background-color: #f2f2f2;
  border-width: 1px;
  border-color: #5b5b5b;
  width: 100%;
  height: 45px;
  overflow: hidden;
}

/* line 598, ../../app/assets/stylesheets/newlayout.css.scss */
.buttons li {
  display: inline;
  width: auto;
}

/* line 604, ../../app/assets/stylesheets/newlayout.css.scss */
ul.buttons {
  margin-top: 2px;
}

/* line 611, ../../app/assets/stylesheets/newlayout.css.scss */
.buttons a {
  color: white;
  width: auto;
  float: right;
  font-family: Open Sans,verdana,arial,sans-serif;
  font-size: 0.8em;
  padding-left: 10px;
  padding-top: 4px;
}
/* line 621, ../../app/assets/stylesheets/newlayout.css.scss */
.buttons p {
  float: left;
  color: gray;
}

/* line 630, ../../app/assets/stylesheets/newlayout.css.scss */
.comments .box {
  margin-bottom: 8px;
}
/* line 634, ../../app/assets/stylesheets/newlayout.css.scss */
.comments .c0 {
  margin-left: 0px;
}
/* line 638, ../../app/assets/stylesheets/newlayout.css.scss */
.comments .c1 {
  margin-left: 25px;
}
/* line 642, ../../app/assets/stylesheets/newlayout.css.scss */
.comments .c2 {
  margin-left: 50px;
}
/* line 646, ../../app/assets/stylesheets/newlayout.css.scss */
.comments .c3 {
  margin-left: 75px;
}
/* line 650, ../../app/assets/stylesheets/newlayout.css.scss */
.comments .c4 {
  margin-left: 100px;
}

/* line 656, ../../app/assets/stylesheets/newlayout.css.scss */
p.comment {
  border-top-style: solid;
  border-width: 1px;
  border-color: #c6c6c6;
  clear: both;
  color: gray;
  padding-top: 4px;
  font-size: 0.8em;
}
/* line 664, ../../app/assets/stylesheets/newlayout.css.scss */
p.comment a {
  color: #575757;
}

/* line 670, ../../app/assets/stylesheets/newlayout.css.scss */
p.comment:hover {
  color: black;
}

/* line 675, ../../app/assets/stylesheets/newlayout.css.scss */
.comment_form {
  display: block;
  margin-right: 4px;
  margin-top: 3px;
}
/* line 679, ../../app/assets/stylesheets/newlayout.css.scss */
.comment_form textarea {
  width: 100%;
  border-color: #e2e2e2;
  margin-bottom: 6px;
}

/* line 689, ../../app/assets/stylesheets/newlayout.css.scss */
.box:hover .buttons a {
  color: gray;
}

/* line 693, ../../app/assets/stylesheets/newlayout.css.scss */
.box:hover .votebtn a {
  color: #4c88a8;
}

/* line 698, ../../app/assets/stylesheets/newlayout.css.scss */
.info {
  float: left;
}
/* line 701, ../../app/assets/stylesheets/newlayout.css.scss */
.info p {
  color: gray;
  font-size: 0.7em;
  position: relative;
  top: 2px;
}
/* line 708, ../../app/assets/stylesheets/newlayout.css.scss */
.info a {
  display: inline;
  float: none;
  border-style: none;
  background-color: none;
  padding: 0px;
  font-size: 1em;
  color: gray;
}

/*Dit is de opmaak van een deelonderwerptitel (meestal is dit "argumenten")*/
/* line 721, ../../app/assets/stylesheets/newlayout.css.scss */
.navrow {
  clear: both;
  margin-bottom: 20px;
  margin-top: -5px;
}

/* line 728, ../../app/assets/stylesheets/newlayout.css.scss */
.title {
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: Open Sans,verdana, arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.1em;
  padding-bottom: 0.2em;
}

/* line 740, ../../app/assets/stylesheets/newlayout.css.scss */
.lefttitle {
  padding: 0px;
  text-align: left;
}

/* line 746, ../../app/assets/stylesheets/newlayout.css.scss */
p.vote {
  display: inline;
  color: #5b5b5b;
  font-family: Open Sans,verdana, sans-serif;
  font-size: 0.9em;
  font-weight: bold;
  float: left;
  line-height: 1.4em;
}

/* line 757, ../../app/assets/stylesheets/newlayout.css.scss */
p.votelabel {
  display: inline;
  color: gray;
  font-family: Open Sans,verdana, sans-serif;
  font-size: 0.7em;
  float: left;
  line-height: 1.7em;
  margin-right: 3px;
}

/* line 770, ../../app/assets/stylesheets/newlayout.css.scss */
.votebtn a {
  font-size: 0.9em;
  display: inline;
  font-weight: bold;
  color: white;
  padding: 0px;
  line-height: 1.4em;
  width: 20px;
  text-align: center;
  float: left;
}

/* line 792, ../../app/assets/stylesheets/newlayout.css.scss */
.noargs {
  height: 78px;
  padding-bottom: 12px;
}

/* line 798, ../../app/assets/stylesheets/newlayout.css.scss */
.control-group {
  border-style: none;
  color: #5b5b5b;
}

/* line 804, ../../app/assets/stylesheets/newlayout.css.scss */
.form-actions {
  border-style: none;
}

/* line 809, ../../app/assets/stylesheets/newlayout.css.scss */
.form-horizontal {
  width: auto;
  min-height: 200px;
  padding: 0px;
  margin-right: 20px;
  font-family: Open Sans,verdana, sans-serif;
}

/* Revisions styling */
/* line 819, ../../app/assets/stylesheets/newlayout.css.scss */
.revbar {
  display: block;
  background-color: #5b5b5b;
  width: 100%;
  height: 45px;
  overflow: hidden;
  border-top: solid 1px white;
}
/* line 828, ../../app/assets/stylesheets/newlayout.css.scss */
.revbar ul {
  margin: 0px auto;
  padding: 0px;
  width: 960px;
}
/* line 834, ../../app/assets/stylesheets/newlayout.css.scss */
.revbar ul li {
  list-style-type: none;
  display: inline-block;
  float: left;
}
/* line 840, ../../app/assets/stylesheets/newlayout.css.scss */
.revbar ul li h3 {
  color: white;
}
/* line 842, ../../app/assets/stylesheets/newlayout.css.scss */
.revbar ul li h3 a {
  text-decoration: none;
}
/* line 848, ../../app/assets/stylesheets/newlayout.css.scss */
.revbar #revheader {
  padding-left: 150px;
}
/* line 853, ../../app/assets/stylesheets/newlayout.css.scss */
.revbar #revprev {
  float: right;
}

/* line 859, ../../app/assets/stylesheets/newlayout.css.scss */
.revunderbar {
  list-style-type: none;
  font-family: Open Sans,verdana, sans-serif;
  text-align: center;
  border: 1px;
  border-style: none;
  border-color: #5b5b5b;
  background-color: white;
  padding-bottom: 5px;
}
/* line 870, ../../app/assets/stylesheets/newlayout.css.scss */
.revunderbar li {
  display: inline;
}
/* line 873, ../../app/assets/stylesheets/newlayout.css.scss */
.revunderbar li h3 {
  display: inline;
}

/* line 881, ../../app/assets/stylesheets/newlayout.css.scss */
.revtbl tr:nth-child(even) {
  background: #E9F2DD;
}
/* line 882, ../../app/assets/stylesheets/newlayout.css.scss */
.revtbl tr:nth-child(odd) {
  background: #F0F3FC;
}
/* line 883, ../../app/assets/stylesheets/newlayout.css.scss */
.revtbl tr:nth-child(1) {
  background: #5b5b5b;
}

/* line 887, ../../app/assets/stylesheets/newlayout.css.scss */
.alert {
  border: solid 1px #4c88a8;
  border-radius: 3px;
  background-color: white;
  font-family: Open Sans,verdana, sans-serif;
  padding: 5px;
  margin-bottom: 20px;
}

/* line 897, ../../app/assets/stylesheets/newlayout.css.scss */
.alert-Notice {
  border-color: #76966e;
}

/* line 902, ../../app/assets/stylesheets/newlayout.css.scss */
.alert-Error {
  border-color: #aa6d6d;
}

/*  Authentications page */
/* line 908, ../../app/assets/stylesheets/newlayout.css.scss */
.authentication {
  font-family: Open Sans,verdana, sans-serif;
  width: 410px;
  background-color: white;
  border: solid 1px #5b5b5b;
  height: 64px;
}

/* line 916, ../../app/assets/stylesheets/newlayout.css.scss */
.authentication .remove {
  text-decoration: none;
  position: relative;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 15px;
}

/* line 926, ../../app/assets/stylesheets/newlayout.css.scss */
.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
}

/* line 931, ../../app/assets/stylesheets/newlayout.css.scss */
.authentication img {
  float: left;
  margin-right: 15px;
}

/* line 936, ../../app/assets/stylesheets/newlayout.css.scss */
.authentication .provider {
  margin-top: 5px;
}

/* line 940, ../../app/assets/stylesheets/newlayout.css.scss */
.authentication .uid {
  color: #666;
  font-size: 15px;
  padding-top: 5px;
}

/* line 946, ../../app/assets/stylesheets/newlayout.css.scss */
.auth_provider img {
  border-style: solid;
  border-width: 1px;
  margin-right: 16px;
  margin-bottom: -4px;
  opacity: 0.8;
}

/* line 954, ../../app/assets/stylesheets/newlayout.css.scss */
.auth_provider :hover {
  opacity: 1;
}

/* line 958, ../../app/assets/stylesheets/newlayout.css.scss */
#error_explanation {
  background-color: white;
  border: solid 1px #5b5b5b;
  font-family: Open Sans,verdana, sans-serif;
  font-size: 0.8em;
  color: #5b5b5b;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 966, ../../app/assets/stylesheets/newlayout.css.scss */
#error_explanation h2 {
  text-align: left;
  margin-bottom: 5px;
}

/* line 973, ../../app/assets/stylesheets/newlayout.css.scss */
.btn {
  display: inline-block;
  background-color: white;
  color: #5b5b5b;
  border: none;
  border-bottom: solid 2px #e2e2e2;
  padding: 5px;
  padding-bottom: 7px;
  width: auto;
  font-family: Open Sans,verdana, sans-serif;
  font-size: 14px;
  text-align: center;
  border-radius: 3px;
}
/* line 987, ../../app/assets/stylesheets/newlayout.css.scss */
.btn input {
  text-decoration: none;
  margin-left: -1px;
  color: white;
}

/* line 996, ../../app/assets/stylesheets/newlayout.css.scss */
.btn:hover {
  border-bottom: solid 2px gray;
  color: black;
}

/*Zoekresultaten*/
/* line 1003, ../../app/assets/stylesheets/newlayout.css.scss */
.grey {
  color: gray;
}

/* Profile en settings */
/* line 1009, ../../app/assets/stylesheets/newlayout.css.scss */
.profile #head {
  list-style-type: none;
}
/* line 1013, ../../app/assets/stylesheets/newlayout.css.scss */
.profile #head #editbtn {
  float: right;
  vertical-align: text-top;
  padding-top: 7px;
}

/* line 1021, ../../app/assets/stylesheets/newlayout.css.scss */
div.pageconf {
  float: right;
  height: 25px;
  display: inline;
}

/* line 1028, ../../app/assets/stylesheets/newlayout.css.scss */
div.pageconf ul {
  list-style: none;
}

/* line 1033, ../../app/assets/stylesheets/newlayout.css.scss */
div.pageconf li a {
  text-decoration: none;
}

/* line 1037, ../../app/assets/stylesheets/newlayout.css.scss */
.leftcolumn {
  width: 40%;
  float: left;
}

/* line 1042, ../../app/assets/stylesheets/newlayout.css.scss */
.rightcolumn {
  width: 60%;
  float: right;
}

/* line 1047, ../../app/assets/stylesheets/newlayout.css.scss */
.label-row {
  margin-bottom: 20px;
}

/* line 1051, ../../app/assets/stylesheets/newlayout.css.scss */
.label-subrow {
  margin-left: 270px;
  width: 100%;
}

/* line 1057, ../../app/assets/stylesheets/newlayout.css.scss */
.helpertext {
  float: left;
  width: 45%;
  color: #f2f2f2;
  margin-left: 10px;
  text-align: left;
}

/* line 1066, ../../app/assets/stylesheets/newlayout.css.scss */
.label-row:hover .helpertext {
  color: #5b5b5b;
}

/* line 1071, ../../app/assets/stylesheets/newlayout.css.scss */
.settingform {
  color: #5b5b5b;
  font-family: Open Sans,verdana, sans-serif;
  font-size: 16px;
  width: 350px;
  background: white;
  border: solid 1px #5b5b5b;
  height: auto;
  padding: 5px;
}

/* line 1083, ../../app/assets/stylesheets/newlayout.css.scss */
.verticalform {
  color: black;
  font-size: 0.8em;
  border-color: #5b5b5b;
  float: left;
  width: 50%;
}

/* line 1092, ../../app/assets/stylesheets/newlayout.css.scss */
.remember {
  color: #5b5b5b;
}

/*Responsive design voor kleinere displays*/
@media screen and (max-width: 550px) {
  /* line 1098, ../../app/assets/stylesheets/newlayout.css.scss */
  .procon {
    width: 100%;
  }

  /* line 1101, ../../app/assets/stylesheets/newlayout.css.scss */
  .pro {
    margin-right: 0px;
  }

  /* line 1104, ../../app/assets/stylesheets/newlayout.css.scss */
  .con {
    margin-left: 0px;
  }

  /* line 1109, ../../app/assets/stylesheets/newlayout.css.scss */
  label {
    float: none;
    display: block;
    line-height: 1.2em;
    text-align: left;
  }

  /* line 1115, ../../app/assets/stylesheets/newlayout.css.scss */
  .label-subrow {
    margin-left: 0;
  }

  /* line 1118, ../../app/assets/stylesheets/newlayout.css.scss */
  .verticalform {
    width: 100%;
  }

  /* line 1121, ../../app/assets/stylesheets/newlayout.css.scss */
  .helpertext {
    width: 100%;
    color: #5b5b5b;
    margin-left: 0px;
  }
}
/*Transitie effecten op alles*/
/* line 1130, ../../app/assets/stylesheets/newlayout.css.scss */
* {
  transition: all 250ms;
  -moz-transition: all 250ms;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
}
/* line 2, ../../app/assets/stylesheets/settings.css.scss */
.settings-menu {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 6, ../../app/assets/stylesheets/settings.css.scss */
.settings-menu ul {
  list-style-type: none;
}
/* line 9, ../../app/assets/stylesheets/settings.css.scss */
.settings-menu ul li {
  width: 100px;
  padding: 2px;
  margin-top: -1px;
}
/* line 14, ../../app/assets/stylesheets/settings.css.scss */
.settings-menu ul li .active {
  color: white;
  background-color: #824587;
}

/* line 23, ../../app/assets/stylesheets/settings.css.scss */
.setting-content {
  overflow: hidden;
}
/* line 25, ../../app/assets/stylesheets/settings.css.scss */
.setting-content ul {
  list-style-type: none;
}
/* line 29, ../../app/assets/stylesheets/settings.css.scss */
.setting-content .newline {
  float: left;
  width: 100%;
}
/* line 34, ../../app/assets/stylesheets/settings.css.scss */
.setting-content .settings-row {
  border: 1px;
  border-style: solid;
  float: left;
  padding: 2px;
  margin-top: -1px;
  width: 75%;
}
/* line 43, ../../app/assets/stylesheets/settings.css.scss */
.setting-content .settings-row .column-name {
  padding-top: 2px;
  width: 40%;
  float: left;
}
/* line 49, ../../app/assets/stylesheets/settings.css.scss */
.setting-content .settings-row .column-content {
  width: 59%;
  border: inset;
  border-width: 2px;
  float: right;
}
/* line 55, ../../app/assets/stylesheets/settings.css.scss */
.setting-content .settings-row .column-content input {
  width: 260px !important;
  text-overflow: ellipsis;
}
