=semantic_form_for(resource, url: group_membership_index_path(resource, r: group_redirect_url(resource)), method: :post) do |f|
  =f.inputs name: t('group_memberships.new', singular: resource.name_singular) do
    =react_component_store 'NewMembership', props: {things: 'users,pages'}
  =f.actions do
    =f.action :submit, as: :button
- if active_for_user?(:bearer_token_management, current_user)
  =react_component_store 'BearerTokens', props: {groupId: resource.id, createTokenUrl: '/tokens', indexTokenUrl: '/tokens/bearer'}
