=semantic_form_for authenticated_resource, url: settings_user_path, method: :put, remote: true, authenticity_token: true do |f|
  =f.inputs name: t('forms.danger_zone'), class: 'danger-zone' do
    .form-item
      =link_to t('users_cancel_title'), cancel_user_registration_path(current_user)
