=semantic_form_for authenticated_resource, url: settings_user_path, method: :put, remote: true do |f|
  =f.inputs name: t('users.registrations.categories.notifications') do
    p= t('notifications.email.info_html')
    =f.input :reactions_email, as: :react_select, collection: options_for_reactions_email, clearable: false
    =f.input :news_email, as: :react_select, collection: options_for_news_email, clearable: false
  =f.input :tab, as: :hidden, input_html: {value: tab}
  =f.actions do
    =f.action :submit, as: :button, label: t('save')
