=f.inputs name: t('users.registrations.categories.notifications') do
  p= t('notifications.email.info_html')
  =f.input :reactions_email, as: :react_select, collection: options_for_reactions_email, clearable: false
  =f.input :news_email, as: :react_select, collection: options_for_news_email, clearable: false
