<h2>Settings</h2>
<div id="settings"></div>
<%= form_tag( '/users/' + current_user.id.to_s + '/settings', {:controller => :user, :remote => :true, :method => :post , class: "form-horizontal"} ) do %>
  <fieldset class="control-group">
    <%= label_tag "locale", nil, class: "control-label" %>
    <div class="controls"><%= select_tag "locale", options_for_select([
            ["English", "en"],
            ["Nederlands", "nl"]],
            current_user.settings.locale) %></div>
  </fieldset>
  <fieldset class="form-actions">
    <%= submit_tag "Update", class: "btn btn-primary" %>
  </fieldset>
<% end %>