=semantic_form_for [resource.page, resource], multipart: true do |f|
  =f.input :active, value: local_assigns[:active], as: :hidden
  =f.inputs name: t('sources.settings.general') do
    =f.input :name
    =f.input :iri_base
  =f.input :tab, input_html: {value: local_assigns[:tab]}, as: :hidden
  =f.actions do
    =f.action :submit, as: :button
