=semantic_form_for(@shortname) do |f|
  -@shortname.errors.full_messages.each do |message|
    =message
  =f.inputs name: t('update_type', type: t('shortnames.type')) do
    =f.inputs :shortname, required: true
    =f.input :owner_type, as: :select, collection: shortname_owner_types, include_blank: false, required: true
    =f.input :owner_id, as: :number, required: true
  =f.actions do
    =f.action :submit, as: :button
