=semantic_form_for(shortname, url: local_assigns[:url], remote: true, authenticity_token: true) do |f|
  -shortname.errors.add(:owner_id, shortname.errors.delete(:owner))
  =f.inputs name: input_name do
    =f.semantic_errors :base
    =f.inputs :shortname, required: true
    =f.input :owner_type, as: :select, collection: shortname_owner_types, include_blank: false, required: false
    =f.input :owner_id, as: :number, required: true
  =f.actions do
    =f.action :submit, as: :button
