- identities.each do |identity|
  .form-item
    =image_tag "favicon_#{identity.provider}.svg", size: '64x64'
    -if show_decouple
      =link_to t('users_oauth_remove'), user_identity_path(user_id: identity.user, id: identity.id),
             data: { confirm: 'Are you sure you want to remove this authentication option?', method: :delete,  'skip-pjax' => true},
             class: 'remove', rel: :nofollow
