<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "favicon_twitter.svg", :size => "64x64",
  :alt => "Twitter" %></a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "favicon_facebook.svg", :size => "64x64",
  :alt => "Facebook" %></a>
<a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "favicon_google.svg", :size => "64x64",
  :alt => "Google" %></a>
<a href="/auth/openid" class="auth_provider">
  <%= image_tag "favicon_openid.svg", :size => "64x64",
  :alt => "OpenID" %></a>