form[action="" class="sort"]
	.leftbar
		h2[style="display:inline; margin-right: 20px;"]= t("arguments.comments.title")
		.sortoptions
			span.sortlabel sorteer op:
			select[name="sort"]
				option[value="highest"]Hoogst beoordeeld
				option[value="newest"]Nieuwst
.comments
	- @comments.each do |c|
		= render partial: 'buildcomment', locals: { c: c, depth: 1 }
	= paginate @comments