<form action="" class="sort">
	<div class="leftbar">
		<h2 style="display:inline; margin-right: 20px;"><%= t("arguments.comments.title") %></h2>
		<div class="sortoptions"><!-- TODO -->
			<span class="sortlabel">sorteer op:</span>
			<select name="sort">
				<option value="highest">Hoogst beoordeeld</option>
				<option value="newest">Nieuwst</option>
			</select>
		</div>
	</div>
</form>
<div class="comments">
	<% @comments.each do |c| %>
		<%= render partial: 'buildcomment', locals: { c: c, depth: 1 } %>
	<% end %>
	<%= paginate @comments %>
</div>