<div id="commentstitle">
	<div class="stcont3">
		<h2><%= t("arguments.comments.title") %></h2>
	</div>
</div>
<div class="comments">
	<% @comments.each do |c| %>
		<%= render partial: 'buildcomment', locals: { c: c, depth: 1 } %>
	<% end %>
	<%= paginate @comments %>
</div>