<%= link_to(argument_path(argument)) do %><pre><div class="arghov"><h4 class="content arghead"><%= argument.title %></h4></div><span class="content"><%= argument.content[0,140] + ((argument.content.length < 140) ? "" : "...") %></span>
<p class="timestamp argtime"><small>Posted <%= time_ago_in_words(argument.created_at) %> ago.</small>
</p></pre><% end %>