<pre><h4 class="content"><%= Argument.find_by_id(statementargument.argument_id).title %></h4>
<span class="content"><%= Argument.find_by_id(statementargument.argument_id).content[0,140] + ((Argument.find_by_id(statementargument.argument_id).content.length < 140) ? "" : "...") %></span>
<p class="timestamp"><small>Posted <%= time_ago_in_words(Argument.find_by_id(statementargument.argument_id).created_at) %> ago.</small>
</p><%= link_to "x", Statementargument.find_by_id(statementargument.id), class:"btn btn-danger", confirm: t(:application_general_destroy_confirmation), method: :delete %></pre>