<div class="centerbox">
	<h2 class="top"><%= t("arguments.comments.title") %></h1>
</div>
<div class="comments">
	<% @comments.each do |c| %>
		<%= render partial: 'buildcomment', locals: { c: c, depth: 1 } %>
	<% end %>
	<%= paginate @comments %>
</div>