.votebtn[id=argument.id.to_s]
  = argument.votes.first.voter_id == current_user.id && argument.votes.first.for?(:pro) ? \
  (link_to '-1', argument_vote_path(argument), :remote => true, method: :delete) : \
  (link_to '+1', argument_vote_path(argument), :remote => true, method: :post, class:"tooltip", title:t("votes.tooltips.argument"))