<div class= "label-row">
  <p class="lefttitle"><%= t("arguments.new.header", side: params[:pro] ? t("arguments.pro") : t("arguments.con")) %></p>
  <h1 class="title statement lefttitle"><%= @argument.statement.title %></h2>
</div>
<%= render 'form' %>