<% provide(:menu_class, 'arguments') %>
<p class="color">nieuw argument voor de stelling</p>
		<h2 class="left">alle homo's zijn gay</h2>
<h1><%= t("new_type", type: t("arguments.type")).capitalize %></h1>

<%= render 'form' %>
