<% provide(:menu_class, 'arguments') %>
  <div class= "label-row">
		<p class="color"><%= t("arguments.new.header", side: params[:pro] ? t("arguments.pro") : t("arguments.con")) %></p>
		<h2 class="left">Hier moet de titel van de stelling komen te staan</h2>
  </div>
<%= render 'form' %>
