<div class= "label-row">
  <h1><%= t("arguments.new.header", side: params[:pro] ? t("arguments.pro") : t("arguments.con")) %></p>
  <h1 class="title statementtitle"><%= @argument.statement.title %></h1> <!--TODO make link -->
</div>
<%= render 'form' %>