<% provide(:menu_class, 'arguments') %>
  <div class= "label-row">
		<p class="lefttitle"><%= t("arguments.new.header", side: params[:pro] ? t("arguments.pro") : t("arguments.con")) %></p>
		<h1 class="title statement lefttitle">Hier moet de titel van de stelling komen te staan</h2> <!-- TODO -->
  </div>
<%= render 'form' %>
