-provide(:title, @argument.title.nil? ? t('arguments.show.title') : @argument.title)
.col-1
  ==cell(:context, @argument).call(:to_parent)
  =render 'body'
  =render template: 'comments/show', locals: { resource: @argument }