<% provide(:title, @argument.title.nil? ? t(:argument_title) : @argument.title) %>
<% provide(:menu_class, 'arguments') %>
<header>
	<h1><%= @argument.title %></h1>
	<p class= "intro"><%= @argument.content %></p>
	<hr />
</header>
<hr class="streep" />
<div id="commentstitle">
	<h2>Reacties</h2>
</div>
<div class="row">
	<div class="span2">
		<%= link_to t(:application_general_back), arguments_path, class: "btn" %>
		<%= link_to t(:application_general_edit), edit_argument_path(@argument), class: "btn btn-primary" %>
	</div>
</div>
