<div class="setting-content">
	<ul>
		<li><h1 id="txt">Linked Accounts</h1></li>
	</ul>
	<div>
		<div class="newline">
			<%= render 'authentications/login_providers_connected' %>
		</div>
		<div class="newline">
			<h3 id="txt">Link additional</h3>
			<%= render 'authentications/login_providers', size: 32 %>
		</div>
	</div>
</div>