$("#settings").replaceWith("<div id=\"settings\" class=\"alert alert-block alert-Notice\" data-dismiss=\"alert\"><%= @success ? "Settings saved" : "Something went wrong" %><a class=\"close\"><i class=\"icon ok\" alt=\"x\" >x</i></a></div>");
	