<% provide(:menu_class, 'profile') %>
<div class="row">
	<div class="span4">
		<ul class="nav nav-tabs nav-stacked">
			<li><%= link_to t(:settings_item_account), tab: :account %></li>
			<li><%= link_to t(:settings_item_settings), tab: :settings %></li>
		</ul>
	</div>
	<div class="span8">
		<%= render ('/users/settings/' + settingsTabCheck(@tab)), user: @user %>
	</div>
</div>