=semantic_form_for @user, url: setup_users_path, method: :put  do |f|
  =f.inputs name: t('profiles.edit.shortname') do
    =f.inputs :shortname, for: :shortname
    p= t('users.shortname.not_changeable')
  =f.actions do
    =f.action :submit, :as => :button, label: t('next')