=set_title @user || @profile
=connected_web url: @profile.profileable.context_id,
               name: seolized_title(@user || @profile),
               description: seolized_description(@user || @profile),
               image: @profile.default_profile_photo
=render partial: 'profiles/profile_bar', locals: {resource: @profile, active: :show} if policy(@profile).update?
=render partial: 'profiles/show', locals: {resource: @profile}
