=set_title t('argu_sign_up')
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name, r: (defined?(r) ? r : ''))) do |f|
  =f.inputs do
    =f.inputs :shortname, for: :shortname, autofocus: :autofocus
    =f.input :email
    =f.input :password
    =f.input :password_confirmation
    =f.input :r, as: :hidden
  = f.actions do
    = f.action :submit, :as => :button, label: t('sign_up')
  =render partial: 'legal'