=set_title t('argu_sign_up')
=semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name, r: local_assigns.has_key?(:r) ? r : '')) do |f|
  - resource.errors.full_messages.each do |m|
    p= m
  .inspectlet-sensitive.form-validate=f.inputs do
    =f.input :email
    - if resource.password_required?
      =f.input :password, input_html: {minlength: 8}
      =f.input :password_confirmation, input_html: {minlength: 8 }
    =f.input :r, as: :hidden
  =f.actions do
    =f.action :submit, :as => :button, label: t('sign_up')
  =render partial: 'legal'
