<h1>Cancelling your account</h1>
<p>By cancelling your account you loose access to all information linked to it, such as your profile, votes, comments, etc.</p>
<p><%= button_to "Cancel account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %></p>