=set_title t('forums.settings.title')
.col-1
  =render partial: 'forums/manage_bar', locals: {resource: @forum}  if policy(@forum).update?
  .box
    section
      =semantic_form_for(@membership, url: url_for([@forum, :managers]), method: :post) do |f|
        - @membership.errors.full_messages.each do |message|
          =message
        =f.inputs name: t('newe_type', type: t('forum.settings.manager')) do
          =react_component 'NewMembership'
        =f.actions do
          =f.action :submit, as: :button, label: :save