tr[id='mod_#{user_table_row.id}']
    td= link_to user_table_row.username, profile_path(user_table_row.profile)
    td= link_to t('statements.mod.edit_moderators.remove'), [@motion, 'moderators', user_table_row], method: :delete, confirm: 'Are you sure?', remote: true