-content_for "activity-#{activity.id}" do
  == t('activities.arguments.create', type: argument_type(activity.trackable.forum),thing: link_to(type_for(activity.recipient), activity.trackable.motion, title: activity.trackable.motion.display_name))
== render_columns activity.trackable