h1.center
  = t("statements.plural") + t('tags.with_tag')
  a.tag.center.smallertag= @tag.name
.centerbar
  = link_to t("statements.newstatement"), new_statement_path(statement: {tag_list: @tag.name} ), class: "btn"
= render partial: 'statements/tag_statement', locals: { statement: @tag.statement } if @tag.statement
-@statements.each do |statement|
  = render partial: 'statements/statement', locals: { statement: statement, tag: @tag }