<div id="addproargument" class="modal hide fade in",  hidden="true">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <% @statementargument = Statementargument.new() %>
    <%= render 'statementarguments/form' %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn primary">Save changes</a>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>