<div class="box">
	<a class="partytitle">PVDA</a>
	<p class="partycontent">De PvdA wil de begroting op orde brengen door de economie aan te jagen en verstandig te bezuinigen en te hervormen. De PvdA kiest voor een begrotingsbeleid dat zicht biedt op structureel begrotingsevenwicht in 2017, waarbij bezuinigingen zodanig worden gekozen dat deze de economische groei en samenleving zo weinig mogelijk schaden.</p>
</div>