<div class="preview">
  <p class="previewtitle"><%= link_to statement.title, Statement.find_by_title(statement.title) %></p>
  <p class="previewcontent"><%= statement.content %></p>
  <p class="grey"><%= t "statements.preview.pro", count: statement.pro_count %>, <%= t "statements.preview.con", count: statement.con_count %>.</p>
</div>