- tag ||= nil
.box.statement
	= link_to statement.title, statement_path(statement), class: "title"
	p= statement.supped_content.html_safe
	.infobar
		p.info= t("statements.preview.pro", count: statement.pro_count) + ', ' + t("statements.preview.con", count: statement.con_count)
		ul.buttons
			li= link_to t("trash"), statement_path(statement), method: :delete, confirm: t("trash_confirmation") if can? :trash, statement
			li= link_to t("destroy"), statement_path(statement, destroy: true), method: :delete, confirm: t("destroy_confirmation") if can? :delete, statement
			- if tag.present?
				- if statement.is_main_statement? tag
					li= link_to 'ontkoppel', statement_path(statement, "statement[tag_id]" => 'nil'), method: :put, :confirm => "Sure?"
				- else
					li= link_to 'make hoofdstelling', statement_path(statement, "statement[tag_id]" => tag.id), method: :put, :confirm => "Sure?"
		.clearfix