<% provide(:menu_class, 'statements') %>
<h1>Stellingen</h1>
<%= link_to t(:statement_newstatement), new_statement_path, class: "btn btn-primary" %>
<% @statements.each do |statement| %>
    <%= render partial: "statements/preview", locals: { statement: statement } %>
<% end %>


