<% provide(:menu_class, 'statements') %>
<h1 class="top"><%= t("statements.plural") %></h1>
<div class="centerbox">
	<%= link_to t("statements.newstatement"), new_statement_path, class: "btnm" %>
</div>
<% @statements.each do |statement| %>
    <%= render partial: "statements/preview", locals: { statement: statement } %>
<% end %>
<%= paginate @statements %>
