li[id=('list_item_'+f.object.id.to_s)]
  =image_tag f.object.profile.profile_photo, class: 'profile-photo'
  p= f.object.profile.display_name
  =f.input :role, as: :inline_select, collection: Membership.roles.keys
  =link_to 'x', page_membership_path(@page, f.object), remote: true, method: :delete, data: {confirm: "_sure?_"}
  =f.hidden_field :id