=set_title @page || @profile
=connected_web url: @profile.profileable.context_id,
               name: seolized_title(@page || @profile),
               description: seolized_description(@page || @profile),
               image: @profile.default_profile_photo
=render partial: 'manage_bar', locals: {resource: @page, active: :show} if policy(@page).update?
=render partial: 'profiles/show', locals: {resource: @profile}
.col-1
  header
    h1= t('forums.plural')
  .selector.grid
    .box-grid-sizer
    =render collection: @forums, partial: 'forums/forum'
