=semantic_form_for(@group, url: group_membership_index_path(@group), method: :post) do |f|
  - @membership.errors.full_messages.each do |message|
    =message
  =f.inputs name: t('groups.member.new') do
    =react_component 'NewMembership', things: 'users,pages'
  =f.actions do
    =f.action :submit, :as => :button
