=semantic_form_for(@group, url: group_url, method: :patch) do |f|
  - @group.errors.full_messages.each do |message|
    =message
  =f.inputs name: t('update_type', type: t('groups.type')) do
    =f.inputs :name, :name_singular, :icon
    =f.input :visibility, as: :select, collection: Hash[Group.visibilities.map { |k, v| [k, k] }], include_blank: false
    =f.input :max_responses_per_member, min: -1
  =f.actions do
    =f.action :submit, :as => :button
