version: '2'

services:
  app:
    build:
      context: ..
      dockerfile: ./compose/Dockerfile-dev
    image: fletcher91/argu-dev
    command: bundle exec bin/rails server -p 3000 -b '0.0.0.0'
    volumes:
      - ..:/usr/src/app
    ports:
      - "3000:3000"
    env_file:
      - ../.env
    links:
      - "postgres:db"
      - "redis:redis"
      - "mailcatcher:mail"
      - "rabbitmq:rabbitmq"
  sidekiq:
    image: fletcher91/argu-dev
    command: bundle exec sidekiq
    volumes:
      - ..:/usr/src/app
    env_file:
      - ../.env
    links:
      - "postgres:db"
      - "redis:redis"
      - "mailcatcher:mail"
  postgres:
    image: postgres:9.4
    ports:
      - "5432:5432"
    env_file:
      - postgres.env
    volumes:
      - data:/var/lib/postgresql/data
  redis:
    image: redis:2.8.17
    ports:
      - "6379:6379"
  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1080:1080"
      - "1025:1025"
  rabbitmq:
    image: rabbitmq
    hostname: argu-rabbit
    ports:
      - "5672:5672"
  marmotta:
    image: apache/marmotta
    ports:
      - "8898:8080"
volumes:
  data:
    external: true
