=semantic_form_for([:portal, announcement]) do |f|
  -announcement.errors.full_messages.each do |message|
    =message
  =f.inputs name: t('newe_type', type: t('announcements.type')) do
    =f.inputs :title, :content, :dismissable
    =f.input :sample_size
    =f.input :audience, as: :react_select, collection: options_for_announcement_audiences, include_blank: false
    =f.input :publish_at, as: :datetime_picker
  =f.actions do
    =f.action :submit, as: :button, label: :save
