@import "variables";
@import "mixins";

.activity {
  margin-bottom: 1.4em;
}

.activity .info-block {
  margin-left: 2.6em;
}

.activity .box {
  margin-bottom: 2em;
}

.activity-feed {
  margin-top: 1em;
}

.activity {
  margin-bottom: 2em;
}

.activity-header {
  margin-bottom: .4em;
  position: relative;
}

.activity-body {
  @include box-shadow;
  position: relative;
}
