@import "variables";
@import "mixins";

.alert-wrapper {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  padding-left: .7em;
  padding-right: .7em;
  padding-bottom: 3em;
  pointer-events: none;
}

.alert-container {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  pointer-events: none;
}

.alert {
  position: relative;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(92, 92, 92);
  display: block;
  font-weight: bold;
  z-index: 100;
  max-width: 30em;
  line-height: 1.2em;
  text-align: center;
  font-family: $font-sans;
  pointer-events: auto;
  @include animation(shake .5s both);
  @include box-shadow-intense;

  @include bp-small{
    max-width: 100%;
    left: 0;
    right: 0;
  }
}

.alert-close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: $g2;
  padding: .1em;

  &:hover {
    color: $g3;
    background-color: $darken1;
  }
  &:active {
    color: $g4;
    background-color: $darken2;
  }
}

// Is added when the alert is about to be removed from the DOM
.alert-hidden {
  @include animation(fade-out .5s both, collapse-from-top .5s both);
  overflow: visible;
  // When an alert is about to be removed, the user should not get the idea that he can still interact with it.
  pointer-events: none;

  .alert {
    max-height: none !important;
    height: 100%;
  }

  * {
    pointer-events: none;
  }
}

.alert-notice {
  border-color: $gre;
  color: $gre;
  pointer-events: auto;
}

.alert-alert {
  border-color: $red;
  color: $red;
}
