@import "variables";
@import "mixins";

.alert-wrapper {
  position: fixed;
  width: 100%;
  bottom: 3em;
  z-index: 100;
}

.alert-container {
  position: relative;
  pointer-events: none;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.alert {
  bottom: 3em;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  background-color: rgba(255, 255, 255, 1);
  color: rgb(92, 92, 92);
  display: block;
  font-weight: bold;
  z-index: 100;
  border: solid 3px;
  text-align: center;
  font-family: $font-sans;
  @include animation(from-bottom-fade .5s both, grow-from-bottom .5s both);
  pointer-events: none;
  @include bp-small{
    width: 100%;
    left: 0;
    right: 0;
  }
}

.alert-hidden {
  @include animation(fade-out .5s both);
}

.alert-notice {
  border-color: $gre;
  color: $gre;
}

.alert-alert {
  border-color: $red;
  color: $red;
}
