@import "variables";
@import "mixins";

.pro-bg {
  background-color: $gre !important;
}

.con-bg {
  background-color: $red !important;
}

.motion-bg {
  background-color: $blu !important;
}

.neutral-bg{
  background-color: $g3 !important;
}

.question-bg{
  background-color: $bro !important;
}

.pro-t{
  color: $gre !important;
}

.con-t{
  color: $red !important;
}

.motion-t{
  color: $blu !important;
}

.neutral-t{
  color: $g3 !important;
}

.question-t{
  color: $bro !important;
}

.question {
  color: $bro;
}

.motion {
  color: $blu;
}

.pro-bg {
  background-color: $gre !important;
}

.con-bg {
  background-color: $red !important;
}

.motion-bg {
  background-color: $blu !important;
}

.neutral-bg{
  background-color: $g3 !important;
}

.question-bg{
  background-color: $bro !important;
}

.pro-t{
  color: $gre !important;
}

.con-t{
  color: $red !important;
}

.motion-t{
  color: $blu !important;
}

.neutral-t{
  color: $g3 !important;
}

.question-t{
  color: $bro !important;
}

.question {
  color: $bro;
}

.motion {
  color: $blu;
}