@import "variables";
@import "mixins";

.box {
  position: relative;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 1em;
  display: block;
  .box {
    margin-bottom: 0;
  }
}

.box h3 a, .box a h1, .box a h2, .box a h3, .box a h4 {
  display: inline-block;
  position: relative;
  @include transition(.2s);

  &:before {
    content: "";
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: .0em;
    height: .0em;
    opacity: 0;
    background-color: $darken2;
    @include transition(.2s);
  }

  &:hover:before {
    opacity: 1;
    height: .15em;
  }

  &:active:before {
    transition: none;
    background-color: $darken4;
  }
}

.box.trashed, .trashed > .box {
 // background-color: $trashed;
  opacity: .5;
}

.box.box-link {
  opacity: .8;

  &:hover {
    opacity: 1;
    text-decoration: none !important;

    *{
      text-decoration: none !important;
    }
  }
  &:active {
    transition: none;
    position: relative;
    top: 1px;
    box-shadow: none;
  }
  h3 {
    font-size: 1.2em;
    margin-bottom: .8em;
  }
}

.box h1, .box h2, .box h3, .box h4 {
  margin-bottom: .5em;
  line-height: 1.15em;
}

.box p {
  margin-bottom: .9em;
  white-space: pre-wrap;
}

.box code {
  margin-bottom: .9em;
}

.box ol, .box ul {
  color: $g4;
}

.box:hover .read-more {
  color: $g3;
}

.box-divider {
  border-top: solid 1px #e8e8e8;
  width: calc(100% + 2em);
  margin-left: -1em;
  z-index: 1;
  display: block;
  position: relative;
}

.box-divider-space {
  margin-top: -.4em;
  padding-bottom: .4em;
}

.box-hidden {
  position: absolute;
  top: 100%;
  background-color: white;
  color: white;
  width: 100%;
  height: 100%;
  @include transition(.5s);
}

.box:hover .box-hidden {
  top: 0;
  @include animation(fade-in .5s both)
}

.box-image{
  height: 10em;
  width: 100%;
  background-size: cover;
  background-position: center;
  @include transition(.2s);

  a & {
    &:hover{
      opacity: .8;
    }
    &:active{
      opacity: .6;
      transition: none;
    }
  }

  .display-hide-images & {
    display: none;
  }
}

.box.box-link {
  opacity: .8;
  @include transition(.2s);
  &:hover {
    opacity: 1;
  }
  &:active {
    position: relative;
    top: 1px;
    box-shadow: none;
    transition: none;
  }
  h3 {
    font-size: 1.2em;
    margin-bottom: .8em;
  }
  .icon-left {
    margin-left: .4em;
  }
  &.box-link-fill{
    h3 {
      color: white;
    }
    opacity: 1;
    &:hover h3 {
      text-decoration: underline;
    }
    &:active {
      opacity: .8;
      transition: none;
    }
  }
}

.boxes-list .box {
  h3 {
    font-size: 1em;
  }
  section {
    padding-top: .8em;
  }
}

.box-note {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: $red-alert;
  padding: .4em;
  span {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
  }
}

.box-small{
  max-width: 17em;
}

.box-with-btns {
  h1, h2, h3 {
    padding-right: .7em;
  }
}

.box-list {
  list-style-type: disc;
  padding-left: 1.5em;
  font-size: .8em;
  margin-bottom: .4em;
  display: inline-block;
}

.box-list--icons {
  list-style-type: none;
  padding-left: 0;
  span.fa{
    position: absolute;
    font-size: 0.8em;
    line-height: 1.6em;
  }
  span.icon-left {
    margin-left: 1.3em;
    display: block;
  }
}

.box-list--arguments {
  list-style-type: none;
  width: 50%;
  width: calc(50% + 0.5em);
  margin-left: -0.5em;
  padding: 0 0.5em;
  display: inline-block;
  vertical-align: top;
  @include bp-medium{
    width: 100%;
  }
}

.box--extra-margin{
  margin: 2em 0;
}
.box .box--extra-margin {
  margin: 0;
}

.box-detailed {
  width: 90% !important;
  width: calc(100% - 2em) !important;
}

.box {
  .outside-the-box {
    visibility: hidden;
    position: absolute;
    left: -2em;
    top: 0;
    padding: .25em 2em 5em .5em;
  }
  &:hover .outside-the-box{
    visibility: visible;
  }
}

.box-image--container{

  .motion & {
    background-color: lighten($blu, 40);
  }
  .question & {
    background-color: lighten($bro, 40);
  }
}