@import "variables";
@import "mixins";

.box {
  position: relative;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 1em;
  overflow: hidden;
  @include border-radius;
  @include box-shadow;
}

.box.trashed {
  background-color: $trashed;
}

.box.box-link {
  opacity: .8;
  &:hover {
    opacity: 1;
  }
  &:active {
    position: relative;
    top: 1px;
    box-shadow: none;
  }
  h3 {
    font-size: 1.2em;
    margin-bottom: .8em;
  }
  .icon-left {
    margin-left: .7em;
  }
  &.box-link-fill{
    h3 {
      color: white;
    }
    opacity: 1;
    &:hover h3 {
      text-decoration: underline;
    }
    &:active {
      opacity: .8;
    }
  }
}


.box-small{
  max-width: 22em;
}

section {
  position: relative;
  padding: 1.1em 1.4em 0.1em 1.4em;
}

section.unpadded {
  padding: 0;
}

section.smallpadded {
  padding: 1.1em 1em 0em 1em;
}

section + section {
  border-top: solid 1px $g1;
}

.section-small {
  position: relative;
  padding: .3em 1.4em 0.1em 1.4em;
}

.box h3 a, .box a h3 {
  &:hover {
    text-decoration: underline;
  }
}

.box h1, .box h2, .box h3 {
  font-weight: 800;
  margin-bottom: .5em;
}

.box p {
  margin-bottom: .9em;
}

.box ol, .box ul {
  color: $g4;
}

.box .read-more {
  position: absolute;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  font-size: .7em;
  padding: .4em;
  color: $g2;
  &:hover{
    background-color: $darken0;
    color: $g4 !important;
  }
}

.box:hover .read-more {
  color: $g3;
}

.box-divider {
  border-top: solid 1px #e8e8e8;
  width: calc(100% + 2em);
  margin-left: -1em;
  z-index: 1;
  display: block;
  position: relative;
}

.box-divider-space {
  margin-top: -.4em;
  padding-bottom: .4em;
}

.box-list .box {
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: solid 1px $g1;
}

.box-list:last-child{
  @include border-radius;
  border-top-radius: 0;
}

.box-list:first-child{
  @include border-radius;
  border-bottom-radius: 0;
}

.box-with-btns {
  h1, h2, h3 {
    padding-right: 1.5em;
  }
}
