@import "variables";
@import "mixins";

.btn {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  padding: .5em .8em .4em .8em;
  background-color: $gre;
  border: none;
  -webkit-appearance: none;
  margin: 0;
  cursor: hand;
  display: inline-block;
  border-bottom: solid 3px $darken2;
  @include border-radius;
  &:hover {
    border-color: $darken3;
  }
  &:active {
    border-color: $darken4;
    border-bottom: none;
    margin-top: 3px;
  }
}

.btn-auth {
  margin-right: 1em;
}

.btn-box {
  color: white;
}

.btn-big {
  background-color: white;
  color: #828282;
  font-family: raleway;
  font-weight: 700;
  font-size: 1.4em;
  text-transform: none;
  text-align: left;
  width: 100%;
}

.btn-sticky {
  position: absolute !important;
  top: 0;
  right: 0;
}

.btn-sticky-bottom {
  top: auto;
  bottom: 0;
}

.btn-sticky-left {
  right: auto;
  left: 0;
}

.btn-sticky-center {
  top: 50%;
  bottom: 50%;
}

.btn-subtle, .btns-subtle a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
  cursor: hand;
  display: inline-block;
  color: $g2;
  background: none;
  padding: 0.5em .6em .4em .6em;
  &:hover {
    color: $g3;
    background-color: $darken1;
  }
  &:active {
    color: $g3;
    background-color: $darken2;
    margin-top: 0; //Negates the  "push"-effect of normal buttons
  }
}

.btn-white {
  background-color: white;
  color: $g3;
}

.btn-subtle-active {
  background-color: $g3;
  color: white;
  &:hover {
    background-color: $g3;
    color: white;
  }
}

.btns-aside {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 1em;
  li {
    margin-bottom: .5em;
  }
}

.btns-bottom {
  padding-top: 1.5em;
}

.btns-devise {
  padding: 0;
  margin-bottom: .5em;
  li {
    list-style: none;
  }
  a {
    text-transform: uppercase;
    font-size: .7em;
    padding: .3em 0;
    display: inline-block;
  }
}

.btns-links {
  margin-bottom: .6em;
}

.btns-links li {
  display: inline-block;
  margin-bottom: .5em;
  font-size: .8em;
}

.btns-links li a {
  text-transform: uppercase;
  margin-right: 1em;
  color: $g3;
  &:hover {
    text-decoration: underline;
    color: $g4;
  }
}

.btns-list {
  display: inline-block;
}

.bnts-list li {
  height: 100%;
}

.btns-list li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
  cursor: hand;
  display: block;
  color: $g3;
  padding: 1em;
  &:hover {
    background-color: $darken1;
    color: $g4;
  }
  &:active {
    background-color: $darken2;
  }
  &#active{
    background-color: $darken1;
  }
}

.btns-list .icon-left, .btns-list .icon-left {
  @include bp-small {
    display: none;
  }
}

.btns-opinion {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  width: calc(100% + 1em);
  margin-left: -0.5em;

  li {
    display: inline-block;
    margin: 0 0;
    margin-bottom: 0.5em;
    width: 33.3%;
    width: calc(33.3% - 1em);
    margin: 0 .5em;
  }
  &.voted a {
    opacity: .6;
    &.voted-on{
      opacity: 1;
    }
  }
  a {
    width: 100%;
    display: inline-block;
    padding: 0.7em 1.1em;
    padding-bottom: 0.6em;
    @include border-radius;
    line-height: 1.6em;
    text-transform: uppercase;
    top: 0;
    position: relative;
    @include box-shadow;
    font-size: .9em;
    color: white;
    &:active{
      top: 2px;
      box-shadow: none;
    }
    .fa {
      font-size: 1.2em;
      vertical-align: center;
      width: auto;
    }
    @include bp-medium{
      span{
      display: block
      }
    }
    @include bp-small{
      span{
        display: none;
      }
      span.fa{
        display: initial;
      }
    }
  }
  .btn-pro {
    background-color: $gre;
    &:hover{
    }
    &.voted-on {
    }
  }
  .btn-neu {
    background-color: $g3;
    &:hover {
    }
    &.voted-on {
    }
  }
  .btn-con {
    background-color: $red;
    margin-right: 0;
    &:hover {
    }
    &.voted-on {
      opacity: 1;
    }
  }
}

.btns-floating {
  display: block;
  width: auto;
  margin: 2em;
  box-shadow: 0em 0.2em 0.5em 0em rgba(0, 0, 0, 0.21);
  padding: 1em 0.5em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: white;
  @include border-radius;
}

.btns-signup {
  text-align: center;
  margin: 2em auto 2.6em;
  li {
    margin-bottom: 1em;
  }
  .btn {
    font-size: 1em;
    width: 15em;
    padding: 0.8em 1em;
    text-transform: none;
    text-align: left;
  }
  .fa {
    width: 1em;
  }
}

.btns-sticky {
  position: absolute;
  right: 0;
  text-align: right;
}

.btns-sticky-center {
  top: 50%;
  bottom: 50%;
}

.btns-sticky-top {
  top: 0;
}

.btns-sticky-bottom {
  bottom: 0;
}

.btns-vertical > li {
  display: inline-block;
}

//h1 + .btns-vertical {
//  margin-top: -1em;
//  margin-bottom: 1em;
//}

h1 + .btn {
  margin-bottom: 2em;
}

.icon-left {
  margin-left: .4em;
}

.icon-right {
  margin-right: .4em;
}

.fa {
  width: 1em;
  text-align: center;
}

.tabs {
  text-align: center;
  margin-bottom: -.2em;
}