@import "variables";
@import "mixins";

.btn {
  @include button();
}

.actions .btn, .form-actions .btn {
  position: absolute;
  margin: 0;
  height: 3em;
}

.btn-auth {
  margin-right: 1em;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 4em;
  img {
    display: inline-block;
    height: 100%;
  }
  &:after{
    content: "+";
    text-align: center;
    color: white;
    font-size: 3em;
    line-height: 1.35em;
    position: absolute;
    background-color: $darken3;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    @include transition(.2s)
  }
  &:hover:after{
    opacity: .6;
  }
  &:active:after{
    opacity: 1;
    transition: none;
  }
}

.btn--warning {
  @include button($red-alert);
}

.btn--pro {
  @include button($gre);
}

.btn--con {
  @include button($red);
}

.btn--motion {
  @include button($blu);
}

.btn--question {
  @include button($bro);
}

.btn--twitter {
  @include button(#55ACEE);
}

.btn--facebook {
  @include button(#3B5998);
}

.btn--argu {
  @include button($blu);
}

.btn--transparant, .btn--transparant--parent > div > div{
  @include button(rgba(0,0,0,0));
  padding-left: 1em;
  padding-right: 1em;
  @include border-radius(0);

  &:hover{
    background-color: $lighten2;
  }

  &:active{
    background-color: $lighten3;
  }
}

.btn--g4 {
  @include button($g4);
}

.btn--narrow {
  padding: .7em;
}

.btn--dropdown-trigger {
  padding: 0;

  .dropdown-trigger {
    padding: .7em 2.5em .7em;
  }
}

.btn-box {
  color: white;
}

.btn-focus {
  font-weight: bold !important;
  .fa {
    font-weight: normal !important;
  }
}


// The sticky class 'sticks' elements to a corner of a parent. Make sure the parent is relatively positioned.

.sticky, .sticky--top-right {
  position: absolute !important;
  top: 0;
  right: 0;
}

.sticky--bottom-right {
  position: absolute !important;
  top: auto;
  bottom: 0;
  right: 0;
  margin-bottom: 0;
}

.sticky--top-left {
  position: absolute !important;
  top: 0;
  right: auto;
  left: 0;
}

.sticky--center {
  top: 50%;
  bottom: 50%;
}

.btn-subtle{
  @include button(rgba(255,255,255,0));
  border: none;
  @include border-radius(0);
  color: $g3;
  padding-left: 1em;
  padding-right: 1em;

  &:hover{
    color: $g4;
    background-color: $darken1;
  }

  &:active{
    background-color: $darken2;
  }
}

.btn--border {
  @include button(rgba(255,255,255,1));
  border: solid 1px $g1;
  color: $g3;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;

  &:hover{
    border: solid 1px $g2;
    color: $g4;
  }
}

.btn--mini {
  padding: .5em !important;
}

.btn--smaller {
  padding: 0.3em 0.6em !important;
}

.btn--light {
  @include button($g0);
  color: $g3;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;

  &:hover{
    color: $g4;
  }
}

.btn-white {
  background-color: white;
  color: $g3;
}

.btn-subtle-active {
  background-color: $g3;
  color: white;
  &:hover {
    background-color: $g3;
    color: white;
    text-decoration: none;
  }
}

.btns-aside {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 1em;
  li {
    margin-bottom: .5em;
  }
}

.btns-bottom {
  padding-top: 1.5em;
}

.btns-devise {
  padding: 0;
  margin-bottom: 1em;
  li {
    list-style: none;
  }
  a {
    text-transform: uppercase;
    font-size: .7em;
    display: inline-block;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    &:hover{
      text-decoration: underline;
    }
  }
}

.btns-fill li a {
  color: white !important;
}

.btns-links {
  margin-bottom: .6em;
}

.btns-links li {
  display: inline-block;
  margin-bottom: .5em;
  font-size: .8em;
}

.btns-links li a {
  text-transform: uppercase;
  margin-right: 1em;
  color: $g3;
  &:hover {
    text-decoration: underline;
    color: $g4;
  }
}

.btns-list {
  > li > a, {
    @include button();
  }

}

.btns-list--grey-background {
  background-color: $g00;
}

.btns-list--subtle {
  display: inline-block;
}

.btns-list--subtle .is-checked {
  text-decoration: underline !important;
}

.btns-list--subtle > li {

  text-transform: uppercase;
  text-decoration: none;
  //span {font-size: .8em;}
  a > span, > div > div > span {
    font-size: .8em;
  }


  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
  cursor: pointer;
  display: block;
  color: $g3;
  // height: 100%; //causes a bug on chrome on iOS, where the filter buttons fill the entire screen.
  @include transition(.2s);
  > a, .dropdown-trigger, > div > div {
    padding: .7em;
    //display: inline-block; // Seems to un-align buttons if div buttons are present (e.g. in motion show box)
    display: block;
    color: $g3;
    //vertical-align: bottom;
    height: 2.45em;
    &:hover {
      text-decoration: none;

    }
  }

  &:hover {
    background-color: $darken1;
    color: $g4;
    text-decoration: none;
  }

  &:active {
    background-color: $darken2;
    transition: none;
  }

  &#active{
    background-color: $darken1;
  }
}

.box .btns-list--subtle .icon-left,.box  .btns-list--subtle .icon-left {
  @include bp-small {
    display: none;
  }
}

.btns-opinion {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  width: calc(100% + 1em);
  margin-left: -0.5em;

  li {
    display: inline-block;
    margin: 0 0;
    margin-bottom: 0.5em;
    width: 33.3%;
    width: calc(33.3% - 1em);
    margin: 0 .5em;
  }
  &[data-voted] a {
    opacity: .4;
    &[data-voted-on]{
      opacity: 1;
    }
  }
  a, button {
    width: 100% !important;
    .fa {
      font-size: 1.2em;
      vertical-align: center;
      width: auto;
    }
    @include bp-medium{
      span{
      display: block
      }
    }
    @include bp-small{
      span{
        display: none;
      }
      span.fa{
        display: initial;
      }
    }
  }
  .btn-pro {
    background-color: $gre;
    @include button($color: $gre);

  }
  .btn-neutral {
    background-color: $g3;
    @include button($color: $g3);

  }
  .btn-con {
    background-color: $red;
    @include button($color: $red);

    margin-right: 0;
  }
}

.btns-floating {
  display: block;
  width: auto;
  margin: 2em;
  box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.21);
  padding: 1em 0.5em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: white;
  @include border-radius;
}

.btns-signup {
  li {
    margin-bottom: 1em;
  }
  .btn {
    font-size: 1em;
    width: 100%;
    text-transform: none;
    text-align: left;
    padding: 0.8em 1em;
  }
  .fa {
    width: 1em;
  }
}

.btns-horizontal > li {
  display: inline-block;
}

.btns-padded li {
  margin: 0.6em;
}

.btns--vote a{
  padding: .5em !important;
  margin: 0;
  color: $g2;
}

h1 + .btn {
  margin-bottom: 2em;
}

.icon-left {
  margin-left: .4em;
}

.icon-right {
  margin-right: .4em;
}

.fa {
  width: 1em;
  text-align: center;
}

.expander-content {
  display: none;
}

.is-loading{
  pointer-events: none !important;
  opacity: .8;
}

.pagination {
  span {
    color: $g3;
  }
  a, .current {
    @extend .btn-subtle;
    padding: .7em !important;
  }

  .current {
    color: $blu;
    pointer-events: none;
    background-color: $g1a;
  }
}

.btn--square {
  @include border-radius(0);
}

.btn--in-subtle-list{
  vertical-align: top;
  @include border-radius(0);
  line-height: 1.3em;
  box-sizing: border-box;
}