@import "variables";
@import "mixins";

.btn-auth {
  margin-right: 1em;
  position: relative;
  display: inline-block;
  width: 4em;
  height: 4em;
  img {
    display: inline-block;
    height: 100%;
  }
  &:after{
    content: "+";
    text-align: center;
    color: white;
    font-size: 3em;
    line-height: 1.35em;
    position: absolute;
    background-color: $darken3;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    @include transition(.2s)
  }
  &:hover:after{
    opacity: .6;
  }
  &:active:after{
    opacity: 1;
    transition: none;
  }
}

.btn--twitter {
  @include button(#55ACEE);
}

.btn--facebook {
  @include button(#3B5998);
}

.btn--transparant, .btn--transparant--parent > div > div{
  @include button(rgba(0,0,0,0));
  padding-left: 1em;
  padding-right: 1em;
  @include border-radius(0);

  &:hover{
    background-color: $lighten2;
  }

  &:active{
    background-color: $lighten3;
  }
}

.formtastic button.btn--transparant {
  background-color: rgba(0,0,0,0);
  color: $g3;
  border-top: none;
  border-bottom: none;
  &:hover, &:focus, &:active {
    font-weight: bold;
    background-color: rgba(0,0,0,0);
    border-top: none;
    border-bottom: none;
  }
}

.btn--g4 {
  @include button($g4);
}

.btn--narrow {
  padding: .7em;
}

.btn--dropdown-trigger {
  padding: 0;

  .dropdown-trigger {
    padding: .7em 2.5em .7em;
  }
}

.btn-box {
  color: white;
}

.btn-focus {
  font-weight: bold !important;
  .fa {
    font-weight: normal !important;
  }
}

.btn-subtle{
  &:hover{
    color: $g4;
    background-color: $darken1;
  }

  &:active{
    background-color: $darken2;
  }
}

.btn--border {
  @include button(rgba(255,255,255,1));
  border: solid 1px $g1;
  color: $g3;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;

  &:hover{
    border: solid 1px $g2;
    color: $g4;
  }
}

.btn--huge {
  padding: .5em 1.4em 0em 1.4em;
  border-radius: $border-radius-size;
  @include box-shadow();
  width: 100%;
  text-transform: initial;
  font-size: 1em;
  @include transition(background-color .2s linear);

  h3 {
    color: white;
  }
  &:active {
    @include transition(none);
  }
}

.btn--huge {
  &[pro="pro"]{
    @include button--colored($pro);
  }

  &[pro="con"]{
    @include button--colored($con);
  }

  &[collection_model="Motion"]{
    @include button--colored($motion);
  }

  &[collection_model="Question"]{
    @include button--colored($question);
  }

  &[collection_model="Project"]{
    @include button--colored($project);
  }
}

// Used in the column renderer, where only the parent of the link can have a CSS class
.btn--huge--container {
  padding: 0;
  a {
    padding: .5em 1.4em 0em 1.4em;
    display: block;
    height: 100%;
  }
}

.box-link {
  &[pro="pro"],&[pro="con"],&[collection_model="Motion"],&[collection_model="Question"],&[collection_model="Project"] {
    h3 {
      color: white;
    }
  }

  &[pro="pro"]{
    background-color: $pro;
    &:hover {
      background-color: darken($pro, 10);
    }
    &:active {
      background-color: darken($pro, 20);
    }
  }

  &[pro="con"]{
    background-color: $con;
  }
  &[collection_model="Motion"]{
    background-color: $motion;
  }
  &[collection_model="Question"]{
    background-color: $question;
  }
  &[collection_model="Project"]{
    background-color: $project;
  }
}


.btn--light {
  &:hover{
    color: $g4;
  }
}

.btn-white {
  background-color: white;
  color: $g3;
}

.btn-subtle-active {
  background-color: $g3;
  color: white;
  &:hover {
    background-color: $g3;
    color: white;
    text-decoration: none;
  }
}

.btns-aside {
  display: inline-block;
  position: relative;
  vertical-align: top;
  margin-left: 1em;
  li {
    margin-bottom: .5em;
  }
}

.btns-bottom {
  padding-top: 1.5em;
}

.btns-devise {
  padding: 0;
  margin-bottom: 1em;
  li {
    list-style: none;
  }
  a {
    text-transform: uppercase;
    font-size: .7em;
    display: inline-block;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    &:hover{
      text-decoration: underline;
    }
  }
}

.btns-fill li a {
  color: white !important;
}

.btns-links {
  margin-bottom: .6em;
}

.btns-links li {
  display: inline-block;
  margin-bottom: .5em;
  font-size: .8em;
}

.btns-links li a {
  text-transform: uppercase;
  margin-right: 1em;
  color: $g3;
  &:hover {
    text-decoration: underline;
    color: $g4;
  }
}

.btns-list {
  > li > a {
    @include button();
  }

}

// Used to make buttons overlap profile text on really small screens.
.btns-list--grey-background {
  background-color: $g00;
  border-bottom-right-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.btns-list--subtle {
  display: inline-block;
}

.btns-list--subtle .is-checked {
  text-decoration: underline !important;
}

.btns-list--subtle > li {
  text-decoration: none;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
  cursor: pointer;
  display: block;
  color: $g3;

  @include transition(.2s);
  > a, .dropdown-trigger, > div > div {
    padding: .7em;
    //display: inline-block; // Seems to un-align buttons if div buttons are present (e.g. in motion show box)
    display: block;
    color: $g3;
    height: $section-footer-height;
    &:hover {
      text-decoration: none;

    }
  }

  &:hover {
    background-color: $darken1;
    color: $g4;
    text-decoration: none;
  }

  &:active {
    background-color: $darken2;
    transition: none;
  }

  &#active{
    background-color: $darken1;
  }
}

.box .btns-list--subtle .dropdown-trigger .icon-left {
  @include bp-small {
    display: none;
  }
}

.btns-opinion {
  &[data-voted] a {
    opacity: .6;

    &:hover {
      opacity: .8;
    }

    &[data-voted-on=true]{
      opacity: 1;
    }
  }
}

.btns-opinion--subtle {
  a, button {
    @include transition(.2s all linear);

    &.disabled {
      cursor: not-allowed;
      opacity: .6
    }

    &:hover {
      cursor: pointer;
      background-color: $g1;
    }

    &:active {
      @include transition(none);
      cursor: pointer;
      background-color: $g1a;
    }
  }
}

.btns-opinion, .btns-opinion--subtle, .btns-opinion--bottom {
  &[data-voted] a {

    &[data-voted-on=true] {
      color: white;
    }

    &[data-voted-on=true].btn-pro{
      background-color: $pro;
    }

    &[data-voted-on=true].btn-neutral{
      background-color: $neutral;
    }

    &[data-voted-on=true].btn-con{
      background-color: $con;
    }
  }

  @include bp-medium {
    .vote-count {
      &:before {
        content: none;
      }
      &:after {
        content: none;
      }
    }
  }
}

.btns-floating {
  display: block;
  width: auto;
  margin: 2em;
  box-shadow: 0 0.2em 0.5em 0 rgba(0, 0, 0, 0.21);
  padding: 1em 0.5em;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: white;
  @include border-radius;
}

.btns-signup {
  li {
    margin-bottom: 1em;
  }
  .btn {
    font-size: 1em;
    width: 100%;
    text-transform: none;
    text-align: left;
    padding: 0.8em 1em;
  }
  .fa {
    width: 1em;
  }
}

.btns-horizontal > li {
  display: inline-block;
}

.btns--vote a{
  padding: .5em !important;
  margin: 0;
  color: $g2;
}

h1 + .btn {
  margin-bottom: 2em;
}

.icon-left {
  margin-left: .4em;
}

.icon-right {
  margin-right: .4em;
}

.fa {
  width: 1em;
  text-align: center;
}

.expander-content {
  display: none;
}

.is-loading{
  pointer-events: none !important;
  opacity: .8;
  position: relative;

  &:not([data-title]):after {
    @include spinner;
    top: .15em;
    left: auto;
    right: calc(100% + .5em);
  }
}

.btns-opinion .is-loading:after, .btns-opinion--bottom .is-loading:after {
  right: calc(100% - 1.9em);
}

.pagination {
  span {
    color: $g3;
  }
  a, .current {
    @extend .btn-subtle;
    padding: .7em !important;
  }

  .current {
    color: $blu;
    pointer-events: none;
    background-color: $g1a;
  }
}

.btn--in-subtle-list{
  vertical-align: top;
  @include border-radius(0);
  line-height: 1.3em;
  box-sizing: border-box;
}

.btns-opinion--bottom, .btns__bottom {
  li {
    a {
      @include transition(background-color .2s);

      &:hover {
        color: $g4;
        background-color: $g0;
      }
      &:hover {
        @include transition(none);
        color: $g5;
        background-color: $g1;
      }
    }

    &:last-child {
      border-right: 0;
    }
  }
}

.btns-opinion--bottom {
  a, button {
    &.disabled {
      cursor: not-allowed;
      opacity: .6
    }
  }

  .btn-pro {
    &:hover {
      color: $pro;
      background-color: lighten($pro, 50);
    }
    &:active {
      color: $pro;
      background-color: lighten($pro, 40);
    }
  }
  .btn-neutral {
    &:hover {
      color: $neutral;
      background-color: lighten($neutral, 45);
    }
    &:active {
      color: $neutral;
      background-color: lighten($neutral, 30);
    }
  }
  .btn-con {
    &:hover {
      color: $con;
      background-color: lighten($con, 50);
    }
    &:active {
      color: $con;
      background-color: lighten($con, 40);
    }
  }
}

.btn-datetime {
  z-index: 1;
  position: relative;
  width: 250px;
  border-radius: 0 0 .4em .4em;
  text-align: center;
}

button.btn--as-text, .formtastic button.btn--as-text {
  padding: 0;
  margin: 0;
  background: none;
  color: $blus;
  border: none;
  font-size: 1em;
  text-transform: initial;
  &:hover, &:focus {
    padding: 0;
    margin: 0;
    background: none;
    color: $blus;
    border: none;
    font-size: 1em;
    text-transform: initial;
    text-decoration: underline;
    cursor: pointer
  }
}
