@import "variables";
@import "mixins";

.comment {
  position: relative;
}

.comment .comment:not(.comment_form) {
  padding-left: 1em;
  &:before{
    content: "";
    background-color: $g00;
    opacity: .5;
    width: 0.5em;
    height: 100%;
    position: absolute;
    left: 0;
  }
  .comment .comment .comment{
    @include bp-medium{
      padding-left: 0;
    }
  }
}

.comment .box {
  margin: 0 0 .5em 0;
  color: transparent;
}

.comment_form input[type="submit"]{
  height: 3em;
}

.comments {
  margin-left: -1em;
  margin: 0 auto;
}

.top-comment:hover .comments-counter{
  color: $g4;
}

.top-comment {
  color: $g3;
  background-color: $g00;
  position: relative;
  @include transition(.2s);
  &:hover {
    background-color: $g0;
    .comments-counter span{
      color: $g3;
    }
  }
  &:active {
    background-color: white;
    transition: none;
  }
}

.top-comment p {
  font-size: .9em;
}

.comments-counter {
  color: $g3;
  font-size: .8em;

  div {
    display: inline-block;
  }
}