@import "variables";
@import "mixins";

.comment {
  position: relative;
}

.comment.trashed > .box {
  background-color: $trashed;
}

.comment .comment {
  padding-left: 1em;
  &:before{
    content: "";
    background-color: $g00;
    width: 0.5em;
    height: 100%;
    position: absolute;
    left: 0;
    top: -0.5em;
  }
}

.comment .box {
  margin: 0 0 .5em 0;
  color: transparent;
}

.comment_form input[type="submit"]{
  height: 3em;
}

.comment-form .box{
  margin: 0;
}

.comments {
  margin-left: -1em;
  margin: 0 auto;
}

.comments-counter{
  right: .5em;
  bottom: .5em;
  font-size: .8em;
  position: absolute;
  color: $g2;
}

.top-comment:hover .comments-counter{
  color: $g4;
}

.top-comment {
  color: $g3;
  background-color: $g00;
  position: relative;
  @include transition(.2s);
  &:hover {
    background-color: $g0;
  }
  &:active {
    background-color: $g1;
  }
}

.top-comment p {
  font-style: italic;
}