@import "variables";
@import "mixins";

.context {
  @include bp-medium-large{
    font-size: .8em;
  }
}

.context--horizontal {
  position: relative;
  @include bp-medium {
    display: none;
  }
}

.context--horizontal-button {
  position: absolute;
  top: 1.4em;
  background-color: white;
  text-align: center;
  opacity: .5;
  @include transition(opacity .2s ease-in-out);
  z-index: 1;
  @include border-radius();

  span {
    font-size: 1.3em;
  }

  &:hover {
    opacity: 1;
  }
}

.context-content {
  padding: .8em;
}

.context--next {
  left: 100%;
  margin-left: 1em;
}
.context--previous {
  right: 100%;
  margin-right: 1em;
}