@import "variables";
@import "mixins";


.carousel-buttons {
  position: relative;
}

.context {
  position: absolute;
  top: 0;
  width: 15em;
  h3{
    font-size: 1em !important;
  }
  @include bp-large-2 {
    position: relative;
    width: 45%;
    width: calc( 50% - 1em);
    left: auto !important;
    right: auto !important;
    display: inline-block;
  }
}

.context--next {
  left: 100%;
  margin-left: 1em;
}
.context--previous {
  right: 100%;
  margin-right: 1em;
}