@import "variables";
@import "mixins";

.cover, .cover-behind {
  margin-top: -2em;
}

.cover {
  position: relative;
}

.cover-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;

  li a {
    vertical-align: bottom; // Fixes a weird 1px off bug in chrome
  }

  .btns-horizontal{
    width: 100%;

    @include bp-large {
      li a {
        padding-left: 1em;
        padding-right: 1em;
      }
    }

    @include bp-medium {
      span.icon-left {
        display: none;

        &.fa {
          display: inline-block;
        }
      }
    }

  }
}

.cover-buttons--top {
  top: 0;
  bottom: auto;
}

.cover-buttons-container {
  max-width: 1200px;
  display: block;
  padding: 0 1em;
  margin: auto;
  @include bp-small {
    padding: 0;
  }
}

.header-attribution {
  color: whitesmoke;
  background-color: $darken3;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  z-index: 3;
  padding: .4em;
}

.cover-container {
  position: relative;
  @include container-width;
  margin: auto;
  padding: 0 1em;
}

.cover-behind {
  position: absolute;
  height: 16em;
  width: 100%;
  opacity: .5;
  z-index: -1;
  margin-bottom: 2em;
  overflow: hidden;

  .cover-image {
    height: 100%;
  }
}


.cover-hero-text {
  color: white;
  @include text-shadow--blue;
  margin-top: 1em;
  font-weight: 400;
  font-size: 1.3em;
  padding: 0 1em;
  @include bp-medium() {
    font-size: 1.1em;
  }
}

.cover-hero-link {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.2em 0.7em;
  font-size: .8em;
  text-decoration: underline;
  opacity: .8;
  position: absolute;
  left: 50%;
  @include transform(translate(-50%, 0));

  &:hover{
    opacity: 1;
  }
}

.cover-image{
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 19em;
}

.cover-image {
  @include bp-large{
    height: 16em;
  }
  @include bp-medium {
    height: 12em;
  }
  @include bp-small {
    height: 11em;
  }
}

.cover--small {
  position: relative;

  .cover-image {
    height: 100%;
    padding: 1em;
    * {
      z-index: 1;
    }
  }

  .cover-overlay {
    background-color: rgba(71, 86, 104, 0.65);
  }

  .profile-picture{
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
  }

  h3{
    text-align: center;
    color: white;
    font-size: 1.6em;
    display: block !important;
    @include text-shadow--blue;
  }
}

.cover--light {
  .cover-overlay {
    background-color: rgba(255, 255, 255, 0.7);
  }

  h3 {
    color: $g4;
    text-shadow: none;
  }
}

.cover-bar {
  margin: auto;
  margin-bottom: 1em;
  width: 100%;
  display: inline-block;
  background-color: white;
}

.cover-oneliner {
  max-width: 51em;
  margin-left: 0.8em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.cover-overlay {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(71, 86, 104, 0.6);

  .profile-picture {
    width: 5em;
    height: 5em;
    display: inline-block;
  }
}

.cover-switcher-wrapper {
  position: absolute;
  bottom: 3.5em;
  width: 100%;

  @include bp-large {
    bottom: 3em;
  }
  @include bp-medium {
    bottom: 2em;
  }

  .profile-picture {
    height: 3em;
    width: 3em;
    background-size: cover;
    display: inline-block;
    border-radius: 99999px;
    @include bp-large {
      height: 3em;
      width: 3em;
    }
    @include bp-medium {
      height: 3em;
      width: 3em;
    }
  }
}

.cover-switcher {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;

  .dropdown-trigger:hover, .dropdown-active h1{
    background-color: $lighten2;
    transition: none;
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown-trigger {
    padding: 0 0.3em;
    position: relative;
    display: inline-block;
    color: white;
    margin-bottom: 0;
    vertical-align: bottom;
    @include transition(.2s);
    @include text-shadow();

    &:active{
      background-color: $lighten3 !important;
    }
  }

  .fa {
    color: white;
  }
}

.cover-image-empty {
  background-color: $g2;
}

.cover--forum {
  margin-bottom: 1em;
  background-color: $blu;
}

.cover--blur {
  filter: blur(5px);
  transform: scale(1.1);
}

.bg-img, .b-lazy {
  @include transition(opacity 1s ease-in-out);
  opacity: 0;

  html.no-js & {
    opacity: .8;
  }
}

.bg-loaded, .b-loaded {
  opacity: 1;
}
