@import "variables";
@import "mixins";

.cover, .cover-behind {
  margin-top: -2em;
}

.cover {
  position: relative;
  margin-bottom: 1em;
}

.header-attribution {
  color: whitesmoke;
  background-color: $darken3;
  position: absolute;
  top: 0em;
  right: 0em;
  font-size: 0.8em;
  z-index: 3;
  padding: .4em;
}

.cover-container {
  position: relative;
  @include container-width;
  margin: auto;
  padding: 0 1em;
}

.cover-behind {
  position: absolute;
  top: 0;
  width: 100%;
}

.cover-image{
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 100%;
  height: 17.5em;
}

.cover .cover-image {
  @include bp-medium {
    height: 10em;
  }
  @include bp-small {
    height: 7em;
  }
}

.cover-header {
  margin: auto;
  width: 100%;
  display: inline-block;
  background-color: white;
  .profile-picture {
    height: 64px;
    width: 64px;
    background-size: cover;
    bottom: 100%;
    display: inline-block;
    vertical-align: bottom;
    @include bp-medium {
      height: 50px;
      width: 50px;
    }
  }
  .btns-list {
    display: block;
    clear: both;
  }
}

.cover-oneliner {
  max-width: 51em;
  margin-left: 0.8em;
  margin-top: 1em;
  margin-bottom: 0em;
  float: left;
}

.cover-switcher {
  display: inline-block;
  vertical-align: bottom;
  .dropdown {
    display: inline-block;
  }
  .dropdown-trigger {
    padding: 1em;
    position: relative;
    display: inline-block;
    background-color: white;
    color: #303030;
    @include bp-medium {
      font-size: 1em;
    }
    &:hover{
      background-color: $lighten6;
    }
    margin-bottom: 0;
    font-size: 1.3em;
    min-height: 64px;
    @include bp-medium {
      min-height: 50px;
    }
  }
  .dropdown-content{
    width: 20em;
    @include bp-medium{
      width: 16em;
    }
  }
}

.cover-image-empty {
  height: 64px;
  background-color: $g2;
}

.cover-switcher .dropdown-active .dropdown-trigger {
  background-color: $lighten5 !important;
}

.cover-header-bottom {
  background-color: white;
}
.cover-header-top {
  position: absolute;
  bottom: 100%;
}