@import "variables";
@import "mixins";

.dropdown-trigger {
  position: relative;
}

.dropdown-content {
  background-color: white;
  display: none;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: left;
  top: 100%;
  width: 14em;
  z-index: 10;
  @include box-shadow;
  @include border-radius;
  border-top-left-radius: 0;
  overflow: hidden;
  li {
    min-width: 100%;
  }

  a {
    color: $g3;
    padding: .6em .7em;
    min-width: 100%;
    display: block;

    &:hover {
      background-color: $darken1;
      color: $g4;
    }

    &:active {
      background-color: $darken2;
    }
  }

  h3 {
    font-size: 1.4em;
    padding: .4em 0.6em;
    margin: 0;
    text-transform: none;
    color: white;
    background-color: $g3;
  }
}

.dropdown-active {
  background-color: $g1 !important;
}

.dropdown-right {
  @include border-radius;
  border-top-right-radius: 0;
  right: 0;
  left: auto;
}

span.dropdown-header {
  padding: .4em;
  padding-left: 1em;
  background-color: $g2;
  color: white;
  width: 100%;
}

.dropdown-trigger:hover .dropdown-content, .dropdown-active .dropdown-content {
  //Dit moet nog gemaakt worden voor touch devices. Op mijn iPad werkt de hover niet, dus daarom een css klasse voor on-touch-event wat de dropdown triggert
  display: block;
  text-transform: initial;
  @include animation(fade-in .2s);
  span {
    display: inline-block;
    text-transform: uppercase;
  }
}