@import "variables";
@import "mixins";

#error_explanation {
  background-color: $g3;
  padding: 1em;
  margin-bottom: 1em;
  * {
    color: white;
  }
  ul {
    list-style: disc;
    margin-left: 1.1em;
  }
}