@import "variables";
@import "mixins";

.filter-and-sort {
  max-width: 1200px;
  display: inline-block;
  @include bp-medium{
    text-align: left;
  }

  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }
}

.btns-center-container {
  text-align: center;
  padding: 0.5em 0;
  .btn {
    margin-right: 1em;
  }
}