@import "variables";
@import "mixins";

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -18em; //footer_height + footer_top_margin ;
}

.push-footer{
  height: 18em; //footer_height + footer_top_margin ;
}

footer {
  display: inline-block;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: $g4;
  padding: 1em 0;
  overflow: hidden;
  margin-bottom: -5em;
  min-height: 15em;//Change the wrapper bottom margin as wel;
  margin-top: $footer-margin;
  padding-bottom: 2em;
  @include bp-large {
    height: auto;
  }
}

.footer-list {
  text-align: left;
  display: inline-block;
  vertical-align: top;
  margin: 0 3em;
  margin-bottom: 1em;
  @include bp-large{
    width: 11em;
    margin: 0 1em 1em 1em;
  }
  li {
    margin-bottom: .8em;
  }
}

.footer-list li a, .footer-link {
  color: $g2;
  @include transition(.2s);
  &:hover {
    color: $g1;
  }
  &:hover span {
    color: $g1;
  }
}

.footer-heading {
  letter-spacing: .1em;
  text-transform: uppercase;
  margin-bottom: .8em;
  margin-top: .7em;
  font-size: 1.2em;
  color: white;
}

.footer-heading--language {
  font-size: 1em;
  color: $g0;
}

.footer-bottom {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 1em;
  font-size: .8em;
}

.footer-extra {
  background-color: white;
  padding: .01em 0;
  margin-top: ($footer-margin + 2em);
  margin-bottom: -$footer-margin;
}

.footer-social-buttons{
  font-size: 1.5em;
  a {
    margin-right: .3em;
  }
}

.footer-language-dropdown {

  display: inline-block;

  .dropdown-trigger {
    padding: 0.3em 0.4em;
    background-color: $g3;
    display: block;
  }

  .dropdown-trigger span {
    color: white;
    font-weight: bold;
  }

  .dropdown-trigger img {
    width: 1em;
    border-radius: 999px;
  }
}