@import "variables";
@import "mixins";

$label_width: 30%;

input[type="text"], textarea, input[type="password"], input[type="email"], input[type="url"], input[type="date"],
input[type="time"], input[type="datetime-local"], .Select-control {
  background-color: $darken1;
  padding: .5em;
  margin-bottom: 1em;
  font-size: 1em;
  font-family: $font-sans;
  display: inline-block;
  width: 70%;
  color: $g4;
  line-height: 1.4em;
  border: solid 1px $g1;
  -webkit-appearance: none;
  -moz-appearance:none;
  appearance:none;
  word-break: normal; //Fixes a bug in chrome where the content in an input glitches between two lines.
  @include border-radius();
  @include transition(.2s);
  @include placeholder{
    color: $g4;
    opacity: .5;
  }
  &:not([disabled]){
    &:hover {
      border: solid 1px $g2;
    }
  }
  &:focus {
    background-color: $darken0;
    border: solid 1px $g2;
    outline: none;
    @include placeholder{
      opacity: .8;
    }
  }
  &.h1 {
    font-family: $font-special;
    font-size: 2.5em;
    font-weight: 700;
    width: 100%;
    padding: .2em;
  }
  + input[type="text"], textarea, input[type="password"], input[type="email"], input[type="url"] {
    margin-top: 0 !important;
  }
  &.input--full {
    width: 100%;
  }
  @include bp-medium {
    width: 100%;
  }

  // Validation styling
  .form-validate & {
    &:focus:valid{
      color: $gre;
      border-color: $gre;
    }

    &:focus:invalid{
      color: $red;
      border-color: $red;
    }
  }

}

*:disabled input{
  opacity: .6;
}

input[type="checkbox"] {
  margin: 1em 1em 1em 0;
}

textarea {
  resize: vertical;
}

label {
  padding: 0.6em 0;
  display: inline-block;
  text-transform: uppercase;
  color: $g3;
  font-size: 0.9em;
  width: $label_width;
  letter-spacing: 0.1em;
  vertical-align: top;
  line-height: 1.5em;

  @include bp-medium {
    width: 100%;
  }
}

legend {
  width: 100%;
  margin-bottom: .4em;
  padding: 0.3em 0;
  text-align: left;
  border-bottom: solid $g1 1px;
  color: $g3;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1em;

  .danger-zone & {
    color: $red;
    border-bottom-color: $red;
  }
}

fieldset {

  //Fieldset within fieldset since formtastic makes the form's top level a fieldset too
  fieldset {
    //margin-bottom: -1.5em; //fixes too big margin if
    &.control-group{
      margin-bottom: 0;
    }
  }
  fieldset ol {
    margin-left: 0;
  }
  li {
    //margin-bottom: 1.5em;
  }
}

// List item that gives some extra information about the field above it
li.form-helper {
  padding-left: $label_width;
  margin-top: -0.6em;
  margin-bottom: 1.2em;
  line-height: 1.5em;

  @include bp-medium{
    padding-left: 0;
  }
}

.form-item {
  padding-bottom: 1em;
  padding-top: 0.6em;
  width: 70%;
  display: inline-block;
  @include bp-medium {
    width: 100%;
  }
}

.form-input-content {
  width: 100%;
}

.form-input-title {
  font-size: 1.8em !important;;
  font-weight: 700 !important;;
  padding: .2em !important;
  width: 100% !important;;
  @include bp-medium{
    font-size: 1.3em !important;;
  }
}

.form-padded {
  padding-bottom: 2em;
}

.form-toggle {
  overflow: hidden;
  legend {
    display: none;
  }
  li {
    list-style: none;
  }
  li.choice {
    list-style: none;
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    clear: none;
    margin: 0;
    label {
      width: 100%;
      cursor: pointer;
      background-color: white;
    }
  }
  &.choices-3 li.choice {
    width: 33.33%;
  }
  input {
    // Hide radio button when JS provides visual feedback on the toggled button.
    width: 0;
    height: 0;
    -webkit-appearance: none;
    visibility: hidden;
  }
  label.checked {
    text-decoration: underline;
  }
  label[for="argument_pro_con"]{
    color: $red;
  }
  label[for="argument_pro_con"].checked{
    background-color: $red;
    color: white;
  }
  label[for="argument_pro_pro"]{
    color: $gre;
  }
  label[for="argument_pro_pro"].checked{
    background-color: $gre;
    color: white;
  }
}

.form-small {
  max-width: 16em;
  margin: auto;
  .btn {
    display: block;
    margin: auto;
  }
  input[type="checkbox"] {
    width: auto !important;
    margin: 0 1em 0 0;
  }
  label {
    padding: 0;
    width: 100%;
  }
  button {
    position: relative;
  }
  .actions {
    margin-top: 0;
  }
}

.form-small input, .form-small button, .form-small .inline-errors, .form-filled p.inline-errors, .form-small p.inline-hints, .form-filled p.inline-hints {
  width: 100% !important;
  margin-left: 0 !important;
}

.formtastic button {
  @include button;
  position: relative;

  &.btn--warning {
    @include button($red-alert);
  }
}

.formtastic .actions {
  text-align: center;
  margin-bottom: 1em;
}

.formtastic li {
  clear: both;
  position: relative;
  list-style: none;
  //line-height: 0; //Fixes a weird margin before inline hints, but also causes a weird issue for normal helpers.
}

input[type="file"] {
  padding: 0.3em 0;
  font-size: 1em;
}

.preview_image img {
  max-width: 100%;
}

.inline-errors, .inline-hints {
  padding: 0.2em .5em;
  font-size: .8em;
}

.inline-errors {
  margin: -1.3em 0 1.5em 0;
  &.full-width {
    width: 100%;
    margin-left: auto;
  }
}

input:focus + p.inline-hints, textarea:focus + p.inline-hints {
  opacity: 1;
  max-height: none;
  padding: .3em;
}

p.inline-hints {
  //opacity: 0;
  max-height: 0;
  margin: 0;
  overflow: hidden;
  display: block;
  box-sizing: border-box;
  background-color: $blu;
  color: white;
  pointer-events: none;
  padding: 0;
  position: relative;
  bottom: 100%;
  z-index: 10;
  margin-top: -1.3em;
  margin-bottom: 1.3em;
  @include transition(.2s);
  @include box-shadow-intense;
}

.inline-errors {
  color: white;
  background-color: $red;
}

.formtastic .inline-errors, .formtastic .inline-hints {
  margin-left: 30%;
  width: 70%;
  &.full-width {
    width: 100%;
    margin-left: auto;
  }
  @include bp-medium{
    margin-left: 0 !important;
    width: 100%;
  }
}

.Select-input > div {
  word-break: normal; //Fixes a bug in chrome where the content in an input glitches between two lines.
}

.sticky-submit {
  text-align: right;
  position: absolute;
  bottom: 0;
  z-index: 1;
  right: 0;

  li {
    margin: 0;
  }
}

.avatar-preview {
  height: 4em;
  width: 4em;
  border-radius: 999px;
}

.inline-button-form {
  display: inline-block;
  margin-right: 5px;
}
