@import "variables";
@import "mixins";

input[type="text"], textarea, input[type="password"], input[type="email"], input[type="url"] {
  background-color: $darken1;
  border: none;
  padding: .5em;
  font-size: 1em;
  font-family: $font-sans;
  display: inline-block;
  width: 70%;
  //margin-bottom: 1.5em;
  color: $g4;
  line-height: 1.4em;
  &:focus {
    background-color: $darken0;
    border: none;
    outline: none;
  }
  &.h1 {
    font-family: $font-special;
    font-size: 2.5em;
    font-weight: 800;
    width: 100%;
    padding: .2em;
  }
  + input[type="text"], textarea, input[type="password"], input[type="email"], input[type="url"] {
    margin-top: 0em !important;
  }
  &.input--full {
    width: 100%;
  }
  @include bp-medium {
    width: 100%;
  }
}

input[type="checkbox"] {
  margin: 1.2em;
}

textarea {
  resize: vertical;
}

label {
  padding: 0.6em 0em;
  display: inline-block;
  text-transform: uppercase;
  color: $g3;
  font-size: 0.9em;
  width: 30%;
  letter-spacing: 0.1em;
  vertical-align: top;
  line-height: 1.5em;
  @include bp-medium {
    width: 100%;
  }
}

legend {
  width: 100%;
  margin-bottom: .5em;
  padding: .3em .8em;
  color: $g00;
  background-color: $gred;

  .danger-zone & {
    background-color: indianred;
    position: relative;
    top: 0.8em;
    margin-bottom: 0.8em;
  }
}

fieldset {
  //Fieldset within fieldset since formtastic makes the form's top level a fieldset too
  fieldset ol {
    margin-left: 0.5em;
  }
  & .danger-zone {
    border: 0.15em solid indianred;
    margin-bottom: 0.5em;
  }
  li {
    margin-bottom: 1.5em;
  }
}

.form-item {
  padding-bottom: 1em;
  padding-top: 0.6em;
  width: 70%;
  display: inline-block;
  @include bp-medium {
    width: 100%;
  }
}

.form-input-content {
  width: 100%;
  margin-bottom: 1em;
  background-color: $darken1;
  border: none;
  padding: .5em;
  font-size: 1em;
  font-family: $font-sans;
  resize: vertical;
  display: inline-block;
}

input[type="text"].form-input-title {
  font-family: $font-special;
  font-size: 1.8em;
  font-weight: 800;
  padding: .2em;
  margin-bottom: 0.5em;
  width: 100%;
}

.form-padded {
  padding-bottom: 2em;
}

.form-toggle {
  overflow: hidden;
  legend {
    display: none;
  }
  li {
    list-style: none;
  }
  li.choice {
    list-style: none;
    display: block;
    width: 50%;
    float: left;
    text-align: center;
    clear: none;
    label {
      width: 100%;
      cursor: pointer;
    }
  }
  input {
    // Hide radio button when JS provides visual feedback on the toggled button.
    width: 0;
    height: 0;
    -webkit-appearance: none;
    visibility: hidden;
  }
  label.checked {
    text-decoration: underline;
  }
  label[for="argument_pro_con"]{
    color: $red;
  }
  label[for="argument_pro_con"].checked{
    background-color: $red;
    color: white;
  }
  label[for="argument_pro_pro"]{
    color: $gre;
  }
  label[for="argument_pro_pro"].checked{
    background-color: $gre;
    color: white;
  }
}

.form-small {
  max-width: 16em;
  padding-bottom: 1em;
  padding-top: 1em;
  margin: auto;
}

.form-small .btn {
  display: block;
  margin: auto;
}

.form-small input, .form-small button {
  width: 100% !important;
}

.form-small label {
  padding: 0;
  width: 100%;
}

.formtastic button {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  padding: .5em .8em .4em .8em;
  background-color: $blu;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: hand;
  width: auto;
  display: inline-block;
  margin-bottom: 1em;
  height: 3em;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  cursor: pointer;
  &:hover {
    background-color: $blud;
  }
  &:active {
    background-color: $g5;
  }
  &:disabled{
    background-color: $g2;
  }
}

.form-small button {
  position: relative;
}

.formtastic .actions {
  margin-top: 1em;
}

.formtastic li {
  clear: both;
}

.form-small .actions {
  margin-top: 0;
}


input[type="file"], select {
  padding: 0.3em 0em;
  margin-bottom: 1.2em;
  font-size: 1em;
}

.preview_image img {
  max-width: 100%;
}

.inline-hints {
  color: $g2;
}

.inline-errors {
  color: white;
  background-color: $red;
  padding: 0.2em .5em;
}

.formtastic .inline-errors {
  float: right;
  width: 70%;
  @include bp-medium{
    width: 100%;
    float: none;
  }
}