@import "variables";
@import "mixins";

input[type="text"], textarea, input[type="password"], input[type="email"], input[type="url"] {
  background-color: $darken1;
  border: none;
  padding: .5em;
  font-size: 1em;
  font-family: $font-sans;
  resize: vertical;
  display: inline-block;
  width: 70%;
  margin-bottom: 1.5em;
  &:focus {
    background-color: $darken0;
    border: none;
    outline: none;
  }
  &.h1 {
    font-family: $font-special;
    font-size: 2.5em;
    font-weight: 800;
    margin: -0.1em -0.2em .3em -.2em;
    width: calc(100% + .4em);
    padding: .2em;
  }
  + input[type="text"], textarea, input[type="password"], input[type="email"], input[type="url"] {
    margin-top: 0em !important;
  }
  width: 70%;
}

label {
  padding: 0.6em 0em;
  display: inline-block;
  text-transform: uppercase;
  color: $g3;
  font-size: 0.9em;
  width: 30%;
  letter-spacing: 0.1em;
  vertical-align: top;
  line-height: 1.5em;
}

.form-auth-icons {
  padding-bottom: 1em;
}

.form-input-content {
  width: 100%;
  width: calc(100% + 1em);
  margin-bottom: 1em;
  background-color: $darken1;
  border: none;
  padding: .5em;
  font-size: 1em;
  margin: -0.2em -0.5em .5em -.5em;
  font-family: $font-sans;
  resize: vertical;
  display: inline-block;
}

.form-input-title {
  font-family: $font-special;
  font-size: 2.5em;
  font-weight: 800;
  margin: -0.1em -0.2em .3em -.2em;
  width: calc(100% + .4em);
  padding: .2em;
}

.form-padded {
  padding-bottom: 2em;
}

.form-small {
  max-width: 15em;
  padding-bottom: 1em;
  padding-top: 1em;
  margin: auto;
}

.form-small .btn {
  display: block;
  margin: auto;
}

.form-small input, .form-small button {
  width: 100%;
}

.form-small label {
  padding: 0;
  width: 100%;
}

.formtastic button {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  padding: .5em .8em .4em .8em;
  background-color: $gre;
  border: none;
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
  margin-bottom: 1em;
  cursor: hand;
  display: inline-block;
  border-bottom: solid 3px $darken2;
  &:hover {
    border-color: $darken3;
  }
  &:active {
    border-color: $darken4;
  }
}

@media screen and (max-width: 699px) {
  input[type="text"], textarea, input[type="password"], input[type="email"], input[type="url"] {
    width: 100%;
  }

  label{
    width: 100%;
  }
}