@import "variables";
@import "mixins";

.grid {
  @include container-width;
  margin: auto;

  &.display-single-column {
    max-width: 55em;
  }
}

.box-grid.box-big{
  width: 100%;
  width: calc(100% - 2em);
  .box-image {
    height: 14em;
  }
  h1 {
    font-size: 2.2em;
    @include bp-medium {
      font-size: 1.5em;
    }
  }
}

.box-grid {
  display: inline-block;
  float: left;
  margin: 1em 1em;
  width: 45%;
  width: calc(50% - 2em);
  @include bp-medium{
    width: 100%;
    width: calc(100% - 2em);
  }

  .display-single-column & {
    width: 100%;
    width: calc(100% - 2em);
  }

}

.box-grid-sizer {
  width: 50%;
  display: inline-block;
  &.box-grid-sizer-full {
    width: 100%;
    display: inline-block;
  }

  .display-single-column & {
    width: 100%;
  }

}