@import "variables";
@import "mixins";

.intro-trigger {
  cursor: pointer;
}

.introjs-bullets {
  padding-bottom: 2em;
}

.introjs-bullets ul li a {
  width: 10px;
  height: 10px;
}

.introjs-button {
  border-radius: 0;
  border: none;
  text-shadow: none;
  font-size: .8em;
  text-transform: uppercase;
  padding: 0.8em 1.7em;
  width: 50%;
  text-align: center;
  letter-spacing: .1em;
  &:hover{
    box-shadow: none !important;
    background: $g5 !important;
    color: white !important;
  }
}

.introjs-helperLayer {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border: solid 3px $blu;
  box-sizing: border-box;
}

.introjs-nextbutton {
  background: $blu !important;
  color: white;
  position: absolute;
  bottom: 0;
  right: 0;
}

.introjs-prevbutton {
  background: $g3 !important;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.introjs-skipbutton{
  position: absolute;
  top: 0;
  font-weight: bold;
  width: auto;
  display: block;
  padding: 5px 10px;
  font-size: 10px;
  overflow: hidden;
  right: 0;
  margin: 0;
  background-color: #e8e8e8;
  &:hover{
    background-color: $g2 !important;
  }
}

.introjs-disabled {
  display: none;
  &:hover{
    background: inherit !important;
    color: initial;
  }
}

.introjs-overlay {
  background: $darken5;
  cursor: pointer;
}

.introjs-tooltip {
  box-shadow: none;
  border-radius: 0;
  border: none;
  padding: 20px;
  width: 300px;
  z-index: 1000000;
  overflow: hidden;
  @include box-shadow-intense;
}

.introjs-tooltiptext {
  line-height: 1.6em;
}

.introjs-helperNumberLayer {
  display: none;
}

.introjs-tooltipReferenceLayer{
  z-index: 1000000;
}

.intro-filler {
  width: 100%;
  width: calc(100% - 2em);
  margin: 0 1em;
  height: 0;
}