@import "variables";
@import "mixins";

.landing__hero__item {
  a {
    &:hover {
      opacity: 1;
    }
  }
}

.landing__hero {
  background-image: image-url("landing/TweedeKamer.jpg");
}

.landing__button {
  &:hover {
    background-color: #e2398f;
  }
}

.landing__block__image-bg {
  background-image: image-url("landing/Motion.png");
}

.landing__project {
  @include box-shadow();
}

@keyframes appear {
    0% {
      height: 0;
      opacity: 0;
    }
    100% {
      height: 1.6em;
      opacity: 1;
    }
}

.landing__visible .animate{
  animation: appear .8s ease-out 0s 1 forwards;
}

.landing-box {
  @include box-shadow-intense;

  .animate {
    height: 0;
    opacity: 0;
  }

  .animate.li-question-1 {
    animation-delay: .6s;
  }

  .animate.li-question-2 {
    animation-delay: 2s;
  }

  .animate.li-question-3 {
    animation-delay: 5.2s;
  }

  .animate.li-motion-1 {
    animation-delay: 1s;
  }

  .animate.li-motion-2 {
    animation-delay: 3.3s;
  }

  .animate.li-motion-3 {
    animation-delay: 2.3s;
  }

  .animate.li-motion-4 {
    animation-delay: 5s;
  }
}

// FAQ
.landing__question {
  font-size: 1em;
  margin-top: 1.3em;
}


.landing__circles {
  display: flex;
  flex-wrap: wrap;
}

.landing__circle {
  flex: 1;
  padding: 2em;
  text-align: center;
  flex-basis: 18em;
}

.landing__circle__image {
  width: 7em;
  height: 7em;
  background-size: cover;
  background-position: center;
  flex: 1;
  border-radius: 999px;
  margin: auto;
  @include box-shadow-intense;
}

.landing__circle__title {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.7em;
  margin-bottom: .3em;
}

.landing__circle__body {
  font-size: .9em;
}

.landing__big_list {
	counter-reset: landinglist;
}

.landing__big_list li:before {
  content: counter(landinglist);
  counter-increment: landinglist;
  left: -3em;
  background-color: #aaaaaa;
  color: white;
  border-radius: 999px;
  position: absolute;
  display: block;
  text-align: center;
  vertical-align: center;
  padding: 0.6em;
  height: 2.1em;
  width: 2.1em;
  font-weight: bold;
}

.landing__big_list li {
  margin-left: 3em;
  position: relative;
}

.landing__case {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 4em;
  width: 50%;
  display: inline-block;
}

.landing__case__image {
  width: 100%;
  height: 14em;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.landing__case__header {
  font-size: 1em;
  margin-top: -0.2em;
}

.landing__case__body {
  margin-bottom: 1.5em;
}

.landing__case__box {
  max-width: 26em;
  margin: auto;
}

.landing__case__text {
  flex: 1;
  width: 50%;
}

@media only screen and (max-width: 50em) {
  .landing__case {
    width: 100%;
  }

  .landing__case__box {
    max-width: none;
  }
}
