@import "variables";
@import "mixins";

.landing-section {
  padding-top: 2em;
  padding-bottom: 1em;
  font-size: 120%;
  p {
    margin: auto;
    margin-bottom: 1em;
  }
  h1 {
    margin-top: 0;
  }
}

.landing-filled * {
  color: white;
}

.landing-white {
  background-color: white;
  h1 {
    color: $g4;
    text-shadow: none !important;
  }
}

.landing-bg {
  height: 30em;
  text-align: center;
  h1 {
    font-weight: 700;
    font-size: 3em;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include text-shadow;
  }
}