@import "variables";
@import "mixins";

.markdown{
  position: relative;

  .blocks & {
    text-align: left;
    max-width: 40em;
    margin: auto;
  }

  h1{
    font-size: 1.8em;

    @include bp-medium{
      font-size: 1.4em;
    }

    @include bp-small{
      font-size: 1.2em;
    }
  }

  p {
    white-space: normal;
  }

  hr{
    border: none;
    border-top: solid 1px $g2;
    margin-bottom: 1em;
  }

  a{
    text-decoration: underline;
    
    &:hover{
      color: $blu;
    }

    &:visited{
      color: $blu;
    }
  }
  
  ul, ol{
    list-style: initial;
    padding-left: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5em;

    ul, ol{
      margin-bottom: 0;
    }

    > li > p {
      margin-bottom: 0;
    }
  }

  ol {
    list-style-type: decimal;
  }

  em{
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }
}

.collapsible-label {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0;
  z-index: 1;
  font-size: 1em;

  @include no-tap-highlight;

  &:after {
    content: "";
    width: 0;
    height: 0;
    bottom: .7em;
    @include transform(rotate(180deg));
    border-style: solid;
    border-width: 0em .7em .5em .7em;
    border-color: transparent transparent $g1a transparent;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    @include transition(border-color .2s);
  }

  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3.3em;
    // Width equal to twice the padding for a section
    width: calc(100% + 2.8em);
    left: -1.4em;
    right: -1.4em;
    bottom: -.1em; //Corrects for the .1em padding in a section
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+70,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    @include transition(background-color .2s);
  }

  &--form:before {
    left: -1em;
    right: -1em;
    width: calc(100% + 2em)
  }
}

.collapsible-wrapper {
  position: relative;
}

.collapsible-input {
  display: none;
}

.collapsible-content {
  margin-bottom: 0;
}

.collapsible-input:not(checked) ~ .collapsible-content {
  max-height: 7em;
  overflow: hidden;
}

.collapsible-input:checked ~ .collapsible-content {
  max-height: none;
  padding-bottom: 1em;
}

.collapsible-input:checked ~ .collapsible-label {
  max-height: none;

  &:before {
    height: 2.2em;
  }

  &:after {
    @include transform(rotate(0deg));
  }
}

.collapsible-label:hover {
  &:after {
    border-color: transparent transparent $g3 transparent;
  }

  &:before {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+100&0.1+0,1+70,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(249,249,249,1) 70%, rgba(247,247,247,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(249,249,249,1) 70%,rgba(247,247,247,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(249,249,249,1) 70%,rgba(247,247,247,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
  }
}

.collapsible-label:active {
  &:after {
    border-color: transparent transparent $g4 transparent;
    @include transition(background-color 0);
  }

  &:before {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e8e8e8+100&0.1+0,1+70,1+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(239,239,239,1) 70%, rgba(232,232,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(239,239,239,1) 70%,rgba(232,232,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(239,239,239,1) 70%,rgba(232,232,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-9 */
    @include transition(background-color 0);
  }
}
