@import "variables";
@import "mixins";

.markdown{

  .blocks & {
    text-align: left;
    max-width: 40em;
    margin: auto;
  }

  h1{
    font-size: 1.8em;

    @include bp-medium{
      font-size: 1.4em;
    }

    @include bp-small{
      font-size: 1.2em;
    }
  }

  p {
    white-space: normal;
  }

  hr{
    border: none;
    border-top: solid 1px $g2;
    margin-bottom: 1em;
  }

  a{
    text-decoration: underline;
    
    &:hover{
      color: $blu;
    }

    &:visited{
      color: $blu;
    }
  }
  
  ul, ol{
    list-style: initial;
    padding-left: 1.5em;
    margin-bottom: 1em;
    line-height: 1.5em;

    ul, ol{
      margin-bottom: 0;
    }

    > li > p {
      margin-bottom: 0;
    }
  }

  ol {
    list-style-type: decimal;
  }

  em{
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }
}

.tooltip-label {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  padding-left: 1.6em;
  z-index: 1;
  &:after {
    content: attr(data-readmore);
  }

  &:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 4em;
    left: 0;
    right: 0;
    bottom: 1.6em;
    z-index: -1;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }
}

.tooltip-input {
  display: none;
}

.tooltip-content {
  margin-bottom: 1.5em;
  @include transition(max-height .2s);
}

.tooltip-input:not(checked) ~ .tooltip-content {
  max-height: 4.9em;
  overflow: hidden;
}

.tooltip-input:checked ~ .tooltip-content {
  max-height: none;
}
.tooltip-input:checked ~ .tooltip-label {
  max-height: none;

  &:before {
    display: none;
  }

  &:after {
    content: attr(data-readless);
  }
}

.tooltip-label:hover {
  &:after {
    text-decoration: underline;
  }
}