@import "variables";
@import "mixins";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  pointer-events: none;
  height: 100vh;
  overflow-y: auto;
  .box {
    pointer-events: auto;
    text-align: left;
  }
  .box-small {
    display: inline-block;
    vertical-align: top;
    margin: 0em 1em 1em;
  }
  @include animation(from-top-fade .3s ease-out);
  @include bp-medium{
    //position: absolute;
  }
  text-align: center;
}

.modal h1 {
  margin-bottom: 1em;
  color: white;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  height: 100%;
  overflow: hidden;
  background-color: $darken_overlay;
  @include animation(fade-in .3s linear);
  @include transition(.2s);
}

.modal-container:not(.no-close){
  .overlay{
    cursor: pointer;
    &:hover{
      background-color: lighten($darken_overlay, 5%);
    }
    &:after{
      content: 'x';
      font-weight: bold;
      position: absolute;
      top: 0;
      right: 0;
      color: white;
      background-color: rgba(255, 255, 255, 0.24);
      padding: 0.5em 0.7em;
      pointer-events: none;
    }
  }
}

.modal-body{
  overflow: hidden;
}

// apply these classes when clicking on overlay of modals.
.modal-hide {
  .modal {
    @include animation(to-bottom-fade .3s ease-in both);
  }
  .overlay {
    @include animation(fade-out .3s linear both);
  }
}

