@import "variables";
@import "mixins";

.modal {
  position: fixed;
  top: 3em;
  left: 0;
  right: 0;
  z-index: 20;
  pointer-events: none;
  overflow-y: auto;
  @include animation(from-top .5s ease-out);
  .box {
    pointer-events: auto;
  }
  @include bp-medium{
    position: absolute;
  }
}

.modal h1 {
  margin-bottom: 1em;
  color: white;
}

.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  height: 100%;
  overflow: hidden;
  background-color: $darken4;
  @include animation(fade-in .5s ease-in);
}

// apply these classes when clicking on overlay of modals.
.modal-hide {
  .modal {
    @include animation(to-bottom .5s ease-in both);
  }
  .overlay {
    @include animation(fade-out .5s ease-in both);
  }
}

