@import "variables";
@import "mixins";

.navbar-item {
  @include transition(.1s);

  &:hover, &:focus {
    background-color: $lighten2;
    text-decoration: none;
  }
}

.navbar-item:active {
  background-color: $lighten3;
  transition: none;
}

input[type="text"].nav-search-text {
  margin: 0;
  width: 100%;
  resize: none;
}

input[type="submit"].nav-search-button {
  width: 5em;
  display: inline;
}

.nav-search {
  width: 19em;
}

.navbar-below {
  @include box-shadow();
}

.hide-l {
  @include bp-large {
    display: none !important;
  }
}

.hide-ml {
  @include bp-medium-large {
    display: none !important;
  }
}

.hide-m {
  @include bp-medium {
    display: none !important;
  }
}

// Accessibility here

// For users who rely on keyboard navigation
.accessibility-link {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    top: 0;
    z-index: 100;
    width: 100%;
    text-align: center;
    height: auto;
    padding: 0 10px;
    clip: auto;
    font-weight: bold;
    line-height: $navbar-height;
    color: white;
    text-decoration: none;
    background: $blud;
  }
}

// Hides the focus outline for mouse users
*:focus:hover {
  outline: none !important;
}

// Hides the focus outline
#start-of-content:focus {
  outline: none;
}
