@import "variables";
@import "mixins";

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 3em;
  background-color: $blu;
  @include box-shadow;
}

.navbar-item {
  color: white;
  display: block;
  padding: 0em 0.7em;
  font-size: 1em;
  text-transform: uppercase;
}

.navbar-item span {
  font-size: .8em;
  vertical-align: middle;
  &.fa {
    font-size: 1em;
  }
  @include bp-medium(){
    display: none;
    &.fa{
      display: inline-block;
    }
  }
}

.navbar-item {
  > .fa {
    line-height: 3em;
  }
  &:hover {
    background-color: $lighten1;
  }
}

a.navbar-item:active{
  background-color: $lighten2;
}

.navbar-links {
  margin-left: 1em;
  float: left;
  > li {
    float: left;
  }
}

.navbar-links-right {
  float: right;
  margin-right: 1em;
  margin-left: 0em;
}

.navbar-link-description {
}

.navbar-logo {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  width: 5.8em;
  img {
    width: 82%;
    margin-top: 4.6%;
  }
}

input[type="text"].nav-search-text {
  margin: 0;
  width: 100%;
  resize: none;
}

input[type="submit"].nav-search-button {
  width: 5em;
  display: inline;
}

.nav-container {
  @include container-width;
  margin: auto;
  position: relative;
}

.nav-search {
  width: 19em;
}