@import "variables";
@import "mixins";

.notification-container {
  min-width: 25em !important;
  @include bp-small{
    position: fixed !important;
    top: 3em !important;
    right: 1em !important;
    left: 1em !important;
    width: 100% !important;
    width: calc(100% - 2em) !important;
    min-width: auto;
  }
}

.notifications li {
  position: relative;
  display: block;
  border-bottom: solid 1px $g1;
  cursor: pointer;
  //> a {
  //  padding: .6em 1.1em .6em .7em;
  //}
  &:hover .notification-settings{
    opacity: 1;
  }

  &:last-child {
    border-bottom: none;
  }
}

.notification-item {
  min-height: 4.2em;
  display: inline-block;
  a {
    display: inline-block;
  }
}

.notification-avatar {
  display: block;
  min-height: 3em;
  width: 3em;
  @include border-radius(999px);
}

.notification-description {
  width: 85%;
  font-size: 1em;
  display: block;
  line-height: 1.4em;
  position: relative;
  color: $g4;
  left: 3.5em;
  margin-top: -3em;
  margin-bottom: 1.3em;
}

.notification-icon {
  color: $g2;
}

.notification-btn {
  background-color: $g1;
  a, span {
    padding: .3em;
    padding-left: 1em;
  }
}

.notification-time {
  color: $g2;
}

// The small gear icon that sits in the top right corner of a notification
.notification-settings {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 1em !important;
  min-height: 1em !important;
  width: 1.3em;
  padding: 0.2em !important;
  color: $g2 !important;
  &:hover{
    color: $g3 !important;
  }
}

.notification-bottom{
  left: 17%;
  position: absolute;
  bottom: 0.9em;
  font-size: .8em;
  color: $g2;
}

.notification-counter {
  background-color: $red-alert;
  color: white;
  font-weight: bold;
  font-size: 0.6em;
  position: absolute;
  top: .3em;
  left: .3em;
  width: 1.8em;
  height: 1.8em;
  padding: 0;
  text-align: center;
  pointer-events: none;
  line-height: 1.8 !important;
  display: inline-block !important; // Prevents hiding when other navigation spans are hiding
  @include border-radius(99px);
  @include box-shadow(0em 0.1em 0.25em 0em rgba(0, 0, 0, 0.2));
}

.notifications .unread {
    background-color: $g0;
  }

.share-counter {
  right: -0.9em;
  left: auto;
  top: -0.9em;
  background-color: #539844;
  font-size: 0.8em;

  @include animation(enlarge-twist 1.3s);
  @include transform(scale(1) rotate(7deg));
  @include transition(.3s);

  .dropdown-active & {
    @include transform(scale(1.2) rotate(12deg));
  }
}
