@import "variables";

.has-opinion-icon {
  margin-left: -1em;
  padding-left: 1.5em;
}
.opinion-icon {
  position: absolute;
  top: -.6em;
  left: -.6em;
  z-index: 1;
  border-radius: 100%;
  padding: .5em;
  width: 2em;
  color: white;
}
.opinion-icon-expired {
  opacity: .4;
}
.opinion-icon-pro {
  background-color: $gre;
}
.opinion-icon-neutral {
  background-color: $g3;
}
.opinion-icon-con {
  background-color: $red;
}
.opinion-form, .opinion-body {
  position: relative;
  text-align: left;
}

.opinion-form__arguments-selector, .opinion-body__arguments-list {
  list-style-type: none;
  width: 50%;
  width: calc(50% + 0.5em);
  margin-left: -0.5em;
  padding: 0 0.5em;
  display: inline-block;
  vertical-align: top;
  margin-bottom: .8em;
  line-height: 1.2em;

  label {
    text-transform: initial;
    letter-spacing: 0;
    margin-bottom: 0;
    padding: 0;
    line-height: 1.2em;
    width: 100%;
    position: relative;
    cursor: pointer;
    font-size: 1em;

    span {
      display: block;
      font-weight: bold;
      margin-left: 1.3em;
      margin-bottom: .7em;
    }
  }

  input[type="checkbox"] {
    position: absolute;
    margin: 0;
    left: 0;
    top: 2px;
  }

  input[type=checkbox] {
    padding-left:5px;
    padding-right:5px;
    border-radius:15px;

    -webkit-appearance:button;
    -moz-appearance:button;

    border: solid 2px $g3;

    background-color: white;
    color:#FFF;
    white-space: nowrap;
    overflow:hidden;

    width:15px;
    height:15px;
    cursor: pointer;
  }

  input[type=checkbox]:checked {
    background-color: $g3 !important;
  }

  input[type=checkbox]:hover {
    background-color: $g2;
  }
}
.opinion-body__arguments-list {
  label {
    margin-bottom: .5em;
  }
}
.unconfirmed-vote-warning {
  padding: 0.4em;
  border: solid 1px $red ;
  color: $red ;
  strong {
    font-weight: bold;
  }
}
