@import "variables";
@import "mixins";

.profile-small {
  position: relative;
  padding: 0;
  height: 2.45em;
  overflow: hidden;
  background-color: $g00;

  img {
    //deprecated
    position: absolute;
    left: 0;
    min-height: 2em;
    width: 2em;
    border-radius: 999px;
    margin: 0.2em;
  }

  .info {
    vertical-align: top;
    margin: 0;
    padding: 0;
    display: block;
  }

  .profile-picture {
    position: absolute;
    left: 0;
    min-height: 2em;
    border-radius: 999px;
    margin: 0.2em;
  }

  .profile-name {
    display: inline-block;
    font-weight: bold;
    color: $g3;
    font-size: 0.8em;
    position: absolute;
    top: 1.7em;
    left: 0.4em;
    &:hover{
      text-decoration: underline;
    }
  }
}

.profile-big .box {
  min-height: 8em;
}

.profile-big section {
  @include bp-medium(){
    margin-left: auto;
  }
}

$profile-big-width: 7em;

// Deprecated
.profile-picture {
  width: $profile-big-width;
  height: $profile-big-width;
  position: relative;
  @include border-radius(999px);

  img {
    width: 100%;
    height: 100%;
  }
}

.profile-picture--absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.profile-picture--in-small-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.profile-picture--big{
  display: inline-block;
  margin-bottom: -1em;
  z-index: 1;
  border: solid 4px white;
}

.profile-picture--medium{
  height: 3.5em;
  width: 3.5em;
}

.profile-picture--small {
  width: 2em;
  height: 2em;
}

.profile-picture-upload {
  margin: 0 0 1em 0;
}
.profile-switcher {

  li {
    height: 2em;
    overflow: hidden;
  }

  a{
    height: 2em;
    padding: 0;
  }

  img {
    height: 100%;
    max-width: 2em;
  }

  span {
    vertical-align: top;
    padding: 0.5em;
  }
}

.profile-switcher-current {
  background-color: $darken1;
}

.info-block {
  margin-left: 2.3em;
  padding: .3em;
  position: relative;
}

.info-block--no-padding {
  margin-left: 1.8em;
  margin-right: -1em;
}

.profile-box {
}

.response {
  .profile-small {
    background-color: transparent;
    margin-bottom: .9em;
    height: auto;
    img {
      margin-top: 0;
      margin-left: 0;
    }
  }
  .info-block {
    padding-top: 0;
    h3 {
      margin-bottom: 0;
    }
  }
}

.profile-header {
  position: absolute;
  left: $profile-big-width;
  padding-left: 1em;
  bottom: 0;
  h1 {
    color: white;
    @include text-shadow;
  }
}

.profile-top-container {
  margin-top: 2em;
  position: relative;
}