@import "variables";
@import "mixins";

.progress-bar {
  display: block;
  margin-bottom: 1em;
  width: 100%;
  overflow: hidden;

  li {
    display: inline-block;
    margin: 0 0;
    width: 33.3%;
    //@include box-shadow;
  }
  span {
    width: 100%;
    display: inline-block;
    line-height: 1.6em;
    text-transform: uppercase;
    top: 0;
    position: relative;
    font-size: .9em;
    color: white;
    border-left: solid .3em $transparant;
    border-right: solid .3em $transparant;
    @include border-radius;
    @include box-shadow;
  }
  .btn-pro {
    background-color: $gre;
    border-left: none;
  }
  .btn-neu {
    background-color: $g3;
  }
  .btn-con {
    background-color: $red;
    margin-right: 0;
    border-right: none;
  }
}