@import "variables";
@import "mixins";

.progress-bar {
  display: block;
  width: 100%;
  overflow: hidden;
  @include transition(.2s ease-in-out);
  height: 7px;
  opacity: .5;
  cursor: pointer;
  &:hover {
    opacity: .7;
  }

  span {
    width: 100%;
    display: inline-block;
    line-height: 20px;
    text-transform: uppercase;
    top: 0;
    position: relative;
    font-size: 14px;
    color: white;

    @include bp-small {
      // Compensates for the percent sign
      padding: 0.1em;
      font-size: 0.8em;
      line-height: 1.8em;
    }
  }
  //Use these classes to show and hide the progress bar
  &[data-collapsed] {
    height: 0;
    opacity: 0;
  }

  &.collapse-open {
    height: 2.5em;
    opacity: 1;
  }
}

.progress-bar__section {
  display: inline-block;
  margin: 0 0;
  width: 33.3%;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  border-left: solid .1em $g1;
  border-right: solid .1em $g1;

  &.progress-bar__section--pro {
    background-color: $gre;
    border-left: none;
  }
  &.progress-bar__section--neutral {
    background-color: $g3;
  }
  &.progress-bar__section--con {
    background-color: $red;
    margin-right: 0;
    border-right: none;
  }

  span {
    color: transparent;
  }
}

.progress-bar--expanded {
  height: 18px;
  opacity: 1 !important;

  .progress-bar__section {
    span {
      color: white;
    }
  }
}

.progress-bar--always-expanded {
  @include border-radius();
  cursor: initial;
}
