@import "variables";
@import "mixins";

.profile-small {
  position: relative;
  padding: 0;
  height: 2.45em;
  overflow: hidden;
  background-color: $g00;

  img {
    position: absolute;
    left: 0;
    min-height: 2em;
    width: 2em;
    border-radius: 999px;
    margin: 0.2em;
  }

  .info {
    vertical-align: top;
    margin: 0;
    padding: 0;
  }

  .profile-name {
    display: inline-block;
    font-weight: bold;
    color: $g3;
    font-size: 0.8em;
    position: absolute;
    top: 1.7em;
    left: 0.4em;
    &:hover{
      text-decoration: underline;
    }
  }
}

.profile-big .box {
  min-height: 8em;
}

.profile-big section {
  @include bp-medium(){
    margin-left: auto;
  }
}

.profile-picture {
  width: 10em;
  height: 10em;
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}

.profile-picture-upload {
  margin: 0em 0em 1em 0em;
}

.profile-picture-show {
  margin: 0em 1em 0em 0em;
  float: left;
  width: 8em;
  height: 8em;
  overflow: hidden;
  z-index: 1;
  @include box-shadow;
  @include border-radius;
  @include bp-medium(){
    margin: 0em auto 2em auto;
    display: block;
    float: none;
  }
}

.profile-switcher {

  li {
    height: 2em;
    overflow: hidden;
  }

  a{
    height: 2em;
    padding: 0;
  }

  img {
    height: 100%;
    max-width: 2em;
  }

  span {
    vertical-align: top;
    padding: 0.5em;
  }
}

.profile-switcher-current {
  background-color: $darken1;
}

.info-block {
  margin-left: 2.3em;
  padding: .3em;
  position: relative;
}

.info-block--no-padding {
  margin-left: 1.8em;
  margin-right: -1em;
}

.profile-box {
  .header {
    display: inline-block;
    h3 {
      margin: 0.5em 0em 0.1em 0.4em;
    }
    .info-block {
      margin-left: .4em;
      font-size: 0.8em;
      color: $g2;
      font-style: italic;
      li {
        line-height: 1em;
        float: left;
        margin-right: 1.1em;
        margin-bottom: 0.5em;
      }
    }
  }


  a, .additional-info, img {
    float: left;
    clear: right;
  }

  img {
    width: 5em;
    height: 5em;
  }
}

.response {
  .profile-small {
    background-color: transparent;
    margin-bottom: .9em;
    height: auto;
    img {
      margin-top: 0;
      margin-left: 0;
    }
  }
  .info-block {
    padding-top: 0;
    h3 {
      margin-bottom: 0;
    }
  }
}