@import "variables";
@import "mixins";

.Select {
  margin-bottom: 1em;
  .Select-control {
    width: 100%;
    margin-bottom: 0;
  }
}

.react, .react_select, .react_country{
  > div {
    width: 70%;
    display: inline-block;
    @include bp-medium{
      width: 100%;
    }
  }
}
