@import "variables";
@import "mixins";

section {
  padding: 1.1em 1.4em 0.1em 1.4em;
  background-color: white;
}

// All this wizardry is to make only the correct borders round.
// As you can see, .section-info requires some special treatment.
.box > section:first-child:not(.section-info), .box > a:first-child > section:not(.section-info), .box > a:first-child > .box-image--container {
  overflow: hidden;
  display: block;
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;
}

.box > section.section-info:first-child, .box > a:first-child  > section.section-info{
  border-top-left-radius: $border-radius-size;
  border-top-right-radius: $border-radius-size;

  .details-part--type {
    border-top-left-radius: $border-radius-size;
  }
  .details-part--right {
    border-top-right-radius: $border-radius-size;
  }
}

//.box > section:last-child, .box > a:last-child > section{
.box > section:last-child, .box > a:last-child {
  overflow: hidden;
  display: block;
  border-bottom-left-radius: $border-radius-size;
  border-bottom-right-radius: $border-radius-size;
}

.section-info {
  height: $info—bar-height;
  background-color: $g00;
  padding: 0;
  position: relative;

  span {
    font-size: .8em;
  }

  .fa-group {
    font-size: 0.7em;
  }

}

.details {
  padding: 0;
  line-height: $info—bar-height;
  color: $g2a;
  display: block;
  width: 100%;
  // May interfere with overflow:hidden! But if removed, it places the info section always at the top.
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: $info—bar-height;
}

.details-parts, .details-part {
  display: inline-block;
  vertical-align: top;
}

.details-part{
  padding: 0 .5em;
  height: 100%;
  &:hover{
    background-color: $g0;
    color: $g3;
  }
}

.details-part--right{
  float: right;
}

.details-part--type{
  color: white;
  padding-left: 1.2em;
  padding-right: 1.2em;
  margin-right: .6em;
  +.details-part {
    padding-left: 1em;
  }
  &:hover{
    color: white;
  }
}

.details-part--filled {
  color: white;

  &:hover {
    color: white;
    background-color: $g3;
  }
}

.details-part--pro:hover {
  color: $pro;
}

.details-part--neutral:hover {
  color: $neutral;
}

.details-part--con:hover {
  color: $con;
}

.details-part--motion:hover {
  color: $motion;
}

.details-part--question:hover {
  color: $question;
}

.details-part--countdown {
  background-color: $red-alert;
  &:hover {
    background-color: darken($red-alert, 10%);
  }
}

.details-part--closed {
  background-color: $g3;
}

.details-part--accepted {
  background-color: $gre;
}

.details-part--rejected {
  background-color: $red;
}

.details-part--contemplating {
  background-color: $g3;
}

// Use this style when voting with the info bar is possible
/*
.details-part--pro, .details-part--con, .details-part--neutral {
  &:hover {
    color: white;
  }
}

.details-part--pro{
  color: $pro;
  &:hover{
    background-color: $pro;
  }
}

.details-part--neutral{
  color: $neutral;
  &:hover{
    background-color: $neutral;
  }
}

.details-part--con{
  color: $con;
  &:hover{
    background-color: $con;
  }
}

*/

section.unpadded {
  padding: 0;
}

section.smallpadded {
  padding: 1.1em 1em 0 1em;
}

.section-small {
  position: relative;
  padding: .3em 1.4em 0.1em 1.4em;
}

.box .section-fill {
  background-color: $g3;

  h2 {
    color: White !important;

    &:hover {
      color: white !important;
    }
  }
}

.section-description {
  background-color: $g00;
}

.section-video {
  padding: 0;
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;

  iframe, object, embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.section--has-readmore {
  padding-bottom: .4em;
}

.section-draft {
}

.section--footer {
  background-color: $g00;
  padding: 0;
  height: $section-footer-height;
}

.section--context {
  padding: 0.7em 1.5em;
  font-size: 0.8em;
}

.section--details {
  overflow: visible !important;
  margin-top: -0.7em;
  padding-top: 0.7em;
  padding-bottom: 0.5em;

  .display-hide-details &{
    display: none !important;
  }
}

.section--details + section {
  padding-top: 0;
}

.section--no-top-padding {
  padding-top: 0;
}
