@import "variables";
@import "mixins";

section {
  position: relative;
  padding: 1.1em 1.4em 0.1em 1.4em;
}

.section-info {
  span {font-size: .8em;};
  padding-top: 0.1em;
  line-height: 1.1em;
  background-color: $g3;
  color: white;
  text-transform: uppercase;
  .fa-group {
    font-size: 0.7em;
  }
}

section.unpadded {
  padding: 0;
}

section.smallpadded {
  padding: 1.1em 1em 0em 1em;
}

.section-small {
  position: relative;
  padding: .3em 1.4em 0.1em 1.4em;
}

.box .section-fill {
  background-color: $g3;
  h2 {
    color: White !important;
    &:hover {
      color: white !important;
    }
  }
}

.section-description {
  background-color: $g00;
}

.section-info--right {
  position: absolute;
  top: 0;
  right: 0;
}

.section-info--countdown {
  background-color: $red-alert;
}

.section-info--closed {
  background-color: $g3;
}

.section-info--accepted {
  background-color: $gre;
}

.section-info--rejected {
  background-color: $red;
}

.section-info--contemplating {
  background-color: $g3;
}