@import "variables";
@import "mixins";

section {
  position: relative;
  padding: 1.1em 1.4em 0.1em 1.4em;
}

section.section-info {
  span {font-size: .8em;};
  padding-top: 0.1em;
  line-height: 1.1em;
  background-color: $g3;
  color: white;
  text-transform: uppercase;}

section.unpadded {
  padding: 0;
}

section.smallpadded {
  padding: 1.1em 1em 0em 1em;
}

section + section {
  border-top: solid 1px $g1;
}

.section-small {
  position: relative;
  padding: .3em 1.4em 0.1em 1.4em;
}

.section-fill {
  background-color: $g3;
  @include border-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  * {
    color: White !important;
  }
}

.section-description {
  background-color: $g00;
}