@import "variables";
@import "mixins";

table {
  width: 100%;
  margin-bottom: 1em;
  text-align: left;
  td, tr, th {
    padding: .2em;
  }
  thead {
    background-color: $g3;
    color: white;
  }
  tbody {
    tr {
      &:nth-child(even) {
        background-color: $g1;
      }
    }
  }
  caption {
    font-family: $font-special;
    color: $g4;
    font-weight: bold;
    font-weight: 700;
    background-color: $g0;
    font-size: 1.2em;
    text-align: center;
    padding: 1em;
  }
}

.bordered {
  border: solid 1px $g3;
}