@import "variables";
@import "mixins";

.tab--current a {
  font-weight: bold;
}

.tabs {
  position: relative;
  margin: auto;
  width: 100%;

  li {
    display: inline-block;
  }

  a {
    color: $g3;
    width: 100%;
    padding: .7em .7em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: bottom;
    @include transition(.2s);
  }
}

.tabs-container {
  margin: auto;
  width: 100%;
  background-color: white;
}

// Horizontal tabs
.tabs-container .tabs {
  @include container-width;
  margin-bottom: 1em;
  z-index: 1;
  padding-left: 1em;
  padding-right: 1em;

  @include bp-small {
    padding-left: 0em;
    padding-right: 0em;
  }

  a {
    padding: 1em;
  }

  a:after {
    position: absolute;
    content: "";
    //z-index: -1;
    max-height: 0;
    top: 100%;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 1em solid transparent;
    right: 0;
    @include transition(.2s);
  }

  // Hover & current styling
  .tab--current a, a:hover, a:active{
    color: $g4;
  }

  a:active {
    background-color: $g1;
  }

  .tab--current a {
    &:after {
      border-bottom: 1em solid $g1;
    }
  }
}

.tabs--vertical {
  z-index: 0;
  padding: 0;
  background-color: transparent;

  li {
    display: block;

    span {
      z-index: 1;
    }
  }

  a:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    @include transition(.5s);
    max-width: 0;
    max-height: 100%;
    top: 0;
    z-index: -1;
  }

  a:active, .tab--current a {
    background-color: white;
  }

  a:hover {
    background: none;
  }

  .tab--current a:after, a:hover:after {
    background-color: $g0;
    width: calc(100% + 2.1em);
    max-width: calc(100% + 2.1em);
    margin-right: -4em;
    max-height: 100%;
    top: 0;


    @include bp-medium-large {
      width: 100%;
    }
  }

  .tab--current a:after, a:active:after {
    transition: none;
    background-color: white;
  }
}

.cover .tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  li a {
    background-color: $lighten5;
  }
}

.tabs-to-top {
  margin-top: -2em;
  margin-bottom: 2em;
}