@import "variables";
@import "mixins";

.tabs {
  position: relative;
  margin: auto;
  margin-bottom: 1em;
  @include container-width;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 1;

  li {
    display: inline-block;
  }

  a {
    color: $g3;
    width: 100%;
    padding: 1em .7em;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: bottom;
    @include transition(.2s);
  }

  a:after {
    position: absolute;
    content: "";
    //z-index: -1;
    max-height: 0;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    @include transition(.5s);
  }

  // Hover & current styling
  .tab--current a, a:hover, a:active{
    color: $g4;

    &:after {
      max-width: 100%;
      //max-height: 100%;
      //top: 0;

      max-height: 15%;
      top: 85%;
    }
  }

  a:active {
    background-color: $g1;
  }

  a:hover, a:active{
    background-color: $g00;
    &:after{
      background-color: $g2;
    }
  }

  .tab--current a {
    pointer-events: none;
    background-color: $g00;

    &:after{
      background-color: $g2a;
    }
  }

  a:active:after {
    background-color: $g2a;
    transition: none;
  }
}

.tabs-container {
  margin: auto;
  width: 100%;
  background-color: white;
}

.tabs--vertical {
  z-index: 0;
  padding: 0;
  background-color: transparent;

  li {
    display: block;

    span {
      z-index: 1;
    }
  }

  a:after {
    max-width: 0;
    max-height: 100%;
    top: 0;
  }

  a:active {
    background-color: white;
  }

  .tab--current a:after, a:hover:after {
    background-color: $g0;
    width: calc(100% + 2.1em);
    max-width: calc(100% + 2.1em);
    margin-right: -4em;
    max-height: 100%;
    top: 0;

    @include bp-medium-large {
      width: 100%;
    }
  }

  .tab--current a:after, a:active:after {
    transition: none;
    background-color: white;
  }
}

.cover .tabs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  li a {
    background-color: $lighten5;
  }
}

.tabs-to-top {
  margin-top: -2em;
  margin-bottom: 2em;
}