@import "variables";
@import "mixins";

ul.tags {
  display: inline-block;
  li {
    display: inline-block;
  }
}

.tag {
  color: $blu;
  text-transform: uppercase;
  font-size: .8em;
  line-height: 1.5em;
  padding: 0.4em 0.8em;
  display: inline-block;
  background-color: white;
  margin: .3em;
  @include border-radius;
}

a.tag:hover {
  background-color: $blu;
  color: white;
}

.tag-forum {
  color: $g4 !important;
}


.box > .tags {
  margin-left: .5em;
}

.tags-floating {
  margin-left: -.25em;
  margin-top: -.25em;
  .tag {
    @include box-shadow;
  }
}