@import "variables";
@import "mixins";

ul.tags {
  display: inline-block;
  li {
    display: inline-block;
  }
}

.tag {
  color: $blu;
  text-transform: uppercase;
  font-size: .8em;
  line-height: 1.5em;
  padding: 0.4em 0.8em;
  display: inline-block;
  background-color: white;
  margin: .3em;
  @include border-radius;
  @include transition(.15s);
}

a.tag:hover {
  background-color: $blu;
  color: white;
  cursor: pointer;
}

a.tag:active, a.tag.is-checked {
  background-color: $blu;
  color:white;
}

.tag-forum {
  color: $g4 !important;
}


.tag-motions {
  color: $blu;
  font-weight: bold;
}

.tag-questions {
  color: $bro;
  font-weight: bold;
}

.box > ul.tags {
  border-top: solid 1px rgb(232, 232, 232);
  display: block;
  width: 100%;
  .tag {
    margin: 0;
  }
}

.tags-floating {
  margin-left: -.25em;
  margin-top: -.25em;
  .tag {
    @include box-shadow;
  }
}