@import "variables";
@import "mixins";

$point-size: 1.6em;
$timeline-height: .3em;

.timeline {
  position: absolute;
  width: 100%;
  border-top: $timeline-height solid $g2;
  bottom: $point-size / 2 - ($timeline-height / 2);
  z-index: 1;
}

.timeline-component {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.timeline-phases {
  display: flex;
  flex-direction: row;
}

.phase {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // Is this neccessary?
  // z-index: 10;

  span {
    flex-grow: 1;
    align-self: center;
    text-align: center;
    display: block;
  }
}

.phase-title {
  position: relative;
  text-transform: uppercase;
  font-size: .8em;
  padding: .4em;
  color: $g3;
  padding-bottom: $point-size / 2 + .2em;
  margin-bottom: - ($point-size / 2 + .2em);
  @include transition(background-color, .2s, ease-in-out);

  &:after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0px;
    height: 100%;
    //height: 3.3em;
    background-color: $g2;
  }

  &:last-child:after {
    display: none;
  }
}
.phase-title.active {
  background-color: $g00;
}

.phase-title:hover {
  background-color: $g0;
}

.phase-points {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}

.point {
  background-color: $g2;
  @include border-radius(999px);
  width: $point-size;
  height: $point-size;
  margin: 0;
  display: flex;
  border: none 2px $g2;
  z-index: 1;
  position: relative;
  .fa {
    color: white;
  }
}

.point.active, .point:hover {
  background-color: $g3;
  border-color: $g3;

  .fa {
    color: white;
  }
}

.point.active{
  &:after{
    content: "";
    position: absolute;
    top: 0;
    height: 3em;
    width: $timeline-height;
    left: $point-size / 2 - $timeline-height / 2;
    background-color: $g3;
    z-index: -1;
  }
}