@import "variables";
@import "mixins";

$point-size: 1.6em;

$timeline-height: .3em;

.timeline {
  position: absolute;
  width: 100%;
  border-top: $timeline-height solid $g2;
  bottom: $point-size / 2 - ($timeline-height / 2);
  z-index: 1;

  @include bp-small {
    bottom: 0;
    height: 100%;
    width: 1em;
    border-top: none;
    border-left: $timeline-height solid $g2 ;
  }
}

.timeline-component {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.timeline-phases {
  display: flex;
  flex-direction: row;
  height: 2.8em;

  @include bp-small {
    flex-direction: column;
    height: auto;
  }
}

.timeline-phase {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  // Is this neccessary?
  // z-index: 10;
}

.timeline-phase-title {
  position: relative;
  text-transform: uppercase;
  font-size: .8em;
  padding: .4em;
  color: $g3;
  padding-bottom: $point-size / 2 + .2em;
  margin-bottom: - ($point-size / 2 + .2em);
  @include transition(background-color, .2s, ease-in-out);

  span {
    flex-grow: 1;
    align-self: center;
    text-align: center;
    display: block;

    @include bp-small {
      text-align: left;
      margin-left: 1em;
    }
  }

  &:before {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: $timeline-height;
    height: 100%;
    height: 5em;
    background-color: $g00;
    opacity: 0;
    //z-index: 1;
    @include transition(opacity .2s ease-in-out);
  }

  @include bp-small {
    padding: .6em;
    margin-bottom: 0;
  }
}


.timeline-phase-title.active {
  background-color: $g00;

  &:before {
    opacity: 1;
  }
}

.timeline-phase-title.active {
  background-color: $g00;

  &:before {
    opacity: 1;
  }
}

.timeline-phase-title:hover {
  background-color: $g0;
}

.timeline-phase-points {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;

  @include bp-small {
    align-items: flex-start;
    flex-direction: column;
    margin-left: - ($point-size / 2);
  }
}

.timeline-point {
  background-color: $g2;
  @include border-radius(999px);
  width: $point-size;
  height: $point-size;
  margin: 0;
  display: flex;
  justify-content: center;
  border: none 2px $g2;
  z-index: 2;
  position: relative;
  @include transition(.2s, ease-in-out);

  .fa {
    color: white;
    align-self: center;
  }

  &:before{
    content: "";
    position: absolute;
    top: 0;
    height: 3em;
    width: $timeline-height;
    left: $point-size / 2 - $timeline-height / 2;
    background-color: $g3;
    opacity: 0;
    z-index: -1;
    @include transition(.2s, ease-in-out);
    @include bp-small {
      display: none;
    }
  }

  &.active:before {
    opacity: 1;
  }
}

.timeline-point.active, .timeline-point:hover {
  background-color: $g3;
  border-color: $g3;
}

.timeline-post-title {

  display: none;

  @include bp-small {
    display: inline-block;
    padding: 0.6em;
    margin-top: -1.8em;
    margin-bottom: 0em;
    margin-left: 1em;
    padding-left: 1em;
    width: calc(100% - 1em);
    span {
      font-size: .9em;
    }
    &.active {
      background-color: white;
    }

    .fa {
      color: white;
      align-self: center;
    }
  }
}

#current-blog-post {
  z-index: 2;
  position: relative;
}
.point.active{
  &:after{
    content: "";
    position: absolute;
    top: 0;
    height: 3em;
    width: $timeline-height;
    left: $point-size / 2 - $timeline-height / 2;
    background-color: $g3;
    opacity: 0;
    z-index: -1;
    @include transition(.2s, ease-in-out);
    @include bp-small {
      display: none;
    }
  }

  &.active:before {
    opacity: 1;
  }
}

.timeline-point.active, .timeline-point:hover {
  background-color: $g3;
  border-color: $g3;
}

#current-blog-post {
  z-index: 2;
  position: relative;
}
