@import "variables";
@import "mixins";

::selection {
  background: lighten($blu, 50);
}

::-moz-selection {
  background: lighten($blu, 50);
}

p a {
  &:hover {
    text-decoration: underline;
  }
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  line-height: 1.5em;
  color: $g5;
}

ol.numbered{
  list-style-type: decimal;
  font-style: $font-sans;
  color: $g4;
  padding-left: 1.5em;
  li {
    margin-bottom: 1em;
    line-height: 1.4em;
  }
}

ul.bullets{
  list-style-type: disc;
  padding-left: 1.5em;
  font-style: $font-sans;
  color: $g4;
  margin-bottom: .5em;
  li {
    margin-bottom: 1em;
    line-height: 1.4em;
    margin-bottom: .7em;
    list-style: disc;
  }
}

ul.boxed-list li{
  border: solid 1px rgb(210, 210, 210);
  padding: 0.6em;
  margin-bottom: 1em;
}

.info {
  text-transform: uppercase;
  font-size: .7em;
  color: $g2;
  display: inline-block;
  margin-bottom: 1em;
  line-height: 1.4em;
}

h3.title-alt {
  position: absolute;
  color: white;
  bottom: 0;
  padding: 1em;
  font-size: 2em;
  margin: 0;
}

code {
  font-family: monospace;
}

code {
  font-family: monospace;
  color: $g4;
  background-color: $g0;
  padding: .5em;
  display: block;
  font-weight: bold;
}


blockquote {
  font-style: italic;
  margin-bottom: 1em;
  color: $g4;
  quotes: "“" "”" "‘" "’";
  position: relative;
  &:after {
    content: close-quote;
    font-size: 1.5em;
    color: $g2;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &:before{
    content: open-quote;
    font-size: 1.5em;
    color: $g2;
    position: absolute;
    left: 0;
  }
  p {
    margin-left: 1em;
  }
}

.quote-big{
  font-size: 1.5em;
  text-align: center;
  &:after {
    content: close-quote;
    font-size: 1.5em;
    color: $g2;
    position: absolute;
  }
  &:before{
    content: open-quote;
    font-size: 1.5em;
    color: $g2;
    position: relative;
  }
}

.smaller {
  font-size: .9em;
}

.smaller-8 {
  font-size: .8em;
}

.smaller-7 {
  font-size: .7em;
}

.blockquote--inline {
  &::before{
    position: relative;
  }
  &::after{
    position: relative;
  }
}
