@import "variables";
@import "mixins";

h1, h2, h3 {
  font-family: $font-special;
  margin-bottom: 0.4em;
  color: $g4;
  font-weight: bold;
  font-weight: 700;
  word-break: break-word;
  line-height: 1.5em;
  span {
    font-family: $font-special;
  }
}

h1 {
  font-size: 2.3em;
  @include bp-large {
    font-size: 2em;
  }
  @include bp-medium {
    font-size: 1.5em;
  }
}

h2 {
  font-size: 1.4em;
  @include bp-large {
    font-size: 1.3em;
  }
  @include bp-medium {
    font-size: 1.2em;
  }
}

h3 {
  font-size: 1.3em;
  @include bp-large {
    font-size: 1.3em;
  }
  @include bp-medium {
    font-size: 1.1em;
  }
}

br {
  height: .5em;
  display: block;
}

p, div, small, ol, ul, li, small, span, blockquote {
  font-family: $font-sans;
  word-break: break-word;
}

a {
  text-decoration: none;
  color: $blus;
  outline: none;
}

p a {
  &:hover {
    text-decoration: underline;
  }
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

p {
  line-height: 1.5em;
  color: $g4;
}

ol.numbered{
  list-style-type: decimal;
  font-style: $font-sans;
  color: $g4;
  padding-left: 1.5em;
  li {
    margin-bottom: 1em;
    line-height: 1.4em;
  }
}

ul.bullets{
  list-style-type: disc;
  padding-left: 1.5em;
  font-style: $font-sans;
  color: $g4;
  li {
    margin-bottom: 1em;
    line-height: 1.4em;
  }
}

.info {
  text-transform: uppercase;
  font-size: .7em;
  color: $g2;
  display: inline-block;
  margin-bottom: 1em;
  line-height: 1.4em;
}

header {
  clear: both;
  text-align: center;
}

header h1, header h2 {
  color: $g4;
  margin-bottom: 0.8em;
  @include uppercase;
}

header h1 {
  font-size: 1.8em;
  @include bp-medium {
    font-size: 1.3em;
  }
}

header h2 {
  margin-bottom: .66em;
  font-size: 1.3em;
}

h3.title-alt {
  position: absolute;
  color: white;
  bottom: 0;
  padding: 1em;
  font-size: 2em;
  margin: 0;
}

code {
  font-family: monospace;
}


code {
  font-family: monospace;
  color: $g4;
  background-color: $g0;
  padding: .5em;
  display: block;
  font-weight: bold;
}


blockquote {
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: 1em;
  color: $g4;
  text-align: center;
  line-height: 1.3em;
  quotes: "“" "”" "‘" "’";
  &:after {
    content: close-quote;
    font-size: 1.5em;
    color: $g2;
    position: absolute;
  }
  &:before{
    content: open-quote;
    font-size: 1.5em;
    color: $g2;
    position: relative;
  }
}

.wrap-normal {
  white-space: normal !important;
}

.smaller {
  font-size: .9em;
}

.smaller-8 {
  font-size: .8em;
}

.smaller-7 {
  font-size: .7em;
}