@import "variables";
@import "mixins";

.btns--vote {

  .voted--pro{
    //Upvoted a pro argument
    color: white;
    background-color: $gre;
  }
  .voted--con{
    //Upvoted a con argument
    color: white;
    background-color: $red;
  }
  .voted--down{
    //Downvoted any argument
    color: white;
    background-color: $g3;
  }
  .voted--not {
    //User voted, but on the opposing side (if user upvotes, apply this to the downvote button)
    color: $g2;
  }
}