@import "variables";
@import "mixins";

.upvote {
  border-top-right-radius: $border-radius-size;
}

.side-pro .upvote[data-voted-on="true"]{
  color: white;
  background-color: $gre;

  &:hover {
    background-color: $gred;
  }
}

.side-con .upvote[data-voted-on="true"] {
  color: white;
  background-color: $red;

  &:hover {
    background-color: $redd;
  }
}

.upvote[data-voted-on="true"]{
  color: white;
  background-color: $g3;
}

.voted--down{
  //Downvoted any argument. Currently not used.
  color: white;
  background-color: $g3;
}

.voted--not {
  //User voted, but on the opposing side (if user upvotes, apply this to the downvote button). Currently not used.
  color: $g2;
}

// Text that appears before the main vote buttons
.group-response-pre {
  font-weight: bold;
  margin-bottom: 1em;
}
