.col-1
  header
    h2= t 'devise.invitations.edit.header'
  .box
    section
      =semantic_form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
        /= devise_error_messages!
        =f.inputs
          =f.hidden_field :invitation_token
          - if resource.shortname.blank?
            - resource.build_shortname
          =f.inputs :shortname, for: :shortname, placeholder: t('users.registrations.placeholders.username')
          =f.input :password, label: t('users_password'), placeholder: t('users.registrations.placeholders.password')
          =f.input :password_confirmation, label: t('users_password_confirmation')
        =render partial: 'legal'
        =f.actions
          =f.action :submit, label: t('legal.agree_and_create'), :as => :button