@import "variables";
@import "mixins";

$maxCommentDepth: 10;

.argu-logo {
	width: 5em;
	height: 3em;
}

.browsehappy {
  margin-top: 4em;
  margin-bottom: -4em;
  text-align: center;
  font-weight: 900;
}

.options-bar {
	position: absolute;
	background-color: white;
	z-index: 10;
}

.responsibility {
  background-color: rgba(92, 92, 92, 0.53);
  margin-top: -2em;
  margin-bottom: 1.5em;
  text-align: center;
  line-height: 1.6em;
  padding: 0.2em;
  color: white;
  font-style: italic;
}

.argument--imporant {
  background-color: $red;
}

.how-argu-works-images{
  text-align: center;
  li {
    margin: 1em;
    display: inline-block;
  }
}

.side-con .form-input-title {
  color: $red;
  @include placeholder{
    color: $red;
  }
}

.side-con input[type="submit"] {
  @include button($red);
}

.side-pro .form-input-title {
  color: $gre;
  @include placeholder{
    color: $gre;
  }
}

.side-pro input[type="submit"] {
  @include button($gre);
}

nav.pagination {
  text-align: center;
  margin-bottom: 1em;
}


.pro-bg {
  background-color: $pro !important;
}

.con-bg {
  background-color: $con !important;
}

.motion-bg {
  background-color: $motion !important;
}

.neutral-bg{
  background-color: $neutral !important;
}

.question-bg{
  background-color: $question !important;
}

.project-bg{
  background-color: $project !important;
}

.pro-t{
  color: $pro !important;
}

.con-t{
  color: $con !important;
}

.neutral-t{
  color: $neutral !important;
}

.motion-t{
  color: $motion !important;
}

.question-t {
  color: $question !important;
}

.project-t{
  color: $project !important;
}

.question {
  color: $question;
}

.motion {
  color: $motion;
}

.align-right {
  text-align: right;
}
