@import "variables";
@import "mixins";

.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  //background: asset-url('bg-blurry1.jpg') top;
  -moz-background-size: cover; /* Firefox 3.6 */
  background-size: cover; /* Chrome, Firefox 4.0+, Safari 4.1+, Opera 10+ and IE9 */
  //height:100%;
  //width:100%;
  height:100vh;
  width:100vw;
  //height: 100vmin;
  //width: 100vmin;
  position:fixed;
}