=semantic_form_for authenticated_resource, url: authenticated_resource, remote: true, authenticity_token: true do |f|
  - authenticated_resource.errors.full_messages.each do |message|
    =message
  =f.inputs do
    - if policy(authenticated_resource).permitted_attributes.include?(:visibility)
      =f.inputs name: t('forums.settings.privacy') do
        =f.input :visibility, as: :select, collection: Page.visibilities.keys, required: false, include_blank: false
    - if policy(authenticated_resource).shortname? || policy(authenticated_resource).delete?
    =f.inputs name: t('forms.danger_zone'), class: 'danger-zone' do
      - if policy(authenticated_resource).shortname?
        =f.input :url, as: :shortname
        li.form-helper
          span= t('pages.shortname.warning')
      - if policy(authenticated_resource).delete?
        =f.input :f_delete, as: :link, url: delete_iri(authenticated_resource), input_html: {data: {remote: true}, class: 'btn--warning'}, label: false
  =f.input :tab, input_html: {value: local_assigns[:tab]}, as: :hidden
  =f.actions do
    =f.action :submit, as: :button
