=semantic_form_for @page do |f|
  - @page.errors.full_messages.each do |message|
    =message
  =f.inputs do
    =f.inputs for: :profile, name: t('forums.settings.profile') do |p|
      =p.input :name
      =p.input :about
      =p.input :profile_photo
      =p.input :profile_photo, as: :preview_image, html_options: { style: 'max-height: 96px; margin-bottom: 0.5em;' }
      =p.input :cover_photo
      =p.input :cover_photo, as: :preview_image, html_options: { style: 'max-height: 96px; margin-bottom: 0.5em;' }
  =f.actions do
    =f.action :submit, :as => :button