=semantic_form_for @page do |p|
  - @page.errors.full_messages.each do |message|
    =message
  =p.inputs for: :profile do |f|
    =f.inputs name: t('forums.settings.profile') do
      =f.input :name
      =f.input :about
    =f.inputs name: t('profiles.edit.profile_photo') do
      =f.input :profile_photo, label: t('profiles.edit.upload_piture')
      li.form-helper
        span=t('profiles.edit.file_limit_notice')
      - if @page.profile.profile_photo.present?
        =f.input :profile_photo, as: :preview_image, html_options: {style: 'max-height: 256px'}
        =f.input :remove_profile_photo, as: :reverse_boolean
    =f.inputs name: t('profiles.edit.cover_photo') do
      p= t('use_a_high_res_image')
      =f.input :cover_photo, label: t('profiles.edit.upload_piture')
      li.form-helper
        span=t('profiles.edit.file_limit_notice')
      - if @page.profile.cover_photo.present?
        =f.input :cover_photo, as: :preview_image, html_options: {style: 'max-height: 256px;'}
        =f.input :remove_cover_photo, as: :reverse_boolean
  =p.actions do
    =p.action :submit, :as => :button