=semantic_form_for @page, remote: true do |p|
  - @page.errors.full_messages.each do |message|
    =message
  =p.inputs for: :profile do |f|
    =f.inputs name: t('forums.settings.profile') do
      =f.input :name
      =f.input :about
    =render partial: 'photos/form',
            locals: {form: f,
                    relation: :default_profile_photo,
                    type: :profile_photo,
                    preview_style: 'max-height: 256px;'}
    =render partial: 'photos/form',
            locals: {form: f,
                    relation: :default_cover_photo,
                    type: :cover_photo,
                    preview_style: 'max-height: 256px;'}
  =p.actions do
    =p.action :submit, :as => :button
