=semantic_form_for authenticated_resource, url: authenticated_resource, remote: true, authenticity_token: true do |p|
  - authenticated_resource.errors.full_messages.each do |message|
    =message
  =p.inputs for: :profile do |f|
    =f.inputs name: t('forums.settings.profile') do
      =f.input :name
      =f.input :about
      =react_component_store 'MapPicker', props: map_picker_props(authenticated_resource)
    =render partial: 'photos/form',
            locals: {form: f,
                    relation: :default_profile_photo,
                    type: :profile_photo,
                    preview_style: 'max-height: 256px;'}
  =p.actions do
    =p.action :submit, :as => :button
