#staff_sign {
  margin: 0;
  padding: .3em 0.5em;
  text-align: center;
  background: rgba(76, 76, 76, 0.9);
  z-index: 6;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 140%;
  a, span {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    padding: 0 0.7em 0.2em;
    line-height: 1em;
  }
}