#staff_sign {
  margin: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.7em 0.1em;
  z-index: 6;
  position: fixed;
  text-transform: uppercase;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  a, span {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    padding: 0 0.7em 0.2em;
    line-height: 1em;
  }
  select {
    margin: 0;
  }
}

#staffsign {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: white;
  font-family: sans-serif;
  padding: .5em;
  font-size: .8em;
}