=semantic_form_for(authenticated_resource, url: edge_grants_path(authenticated_resource.edge)) do |f|
  - authenticated_resource.errors.full_messages.each do |message|
    =message
  =f.inputs name: t('new_type', type: t('grants.type')) do
    =f.input :group_id, as: :react_select, collection: authenticated_resource.page.groups, required: false, include_blank: false
    =f.input :role, as: :react_select
  =f.actions do
    =f.action :submit, as: :button
