=semantic_form_for resource, multipart: true do |f|
  - resource.errors.full_messages.each do |message|
    =message
  - if policy(resource).is_owner?
    =f.inputs name: t('forums.settings.profile') do
      =f.input :uses_alternative_names

      =f.input :questions_title
      =f.input :questions_title_singular

      =f.input :motions_title
      =f.input :motions_title_singular

      =f.input :arguments_title
      =f.input :arguments_title_singular
  =f.actions do
    =f.action :submit, :as => :button