=semantic_form_for(shortname, url: local_assigns[:url], remote: false, authenticity_token: true) do |f|
  -shortname.errors.add(:owner_id, shortname.errors.delete(:owner))
  =f.inputs name: input_name do
    =f.semantic_errors :base
    =f.input :shortname, required: true, as: :shortname, root: root
    =f.input :destination, required: true, as: :shortname
    - if root == false
      =f.input :unscoped, as: :hidden, input_html: {value: true}
  =f.actions do
    =f.action :submit, as: :button
