-content_for "activity-#{activity.id}" do
  == t('activities.comments.create', thing: link_to(type_for(activity.trackable.commentable), activity.trackable.commentable, title: activity.trackable.commentable.display_name))
== render_columns activity.trackable