-content_for "activity-#{activity.id}" do
  == t("activities.votes.voted.#{activity.parameters[:for]}", thing: link_to(t("#{activity.trackable.voteable.class_name}.type"), activity.trackable.voteable, title: activity.trackable.voteable.display_name))
== render_columns activity.trackable.voteable