$g00:rgb(249,249,249);
$g0: rgb(245,245,245);
$g1: rgb(232,232,232);
$g1a: rgb(208,208,208);
$g2: rgb(170,170,170);
$g2a: rgb(134,134,134);
$g3: rgb(115,115,115);
$g4: rgb(90,90,90);
$g5: rgb(50,50,50);

$darken0: rgba(0,0,0,.02);
$darken1: rgba(0,0,0,.05);
$darken2: rgba(0,0,0,.15);
$darken3: rgba(0,0,0,.35);
$darken_overlay: rgba(26, 26, 26, 0.76);
$darken4: rgba(0,0,0,.5);
$darken5: rgba(0,0,0,.8);

$lighten1: rgba(255,255,255,.05);
$lighten2: rgba(255,255,255,.15);
$lighten3: rgba(255,255,255,.35);
$lighten4: rgba(255,255,255,.7);
$lighten5: rgba(255,255,255,.8);
$lighten6: rgba(255,255,255,.9);

$blu: rgb(71,86,104);
$gre: rgb(84,127,75);
$red: rgb(134,61,61);
$red-alert: #B63131;
$yel: rgb(147,112,71);
$bro: rgb(127,92,49);
$bro: #684747;

$blul: rgb(226,237,222);
$grel: rgb(231,244,228);
$redl: rgb(244,228,228);

$blus: #3D6CA5;

$blud: rgba(50, 60, 73, 1);
$gred: rgba(61, 78, 54, 1);
$gredd: rgba(51, 68, 44, 1);
$redd: rgba(76, 41, 41, 1);
$yeld: rgba(114, 86, 55, 1);
$brod: rgba(58, 40, 34, 1);

$overlay: rgba(241,241,241,0.9);

$transparant: rgba(0,0,0,0);

$font-special: Open sans, Helvetica, Segoe UI, sans-serif;
$font-sans: Open sans, Helvetica, Segoe UI, sans-serif;

$header_height: 3em;

$footer-margin: 3em;

$pro: $gre;
$neutral: $g3;
$con: $red;
$neutral: $g3;
$question: $bro;
$motion: $blu;
$neutral: $g3;
$project: $g4;

.pro-bg {
  background-color: $pro !important;
}

.con-bg {
  background-color: $con !important;
}

.motion-bg {
  background-color: $motion !important;
}

.neutral-bg{
  background-color: $neutral !important;
}

.question-bg{
  background-color: $question !important;
}

.project-bg{
  background-color: $project !important;
}

.pro-t{
  color: $pro !important;
}

.con-t{
  color: $con !important;
}

.neutral-t{
  color: $neutral !important;
}

.motion-t{
  color: $motion !important;
}

.question-t {
  color: $question !important;
}

.project-t{
  color: $project !important;
}

.question {
  color: $question;
}

.motion {
  color: $motion;
}
