@import "variables";
@import "mixins";

$maxCommentDepth: 10;

.side-con .form-input-title {
  color: $red;
}

.side-con input[type="submit"] {
  @include button($red);
}

.side-pro .form-input-title {
  color: $gre;
}

.side-pro input[type="submit"] {
  @include button($gre);
}

.pro-bg {
	background-color: $gre !important;
}

.con-bg {
	background-color: $red !important;
}

.sta-bg {
	background-color: $blu !important;
}

.neu-bg{
	background-color: $g3 !important;
}

.que-bg{
	background-color: $bro !important;
}

.pro-t{
	color: $gre !important;
}

.con-t{
	color: $red !important;
}

.sta-t{
	color: $blu !important;
}

.neu-t{
	color: $g3 !important;
}

.que-t{
	color: $bro !important;
}

.argu-logo {
	width: 5em;
	height: 3em;
}

.options-bar {
	position: absolute;
	background-color: white;
	z-index: 10;
}

.question {
	color: $bro;
}

.motion {
	color: $blu;
}

.responsibility {
  background-color: rgba(92, 92, 92, 0.53);
  margin-top: -2em;
  margin-bottom: 1.5em;
  text-align: center;
  line-height: 1.6em;
  padding: 0.2em;
  color: white;
  font-style: italic;
}

.argument--imporant {
  background-color: $red;
}