@import "variables";
@import "mixins";

$maxCommentDepth: 10;


.pro-bg {
	background-color: $gre;
}

.con-bg {
	background-color: $red;
}

.sta-bg {
	background-color: $blu;
}

.neu-bg{
	background-color: $g3;
}

.que-bg{
	background-color: $bro;
}

.pro-t{
	color: $gre;
}

.con-t{
	color: $red;
}

.sta-t{
	color: $blu;
}

.neu-t{
	color: $g3;
}

.que-t{
	color: $bro;
}

.argu-logo {
	width: 5em;
	height: 3em;
}

.options-bar {
	position: absolute;
	background-color: white;
	z-index: 10;
}

.question {
	color: $yel;
}

.statement {
	color: $blu;
}


.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: image-url('bg-utrechtinc.jpg') fixed, image-url('bg-utrechtinc.jpg') 50% 50% fixed no-repeat;
  -moz-background-size: cover; /* Firefox 3.6 */
  background-size: cover; /* Chrome, Firefox 4.0+, Safari 4.1+, Opera 10+ and IE9 */
}

.bg-hong-kong {
  background: image-url('bg-hong-kong.jpg');
  margin-top: -2em;
  -moz-background-size: cover;
  background-size: cover;
  background-position-y: 25%;
  background-position-x: 50%;
}

.bg-landing-1 {
  background: image-url('bg-landing-idee.jpg');
  -moz-background-size: cover;
  background-size: cover;
  background-position-y: 34%;
  background-position-x: 50%;
}

.bg-landing-2 {
  background: image-url('bg-landing-onderbouwd.jpg');
  -moz-background-size: cover;
  background-size: cover;
  background-position-y: 40%;
  background-position-x: 50%;
}

.bg-landing-3 {
  background: image-url('bg-landing-politiek.jpg');
  -moz-background-size: cover;
  background-size: cover;
  background-position-y: 47%;
  background-position-x: 50%;
}

.bg-landing-4 {
  background: image-url('bg-landing-lobby.jpg');
  -moz-background-size: cover;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
}

.bg-landing-5 {
  background: image-url('bg-landing-stemmen.jpg');
  -moz-background-size: cover;
  background-size: cover;
  background-position-y: 50%;
  background-position-x: 50%;
}