@import 'variables';
@import "mixins";

.selector {

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + div{
  }

  input[type="checkbox"]:checked + div{
    background-color: lighten($gre, 50%);
    .selector-check{
      display: inline-block;
    }
  }
  .choices-group .choice {
    float: left;
    clear: none;
  }
}

.selector-profile{
  display: inline-block;
  width: 25em;
  text-transform: none;
  letter-spacing: normal;
  margin: 0.5em;
  
  .header {
    display: inline-block;
    h3 {
      margin: 0.5em 0.5em 0 0;
    }
    .info-block {
      margin-left: 0;
      font-size: 0.8em;
      color: $g2;
      font-style: italic;
      li {
        line-height: 1em;
      }
    }
  }

  a, .additional-info, img {
    float: left;
    clear: right;
  }

  img {
    width: 5em;
    height: 5em;
  }
}

.selector-check {
  position: absolute;
  top: 1em;
  right: 1em;
  color: $gre;
  display: none;
}
