@import 'variables';
@import "mixins";

.selector {

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + div{
  }

  input[type="checkbox"]:checked + div{
    background-color: lighten($gre, 50%);
    .selector-check{
      display: inline-block;
    }
  }
}

.selector-profile{
  display: inline-block;
  width: 25em;
  text-transform: none;
  letter-spacing: normal;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 5em;
    height: 5em;
  }

  h3 {
    margin-left: 3em;
    height: 2.4em;
  }
}

.selector-check {
  position: absolute;
  top: 1em;
  right: 1em;
  color: $gre;
  display: none;
}

.forum-small {

}