@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

content {
  height:100%;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  font-smooth:always;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

.techs {
  text-align: center;
  margin-top: 40px;
}

* {
  margin: 0;
}
html, body {
  height: 100%;
}
.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -150px;
}
.footer, .push {
  height: 150px;
}
/*Sticky Footer by ryanfait.com */

/* Argument */

.arghov {
  min-height: 25px;
  display: block;
  position: relative;
}

.argicon {
  width: 20px;
  height: 20px;
  float: left;
}

.argheadright {
  float: right;
  display: inline-block;
}

.arghov .argbtn{
  display: none;
}

.argvotes {
  visibility: visible;
}

.arghov:hover .argbtn {
  display: inline;
}

.arghead:hover .argbtn {
  visibility: visible;
}

.arghead:hover .argvotes {
    display: none;
}

.arghov:hover .argvotes {
    display: none;
}

.arghead {
  float: left;
  position: left;
  font-size: 2.0em;
}

.content {
  font-size: 1.3em;
}

.argtype {
  float: left;
}

.argtime {
  position: relative;
  float: right;
}


