@import "colors";
@import "mixins";

$opensans: Lato, Open Sans,verdana,arial,sans-serif;
$raleway: Raleway, Century Gothic,'bariol_lightlight', sans-serif;

$maxCommentDepth: 10;

body {
  margin: 0;
  padding: 0;
  background-color: $g0;
  font-size: 1em;
}

table td {
  border-style: none;
  vertical-align: middle;
  padding: 0.8em;
  border: none;
  font-family: $opensans;
  font-size: 0.8em;
  text-align: left;
  background-color: white;
  border: solid 1px $g2;
  border-top: none;
}

table th {
  border-style: none;
  vertical-align: middle;
  padding: 0.5em;
  border: none;
  font-family: $opensans;
  font-size: 0.8em;
  text-align: left;
  color: white;
  background-color: $g3;
}

span {
  @include text_settings();
}

p {
  @include text_settings();
  white-space: pre-line;
}

small {
  @include text_settings($size: 0.85em, $padding: 5px);
  line-height: 1em;
}

code {
  font-family: courier;
}

/*header*/
h1 {
  @include header_settings();
}

h2 {
  @include header_settings($size: 1.5em);
  clear: both;
}

h3 {
  @include header_settings($align: justify, $color: $g4, $family: $opensans, $size: 1em, $weight: normal, $padding: 0.5em);
  padding-left: 0.8em;
  padding-bottom: 0;
  margin-bottom: -5px;
}

a {
  @include text_settings($color: $g4);
  text-decoration: none;
}

a {
  &:hover {
    color: black;
  }
}

label {
  float: left;
  text-align: right;
  font-size: 1.3em;
  font-family: $raleway;
  font-weight: 200;
  color:$g4;
  margin-top: 4px;
  line-height: 1.2em;
  &.vertical {
    text-align: left;
    padding-bottom: 5px;
  }
}

input {
  border-radius: .3em;
}

textarea {
  @include text_settings;
  border-radius: .3em;
}

select {
  border: none;
  background: transparent;
  color:$g3;
  font-family: $opensans;
  font-size: 1em;
}

.box {
  display: block;
  padding: 0.8em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  background-color: white;
  /**border-bottom:solid 0.2em $g1;**/
  box-shadow: 1px 1px 10px $g1;
  margin-bottom: 1.8em;
  border-radius: 0.3em;
  max-width: 46em;
  .btn{
    color: white;
    background-color: $blud;
    &:hover{
      color: white;
      background-color: $blu;
    }
  }
  ol {
    list-style: decimal;
    margin-left: 1.4em;
    margin-bottom: .5em;
    margin-top: -.3em;
    text-align: left;
    color: $blu;
    li {
      text-align: justify;
      font-family: Open Sans, verdana, arial, sans-serif;
      font-size: 1em;
      margin: 0;
      padding: 0;
      line-height: 1.3em;
      text-decoration: none;;
      a:visited{
        color: $g3;
      }
    }
  }
  a:hover{
    color: black;
  }
  form {
  margin-top: 4px;
  }
}

.no-touch .box {
  .buttons a {
    color: white;
  }
  .votebtn {
    color: white;
  }
  &:hover {
    .buttons a {
      color: $g3;
      &:hover{
        color: black;
      }
    }
    .votebtn a {
      color: $blu;
    }
  }
}

form {
  input[type="text"],input[type="email"],input[type="password"], textarea {
    box-shadow: inset 1px 1px 10px $g1;
    box-sizing: border-box;
  }
  textarea {
    resize: vertical;
  }
  .btn {
    box-shadow: 1px 1px 10px $g1;
  }
}

.box > p {
  margin-bottom: .4em;
  margin-top: .2em;
}

p.referencestitle {
  margin-top: 1.5em;
  letter-spacing: .08em;
  text-transform: uppercase; font-size: .7em;
}

div.clear {
  clear: both;
}

.container {
  width: 95%;
  min-width: 300px;
  max-width: 1200px;
  margin:0 auto;
  text-align: center;
  html.lt-ie6 & {
    width: 100%;
  }
}

hr.stripe {
  border-color: $g4;
  border-style: none;
  border-top-style: solid;
}

.sortlabel {
  color: $g3;
}

.sortoptions {
  display: inline;
  float: right;
  position: relative;
  top: 5px;
}

.left {
  text-align: left;
}

.floatleft {
  float: left;
}

.right {
  text-align: right;
}

.floatright {
  float: right !important;
}

.statement {
  .title {
    color: $blu;
  }
  margin-left: auto;
  margin-right: auto;  
  &.title {
    color: $blu;
  }
}

.tags {
  html.lt-ie8 & {
    padding-bottom: 0;
  }
}

.tag {
  color: white;
  border-radius: .5em;
  padding: .1em .4em;
  display: inline-block;
  text-transform: lowercase;
  background-color: $blud;
  line-height: 1.3em;
  letter-spacing: .08em;
  text-transform: uppercase;
  margin-right: 0.25em;
}

.tag {
  &:hover {
    color: white !important;
    background-color: $blu;
  }
}

.smallertag {
  font-size: 70%;
}

.inlineref {
    font-size: 80%;
    vertical-align: top;
    color: $blu;
    padding: 0.1em;
}

.opinionbtns {
  list-style-type: none;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -.4em;
  li {
    display: inline;
  }
  p {
    text-align: center;
  }
  a {
    margin: 0em .5em .7em;
  }
}

.pro {
  &.box, &.argtypebox {
    margin-right: .8em;
  }
  .title {
    color: $gre;
  }
  h2 {
    color: white;
    background-color: $gre;
  }
  &.argumenttitle {
    color: $gre;
    @include placeholder ($gred)
  }
}

.con {
  /*  background-color: #faf4f3;*/
  &.box, &.argtypebox {
    margin-left: .8em;
  }
  .title {
    color: $red;
  }
  h2 {
    color: white;
    background-color: $red;
  }
  &.argumenttitle {
    color: $red;
    @include placeholder ($redd)
  }
}

.argcontainer1 {
  width: 100%;
  overflow: hidden;
  clear: left;
}

.argcontainer2 {
  float: left;
  width: 100%;
  position: relative;
  right: 50%;
}

.argtypebox {
  margin-bottom: 1.8em;
  h2 {
    line-height: 1.3em;
    height: 1.4em;
    border-radius: .3em;
    box-shadow: 1px 1px 10px $g1;
  }
}

.navcontent {
  list-style-type: none;
  display: block;
  text-align: center;
  margin-bottom: 1.7em;
  li
  {
    display: inline;
  }
  a
  {
    font-family: $raleway;
    font-size: 1.8em;
    font-weight: 200;
    padding: 0;
    margin-right: .3em;
    margin-left: .3em;
    line-height: 1.3em;
  }
  a.current
  {
    border-bottom: solid 0.13em $g1;
  }
}

.navcontent {
  a:hover
  {
    border-bottom: solid 0.13em $g1;
  }
  a.current {
    &:hover {
      color: black;
    }
  }
}

.procon {
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
  overflow: hidden;
  min-width: 200px;
}

.verticalborder {
  border-left: solid 1px $g4;  
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.centeralign {
  text-align: center;
}

.centercont {
  margin-left: auto;
  margin-right: auto;
  max-width: 46em;
}

.centerbar {
  text-align: center;
  margin-bottom: 1.8em;
}

.top{
  margin-bottom: 1em;
}

.leftbar {
  text-align: left;
  margin-bottom: 1.8em;
  h2 {
    text-align: left;
  }
}

div.dropdown {
  height: 30px;
  width: 50%;
  padding-right: 10px;
}

ul .dropdown {
  display: none;
  position: absolute; 
  top: 0.8em;
  left: 0;
  li
  {
    top: auto;
    left: auto;
  }
}

#navbtns {
  float: right;
  display: inline;
}

div#navbar {
  width: 100%;
  background-color:white;
  float: left;
  /*border-bottom: solid 2px $g1;*/
  box-shadow: 1px 1px 10px $g1;
  margin-bottom: 1.5em;
  #mainbar {
    margin:0 auto;
    padding: 0;
    width: 97%;
    max-width: 1000px;
  }
  li {
    list-style-type: none;
    display: inline-block;
    float: left;
    #search {
      -webkit-appearance: none;
      box-sizing: content-box;
      background-color: white;
      width: 60px;
      padding: 3px;
      padding-left: 10px;
      font-family: $raleway;
      font-size: 16px;
      font-weight: 200;
      color: $g4;
      float: right;
      line-height: 39px;
      height: 39px;
      html.lt-ie8 & {
        float: left;
        line-height: 35px;
      }
      border: none;
      /*Removing chrome uglyness*/
      border-radius: 0;
      outline: none;
    }
    textarea:focus,
    input:focus {
      background-color: $g1 !important;
      border-style: none !important;
      width: 200px !important;
      font-size: 16px !important;
      webkit-appearance: none !important;
    }
  }
  a {
    display: block;
    font-family: $raleway;
    font-size: 16px;
    font-weight: 200;
    line-height: 39px;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #argulogo {
    font-size: 36px;
    width: 73px;
    background-image: url(argulogo.svg);
    float: left;
    position: relative;
    height: 39px;
  }
  .close {
    border-right: solid 1px white;
  }
}

div#navbar {
  #mainbar{
    ul li .dropit:hover .dropdown { display: block; }
  }
  li {
    &:hover{
      background-color: $g1;
    }
    #search {

    }
    textarea:hover,
    input:hover {
      background-color: $g1 !important;
    }
  }
  #argulogo:hover {
    background-color: $g1;
  }
}

::-webkit-search-cancel-button {   // select all "X" buttons in search inputs  
    -webkit-appearance: none;      // hide the default "X" button  
}

input, textarea {
  -webkit-appearance: none;
  @include placeholder ($g2, 1)
}

#search {
  @include placeholder($g4, 1);
  -moz-appearance:    textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

div#navr {
  float: right;
}

/*Dit is de opmaak van een comment*/
a.commentusername {
  color: $g4;
  position: relative;
  float: left;
  top: 0;
  border-style: none;
  padding: 3px;
  border-color:$g4;
  font-family: $opensans;
  font-size: 0.8em;
  padding-left: 5px;
  padding-right: 5px;  
}

#commentstitle {
  display: block;
  background-color: $g0;
  border-width: 1px;
  border-color: $g4;
  width: 100%;
  height: 45px;
  overflow: hidden;  
}

.topcomment {
  border-top-style: solid;
  border-width: 1px;
  border-color: $g2;
  clear: both;
  color: gray;
  white-space: normal;
  p {
    font-style: italic;
    font-size: 0.9em;
  }
}

ul.buttons {
    float: right;
    li {
      display: inline;
      margin-left: 1em;
      width: auto;
      a {
        color: $g3;
        width: auto;
      }
    }
  p {
    float: left;
    color: $g3;
  }
}

.hastags {
  position: relative;
  top: .2em;
}

.comments {
  .box {
    margin-bottom: 0.8em;
  }
  @for $i from 0 through $maxCommentDepth {
    .c#{$i} { margin-left: #{10 * $i}px; }
  }
}

p.comment {
  border-top-style: solid;
  border-width: 1px;
  border-color: $g2;
  clear: both;
  color: $g3;
  padding-top: 4px;
  font-size: 0.8em;
  white-space: normal;
  a {
    color: $g3;
  }
}

.comment_form {
  display: block;
  margin-right: 4px;
  margin-top: 3px;
  textarea {
    width: 100%;
    border-color: $g1; 
    margin-bottom: 6px;
  }
}


.infobar {
  font-size: .7em;
  letter-spacing: .08em;
  text-transform: uppercase;
  margin-top: -.1em;
  color: $g3;
  .buttons{
    .info{
      p{
        a{
          color: $g3;
        }
      }
    }
  }
}

.info {
  float: left;
  p {
    color: $g3;
    position: relative;
    white-space: normal;
  }
  a {
    display: inline;
    float: none;
    border-style: none;
    background-color: none;
    padding: 0;
    font-size: 1em;  
    color: $g3;
    margin: 0;
  }
}

/*Dit is de opmaak van een deelonderwerptitel (meestal is dit "argumenten")*/
.navrow {
  clear: both;
  margin-bottom: 1em;
  margin-top: 0.8em;
}

.title {
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: $opensans;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.3em;
  padding-bottom: .1em;
  &.pro{
    color: $gre;
  }
  &.con{
    color: $red;
  }
}

.lefttitle {
  padding: 0;
  text-align: left;
  color: $g4;
}

p.vote {
  font-weight: bold;
  line-height: 1.5em;
  font-size: 1.5em;
}

p.votelabel {
  margin-right: 0.4em;
  font-size: 1em;
  line-height: 2.3em;
  font-weight: normal;
}

.votebtn {
  a {
    color: $blu;
    font-weight: bold; 
    font-size: 1.5em;
    line-height: 1.5em;
    padding: 0;
    width: 1.9em;
    float: left;
    margin: 0;
    margin-left: 0.1em;
  }
}

.tooltip {
  display: inline;
  position: relative;
}

.no-touch .tooltip {
    &:hover:after {
    content: attr(title);
    background: $blu;
    border-radius: .3em;
    border: solid 0 $blu;
    bottom: 21px;
    color: white;
    left: -3px;
    padding: 5px 7px;
    position: absolute;
    z-index: 98;
    font-family: $opensans;
    font-size: 0.6em;
    font-weight: normal;
    margin: 0;
    line-height: 1.5em;
    display: inline-block;
    white-space: nowrap;
  }
  &:hover:before {
    border: solid;
    border-color: $blu transparent;
    border-width: 6px 6px 0 6px;
    bottom: 16px;
    content: "";
    left: 0;
    position: absolute;
    z-index: 99;
  }
}

.control-group {
  border-style: none;
  color: $g4;
}

.form-actions {
  border-style: none;
}

.form-horizontal {
  width: auto;
  min-height: 200px;
  padding: 0;
  font-family: $opensans;
}

/* Revisions styling */
.revbar {
  margin-left: auto;
  margin-right: auto;
  max-width: 46em;
  ul {
    text-align: center;
    width: 100%;
    li {  
      float: left;
      list-style-type: none;
      display: inline-block;
      margin-bottom: 1.1em;
      h3 {
        padding: 5px;
        color: $g4;
        a {
          text-decoration: none;
          font-size: 1em;
        
        }
      }
    }
  }
  #revprev
  {
    float: right;
  }
}

.revunderbar {
  list-style-type: none;
  font-family: $opensans;
  text-align: center;
  border: 1px;
  border-style: none;
  border-color: $g4;
  background-color: white;
  padding-bottom: 5px;
  li {
    display: inline;
    h3 {
      display: inline;
    }
  }
}

.revtbl {
  tr:nth-child(even) {background: #E9F2DD}
  tr:nth-child(odd) {background: #F0F3FC}
  tr:nth-child(1) {background: $g4}
}

.alert {
  color: #FFF;
  display: none;
  font-family: $raleway;
  font-size: 2em;
  font-weight: 200;
  line-height: 39px;
  height: 34px;
  padding: 2px 0 8px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 2;
  &.alert-success {
    background-color: $gre;
  }
  &.alert-warning {
    background-color: #CBB234;
  }
  &.alert-notice {
    background-color: $blu;
  }
  &.alert-error {
    background-color: $red;
  }
  html.no-js & {
    display: block;
  }
}
/*  Authentications page */

.authentication {
  font-family: $opensans;
  width: 250px;
  background-color: white;
  height: 64px;
  border: solid 1px $g2;
  border-radius: 3px;
  text-align: left;
  
  .remove {
    text-decoration: none;
    position: relative;
    top: 3px;
    right: 3px;
    color: $g3;
    padding: 2px 4px;
    font-size: 15px;
  }
  
  img {
    float: left;
    margin-right: 15px;
  }
  
  .provider {
    margin-top: 5px;
  }
  
  .uid {
    color: #666;
    font-size: 15px;
    padding-top: 5px;
  }
}


.auth_provider img {
  border: solid 1px $g2;
  border-radius: 3px;
  margin-right: 16px;
  margin-bottom: 18px;
  opacity: 0.8;
  float: left;
}

.auth_provider:hover {
  opacity: 1;
}

#error_explanation {
  background-color: white;
  border: solid 1px $redd;
  box-shadow: 1px 1px 10px $g1;
  width: auto;
  margin: auto;
  border-radius: .5em;
  font-family: $opensans;
  font-size: 0.8em;
  color: $g4;
  padding: 10px;
  margin-bottom: 1.9em;
  h2 {
    font-family: $opensans;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    color: $red;
    font-size: 1em;
  }
  li {
    line-height: 1.5em;
    font-size: 1.1em;

  }
}

.btn {
  &:hover {
    border-bottom-color: $g3;
    color: black;   
  }
  &.green {
    &:hover {
      background-color: $gre;
      color: white !important;
    }
  } 
  &.red {
    &:hover {
      background-color: $red;
      color: white !important;
    } 
  }
  &.grey {
    &:hover {
      background-color: $g3;
      color: white !important;
    } 
  }
  &.blue {
    &:hover {
      background-color: $blu;
      color: white !important;
    }  
  } 
}

.btn {
  display: inline-block;
  font-size: .8em;
  background-color: white;
  color: $g4;
  border: none;
  /*border-bottom: solid .2em $g1;*/
  box-shadow: 1px 1px 10px $g1;
  padding: .25em .5em;
  width: auto;
  font-family: $opensans;
  text-align: center;
  border-radius: .5em;
  letter-spacing: .07em;
  text-transform: uppercase;
  input {
    text-decoration: none;
    margin-left: -1px;
    color: white;
  }
  &:active {
    border-bottom-width: 0;
  }
  &.green {
    background-color: $gred;
    color: white;
  }
  &.red {
    background-color: $redd;
    color: white;
  }
  &.grey {
    background-color: $g2;
    color: white;
  }
  &.blue {
    background-color: $blud;
    color: white;
  }
  &.space{
    margin: 0 .5em 0 0;
  }
}

/*Zoekresultaten*/

/* Profile */
.profile #head {
  list-style-type: none;

  #editbtn {
    float: right;
    vertical-align: text-top;
    padding-top: 7px;
  }
}

.profilepicture {
  float: left;
  margin-right: 10px; 
  margin-top: 3px;
}

div.pageconf {
  float: right;
  height: 25px;
  display: inline;
  
  ul {
    list-style: none;
  }
  
  li a {
    text-decoration: none;
  }
}

/* Settings */

.label-row {
  margin-bottom: 1.8em;
  clear: both;
}

.label-subrow {
  margin-left: 330px;
  .btn {
    float: left;
  }
}

form {
  max-width: 900px;
  margin: auto;
}

form.edit_user {
    max-width: 700px;
  }

input[type=checkbox] {
  border-color: $blu;
  float: left;
}

.helpertext {
  float: left;
  width: 45%;
  color: $g2;
  margin-left: 10px;
  text-align: left;
  font-size: 0.8em;
}

.label-row:hover .helpertext {
  color: $g4;
}

.settingform {
  display: block;
  color: $g4;
  font-family: $opensans;
  font-size: 0.9em;
  /*width: 95%;*/
  background: white;
  border: solid 1px $g2;
  height: auto;  
  padding: 5px;
  margin-right: 5px;
  &.statementtitle {
    color: $blu;
    font-size: 1.3em;
    font-weight: bold;
    @include placeholder($blud, 1)
  }
  &.argumenttitle {
    font-size: 1.2em;
    font-weight: bold;
  }
}

.verticalform {
  float: left;
  width: 50%;
}

.remember {
  color: $g4;
}


/*Fixes*/ 
.clearfix {
  display: block;

  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
   
  html[xmlns] & {
    display: block;
  }
   
  * html & {
    height: 1%;
  }
}

/*IE7*/
p.browsehappy {
  text-align: center;
  padding: 10px;
  background-color: $redd;
  color: white;

  a {
    font-size: 1em;
    font-weight: bold;
  }
}

/*Responsive design*/
@media screen and (max-width: 650px) {
  .opinionbtns {
    a{
      margin-bottom: .7em;
    }
  }

  .procon {
    width: 100%;
  }

  .pro {
    margin-right: 0;
    &.box, &.argtypebox {
    margin-right: 0;  
    }
  }

  .con {
    margin-left: 0;
    &.box, &.argtypebox {
    margin-left: 0;  
    }
  }

  .label-row {
    margin-top: -10px;
  }

  label {
    float: none;
    display: block;
    line-height: 1.5em;
    text-align: left;
  }

  .label-subrow {
    margin-left: 0;
  }

  .verticalform {
    width: 100%;
  }

  div#navbar {
    #argulogo {
      float: none;
      padding-bottom: 5px;
      left: 0;
      margin: auto;
    }
    #navbtns {
      float: none;
      text-align: center;
      display: block;
      a {
        padding-left: 10px;
        padding-right: 10px;
        line-height: 24px;
      }

      li {
        float: none;
      }
      #search {
       float: none;
      line-height: 20px;
      padding: 1px;
      padding-left: 10px;
      height: 27px;
      }
    }
  }
  
  .box form > .label-row {
    margin-top: 10px; 

  }

  form.edit_user {
    max-width: 382px !important;
    input.settingform{
      width: 100%;}
      label{
        width: 250px;
      }
  }
  /*disable hidden buttons for small devices*/
  .box {
  .buttons a {
    color: $g3;
  }
  
  .votebtn a {
    color: $blu;
  }

  .helpertext {
    width: 100%;
    color: $g4;
    margin-left: 0;
    margin-top: .4em;
  }
}
}


@media screen and (max-width: 1000px) {
  html {
    font-size: 1em;
  }

}
  
@media screen and (min-width: 1500px) {
  html {
    font-size: 1.1em;
  }

  .container {
    max-width: 1500px; 
  }

}


/*Transitie effecten op alles*/
#search {
  @include transition(all 250ms);
}

form, #argulogo {
  @include transition(none);
}

/*Zaken die niet op het papier hoeven*/
@media print {

  header nav, footer, #navbar, .btn {
    display: none;
  }

  .buttons a {
    display: none;
  }

  .navrow a {
    display: none;
    
    &.current {
      display: inline;
      border: none;
    }
  }
}