
body
{
	margin: 0px; padding: 0px;
	background-color: #F2F2F2;
}

.pargument
{
	background-color: white;
	overflow:hidden;
	border-style: solid;
	border-color: #468783;
	border-width: 1px;
}

.cargument
{
	background-color: white;
	overflow:hidden;
	border-style: solid;
	border-color: #468783;
	border-width: 1px;
}

.prosbox
{
	width:475px;
	margin-right: 5px;
	float:left;
}		

.consbox
{
	width:475px;
	margin:0px;
	margin-left: 5px;
	float:left;
	padding: 0px;/**/
}		

#speech-bubble:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid blue;
   border-bottom: 13px solid transparent;
   margin: 13px 0 0 -25px;
}

div#navbar
{
	width: 100%;
	height:45px;
	margin:0px auto;
	padding: 0px;
	background-color:#468783;
	float: left;
	text-align: center;
	overflow: hidden;
}


div#navbar #mainbar
{
	margin:0px auto;
	padding: 0px;
	width: 960px;
		&:hover ul .dropdown { display: block; }
}

ul .dropdown
{
	display: none;
	position: absolute; 
	top: 1em;
	left: 0;

	li
	{
		top: auto;
		left: auto;
	}

}

div#navbar li
{
	list-style-type: none;
	display: inline-block;
	float: left;
}

div#navbar li a
{
	display: block;
	height: 45px;
	width: 92px;
	margin:0px;
	padding: 0px;
	border-right-style: solid;
	border-width: 1px;
	border-color: white;
	text-decoration: none;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

div#navbar li #argulogo
{
	background:url(spriteb.png) no-repeat 0px 0px;
	border-left-style:solid;
}

div#navbar li #argulogo:hover
{
	background:url(spriteb.png) no-repeat 0px -45px;
}

div#navbar li #search
{
	width: auto;
	padding: 5px;
	height: 25px;
	background-color: #529E99;
	margin: 5px;
	border-right-style: none;
	border: none;
	color: white;
	font-size: 17px;
	padding-left: 8px;
	float: right;
}



#search textarea:focus, input:focus{
	outline: solid;
	outline-color: white;
	outline-width: 1px;
}

textarea
{
	resize: none;
}


div#navbar li a#account
{
	background:url(spriteb.png) no-repeat -184px 0px;
	border-left-style: solid;
	width: 121px;
}

div#navbar li a#account:hover
{
	background:url(spriteb.png) no-repeat -184px -45px;
}

div#navbar li a#info
{
	background:url(spriteb.png) no-repeat -92px 0px;
}

div#navbar li a#info:hover
{
	background:url(spriteb.png) no-repeat -92px -45px;
}

div#navr
{
	float: right;
}

.container
{
	width: 960px;
	margin-top: 45px;
	margin:0px auto;
}

/*Dit zijn info en account buttons in de navbar OUD MOET WEG!*/
b.logo
{
	display: block;
	color: white;
	background-color: #468783;
	font-family: 'quicksand', sans-serif;
	font-size: 33px;
	width: 92px;
	height: 45px;
	text-align: center;
	padding: 0;
	padding-top: 0px;
	padding-bottom: 0px;
	border-right-style: solid;
	border-width: 1px;
	border-color: white;
	text-decoration: none;
}

hr
{
	background-color: #F2F2F2;
	color: #468783;
	height: 1px;
	border: 0px;
	clear: both;
	margin: 5px;
}		

hr.streep 
{
	background-color: #468783;
	margin: 0px;
}

hr.invis
{
	margin: 0px;
	height: 0px;
	background-color: #F2F2F2;
}



/*Dit is de opmaak van gewone text, waaronder de toelichting van een argument + beschrijving van onderwerp*/
p
{
	text-align:justify;
	color:black;
	font-family: Verdana,arial,sans-serif;
	font-size:13px;
	line-height:135%;
	margin:0px;
	padding: 10px;	
	padding-top: 5px;
	padding-bottom: 5px;
}

/*Dit is de opmaak van een comment*/
p.pcomment
{
	border-style:solid;
	border-width:1px;
	border-color:#468783;
	border-radius:7px;
	margin-left:10px;
	margin-right:27px;
	margin-top:5px;
	margin-bottom: 21px;
	background-color: #F0F3FC;
	padding: 7px;
}

p.ccomment
{
	border-style:solid;
	border-width:1px;
	border-color:#468783;
	border-radius:7px;
	margin-left:27px;
	margin-right:10px;
	margin-top:5px;
	margin-bottom: 21px;
	background-color: #E9F2DD;
	padding: 7px;
}

.intro
{
	background-color: white;
	border-style:solid;
	border-width:1px;
	border-color:#468783;
}

.imgpcomment
{
	float:right;
	margin-top: -32px;
	margin-bottom: 0px;
	padding:0px;
}

.imgccomment
{
	float:left;
	margin-top: -32px;
	margin-bottom: 0px;
	padding:0px;
}
/*Dit is de opmaak van een onderwerpstitel */
h1
{
	text-align:center;
	color:#468783;
	font-family: 'quicksand', sans-serif;
	font-size:36px;
	padding-bottom: 2px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 3px;
}

/*Dit is de opmaak van een deelonderwerp*/
div.subtitle
{
	display: block;
	background-color: #468783;
	width:100%;
	height: 45px;
	overflow: hidden;
}

div.subtitle ul
{
	margin:0px auto;
	padding: 0px;
	width: 960px;
}

div.subtitle li
{
	list-style-type: none;
	display: inline-block;
	float: left;
}

div.subtitletitle
{
	width: 772px;
}

.voor
{
	display: block;
	height: 45px;
	width: 92px;
	background-image: url(spriteb.png);
	background-position: 0px -90px;
	background-repeat: no-repeat;
	border-right-style: solid;
	border-width:1px;
	border-color:white;
}

.tegen
{
	display: block;
	height: 45px;
	width: 90px;
	background-image: url(spriteb.png);
	background-position: -92px -90px;
	background-repeat: no-repeat;
	border-left-style: solid;
	border-width:1px;
	border-color:white;
}

h2
{
	text-align:center;
	color:white;
	font-family: 'quicksand', sans-serif;
	font-size:36px;
	margin: -3px;
	padding: -1px;
	padding-bottom: 2px;
	clear: both;
	position:relative;
	top:0px;
}

/*Dit is de opmaak van een argument*/
h3
{
	text-align:justify;
	color:#468783;
	font-family: Verdana, arial, sans-serif;
	font-size:16px;
	margin: 0px;
	padding: 5px;
	padding-left: 8px;
	padding-bottom: 0px;
	margin-bottom: -5px;
	font-weight:normal;
}

.pargtitle
{
	display: block;
	text-align:justify;
	color:#295E59;
	font-family: Verdana, arial, sans-serif;
	font-size:16px;
	font-weight:normal;
	text-decoration: none;
	padding: 10px;
	background-color: #E9F2DD;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #468783;
	width: 100%;
}

.cargtitle
{
	display: block;
	text-align:justify;
	color:#295E59;
	font-family: Verdana, arial, sans-serif;
	font-size:16px;
	font-weight:normal;
	text-decoration: none;
	padding: 10px;
	background-color: #F0F3FC;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #468783;
	width: 100%;
}

#pnewargtitle
{
	border-bottom-style: none;
}

a
{
	text-decoration: none;
	color: #468783;
}

a:hover
{
	color: black;
}

.control-group
{
	border-style: none;
	color: #468783;
}

.control-label
{
	font-family: verdana, arial, sans;
}

.form-actions
{
	border-style: none;
}

.form-horizontal
{
	width: 237px;
	min-height: 200px;
	border-right-style: solid;
	border-color: #468783;
	border-width: 1px;
	padding: 0px;
	margin-right: 20px;
	float: left;
}

/* Profile */
.profile #head
{
	list-style-type: none;

	#editbtn
	{
		float: right;
		vertical-align: text-top;
		padding-top: 7px;
	}
}

div.pageconf
{
	float: right;
	height: 25px;
}

div.pageconf ul
{
	list-style: none;
}

div.pageconf li a
{
	text-decoration: none;
}

/* Revisions styling */
.revbar
{
	display: block;
	background-color: #468783;
	width:100%;
	height: 45px;
	overflow: hidden;
	border-top: solid 1px white;

	ul
	{
		margin:0px auto;
		padding: 0px;
		width: 960px;

		li
		{
			list-style-type: none;
			display: inline-block;
			float: left;

			h3
			{
				color: white;
				a {text-decoration: none;}
			}
		}
	}

	#revheader
			{ 
				padding-left: 150px;
			}

			#revprev
			{
				float: right;
			}
}

.revunderbar
{
	list-style-type: none;
	text-align: center;
	border: 1px;
	border-style: solid;
	border-color: #468783;

	li
	{
		display: inline;

		h3
		{
			display: inline;
		}
	}
}

.revtbl
{
	border: none;
	font-family: Verdana,arial,sans-serif;
	font-size:13px;

	tr:nth-child(even) {background: #E9F2DD}
	tr:nth-child(odd) {background: #F0F3FC}
	tr:nth-child(1) {background: #468783}
}

.alert
{
	border: 1px;
	border-style: solid;
}
.alert-Notice
{
	background-color: #9FF781;
}
.alert-Error
{
	background-color: #F78181;
}

/*  Authentications page */
.authentications {
  margin-bottom: 40px;
  margin-top: 5px;
}

.authentication {
  width: 227px;
  float: left;
  background-color: #EEE;
  border: solid 1px #468783;
  margin-left: 9px;
  position: relative;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

/*info about page tabs*/

.tabs {
    position: relative;
	margin: 0px;
	width: 100%;
}

.tabs input {
	position: absolute;
	z-index: 1000;
	width: 50px;
	height: 44px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
.tabs input#tab-2{
	left: 120px;
}
.tabs input#tab-3{
	left: 240px;
}
.tabs input#tab-4{
	left: 360px;
}

.tabs label {
	background: #fff;
	font-size: 15px;
	line-height: 40px;
	height: 44px;
	position: relative;
	padding: 0 20px;
    float: left;
	display: block;
	width: 53px;
	color: #385c5b;
	letter-spacing: 1px;
	font-family: 'quicksand', sans-serif;
	text-align: center;
	font-size: 28px;
	border-left-style: solid;
	border-left-width: 1px;
}

.tabs label.tab-label-1 {
	border-left-style: none;
	background:url(sprite_info.png) no-repeat 0px -1px;
}

.tabs input:hover + label.tab-label-1 {
	background:url(sprite_info.png) no-repeat 0px -45px;
}

.tabs input:checked + label.tab-label-1 {
	background:url(sprite_info.png) no-repeat 0px -45px;
}


.tabs label.tab-label-2 {
	background:url(sprite_info.png) no-repeat -92px 0px;
}

.tabs input:hover + label.tab-label-2 {
	background:url(sprite_info.png) no-repeat -92px -44px;
}

.tabs input:checked + label.tab-label-2 {
	background:url(sprite_info.png) no-repeat -92px -44px;
}

.tabs label.tab-label-3 {
	width: 85px;
	background:url(sprite_info.png) no-repeat -182px 0px;
}

.tabs input:hover + label.tab-label-3 {
	background:url(sprite_info.png) no-repeat -182px -44px;
}

.tabs input:checked + label.tab-label-3 {
	background:url(sprite_info.png) no-repeat -182px -44px;
}

.tabs label.tab-label-4 {
	background:url(sprite_info.png) no-repeat -304px 0px;
	border-right-style: solid;
	border-right-width: 1px;
	width: 85px;
}

.tabs input:hover + label.tab-label-4 {
	background:url(sprite_info.png) no-repeat -304px -44px;
}

.tabs input:checked + label.tab-label-4 {
	background:url(sprite_info.png) no-repeat -304px -44px;
}


.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}


.clear-shadow {
	clear: both;
}
.content {
    background: #fff;
	position: relative;
    width: 100%;
	height: 570px;
	z-index: 5;
}

	.content div {
    position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	z-index: 1;
    opacity: 0;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}

.tabs label:first-of-type {
    z-index: 4;
}

.tabs input:checked + label {
    background: #fff;
	z-index: 6;
}

.tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}