
.profile-header {
  position: relative;
  height: 22.7em;
  display: inline-block;
  width: 100%;
  background-size: cover;

  img.profile {
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 10;
    width: 15em;
    height: 15em;
    border: 1px solid rgba(150,150,150,.2);
  }
  img.cover {
    width: 100%;
  }
  h1 {
    float:left;
    position: absolute;
    z-index: 5;
    font-size: 2em;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    padding-left: 9em;
    background-color: rgba(255,255,255,.8);
  }
}

.tags {
  text-align: left;
}

.role-list {
  li {
    text-align:left;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
  }
}