.settings-menu
{
	overflow: hidden;
	text-overflow:ellipsis;
	ul
	{
		list-style-type: none;
		li
		{
			width: 100px;
			padding: 2px;
			margin-top: -1px;
			.active
			{
				color: white;
				background-color: #824587;
			}
		}
	}
}

.setting-content
{
	overflow: hidden;
	ul {
		list-style-type: none;
	}
	.newline
	{
		float: left;
		width: 100%;
	}
	.settings-row
	{
		border: 1px;
		border-style: solid;
		float: left;
		padding: 2px;
		margin-top: -1px;
		width: 75%;

		.column-name
		{
			padding-top: 2px;
			width: 40%;
			float: left;
		}
		.column-content
		{
			width: 59%;
			border: inset;
			border-width: 2px;
			float: right;
			input
			{
				width: 260px !important;
				text-overflow: ellipsis;
			}
		}
	}
}