p= I18n.t("devise.mailer.reset_password_instructions.hello")

p= I18n.t("devise.mailer.reset_password_instructions.someone_requested")

p= link_to I18n.t("devise.mailer.reset_password_instructions.confirm_link"), edit_password_url(@resource, :reset_password_token => @token)

p= I18n.t("devise.mailer.reset_password_instructions.ignore")