=set_title t('forums.settings.title')
.col-1
  =render partial: 'pages/manage_bar', locals: {resource: @page}  if policy(@page).update?
  .box
    section
      =semantic_form_for(@page, url: url_for([@page, :managers]), method: :post) do |f|
        - @membership.errors.full_messages.each do |message|
          =message
        =f.inputs name: t('newe_type', type: t('forums.settings.manager')) do
          =react_component 'NewMembership', thing: @page.url, things: 'users'
        =f.actions do
          =f.action :submit, as: :button, label: :save