=set_title t('question_answers.couple_motion')
.col-1
  =to_parent(question)
  .box
    =semantic_form_for(question_answer, path: question_answers_path(question), html: {autocomplete: 'off'}) do |f|
      section
        h1= t('question_answers.couple_motion')
        =f.inputs
          =f.input :question_id, as: :hidden, value: question.id
          =f.input :motion, as: :react, component: 'SearchMotion', forum: forum.url
        =f.actions
          =f.action :submit, as: :button
