.danger[style="border: 0.15em solid indianred; margin-bottom: 0.5em;"]
  pre[style="background-color: indianred; line-height: 2.3em; color: whitesmoke; margin-bottom: 0.5em;"]= t('forums.settings.danger')
  =yield