-unless resource.is_trashed?
  .box
    section.section-draft
      p
        - if resource.argu_publication.present?
          =>t('publication_scheduled', date: date_for_publication(resource))
        - else
          =>t('draft_unpublished')
        =link_to t('edit'), polymorphic_url([:edit, resource])
        - if resource.argu_publication.nil? || resource.argu_publication.published_at > 1.minute.from_now
          =semantic_form_for(resource, html: {autocomplete: 'off'}) do |f|
            =f.input :publish_type, as: :hidden, input_html: {value: :direct}
            =f.action :submit, as: :button, button_html: {data: {confirm: t('projects.publish_confirmation')}, class: 'fa fa-paper-plane'}, label: t('publish')
        - if resource.argu_publication.present?
          =semantic_form_for(resource, html: {autocomplete: 'off'}) do |f|
            =f.input :publish_type, as: :hidden, input_html: {value: :draft}
            =f.action :submit, as: :button, button_html: {data: {class: 'fa fa-remove btn--warning'}}, label: t('cancel')
