li[class=('active' if local_assigns[:active] == tab)]
  =link_to url_for([:settings, resource, tab: tab]), data: {intro: t("intro.#{resource.class_name}.settings.#{tab}")}
    span[class="fa fa-#{tab_icon_for(tab)}"]
    span.icon-left= t("#{resource.class_name}.settings.menu.#{tab}")