.infobar[id=("shr"+argument.id.to_s)]
	ul.buttons
		li
			p.vote.votelabel=t("votes.score")
			p.vote[id=argument.id.to_s]=(argument.votes.size >= 1 ? '+' : '') + argument.votes_for.to_s
		li=render partial: 'votes/votebtn', locals: { argument: argument } if can? :vote, argument