<% unless current_user.nil? %><div class="votebtn" id="<%= argument.id %>">
		<%= current_user.voted_on?(argument) ? 
		(link_to '-1', argument_destroy_vote_path(argument), :remote => true) :
		(link_to '+1', argument_create_vote_path(argument), :remote => true, class:"tooltip", title:t("votes.tooltips.argument")) %>
</div><% end %>