<div class="row">
	<div class="span6">
		<h2>Vote</h2>
	</div>
</div>
<div class="row">
	<div class="span6">
		<dl class="dl-horizontal">
			<dt>Statementarg</dt>
			<dd><%= @s %>, <%= @a %></dd>
			<dt>User</dt>
			<dd><%= User.find_by_id(@vote.user_id).email %></dd>
			<dt>Type</dt>
			<dd><%= @vote.vote_type %></dd>
		</dl>
	</div>
</div>