<footer class="footer">
  <small><%= t(:footer_item_copyright) + t(:application_owner) %></small>
  <nav>
    <ul>
      <li><%= link_to t(:footer_item_about), about_path %></li>
      <li><%= link_to t(:footer_item_home),  root_path  %></li>
    </ul>
  </nav>
  <div class="techs">
  	<a href="http://www.w3schools.com/html5/default.asp"><img src="\assets\html5.png" alt="HTML5"/></a>
  	<a href="http://rubyonrails.org"><img src="\assets\rails.png" alt="Rails"/></a>
  	<a href="http://getbootstrap.com"><img src="\assets\bootstrap.png" alt="Bootstrap"/></a>
  </div>
</footer>
