<div id="navbar">
  <ul>
    <li><%= link_to "Home", '/', id: "argulogo" %></li>
    <li><input type="text" id="search"></li>
    <div id="navr">
      <% if !current_user.nil?%>
        <li><%= link_to t(:header_menuitem_settings), '/users/' + current_user.id.to_s, id: "account" %></li>
      <% else %>
        <li><%= link_to t(:header_menuitem_settings), signin_path, id: "account" %></li>
      <% end %>
      <li><%= link_to "Info", '/about', id: "info" %></li>
    </div>
  </ul>
</div>
