-initialize_shared_store
doctype html
html[class="no-js"]
  head[itemscope itemtype="http://schema.org/WebSite"]
    meta[charset="UTF-8"]
    title= (yield(:title).blank? ? '' : yield(:title) + ' | ') + t('name')
    =csrf_meta_tags
    =render partial: 'polyfill'

    =yield :connected_web
    =render 'layouts/meta'
    meta[name="user-identity-token" content="#{user_identity_token(current_user)}"]

    =env_javascript_include_tag(hot: %w(http://localhost:3500/vendor-bundle.js))

    / These do use turbolinks
    =env_javascript_include_tag(static: 'application_static',

                                hot: 'application_non_webpack',
                                'data-turbolinks-track' => 'reload')

    / These do not use turbolinks, so no data-turbolinks-track
      This is to load the hot assets.
    =env_javascript_include_tag(hot: %w(http://localhost:3500/app-bundle.js))

    =stylesheet_link_tag 'application', :media => 'all'
    - if request.original_url.include? developers_path
      =stylesheet_link_tag 'developers/developers', :media => 'all'

    link[rel="copyright" content="#{t('site.copyright')}"]
    - if active_for_user?('inspectlet', current_user)
      =render partial: 'external/inspectlet'
    - if Rails.env.production?
      =render partial: 'analytics'
    - if Rails.env.test?
      =stylesheet_link_tag 'testing'
  body
    - if current_user && current_user.profile.has_role?(:staff)
      =render partial: 'staff_sign'
    #fb-root
    =react_component_store 'NavbarApp'
    - if collect_announcements.present?
      =render partial: 'announcements/announcement', collection: collect_announcements
    .wrapper
      /[if lt IE 10]
        p.browsehappy= raw t('outdated_browser')
      =yield :banners
      =render partial: 'alerts'
      .container
        =yield
      .push-footer
    =render partial: 'footer'
    =render partial: 'initial_state'
    audio[id="notificationSound" src="/notification.wav" preload="auto"]
