doctype html
/[if lt IE 7]
  | <html class="lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]
  | <html class="lt-ie9 lt-ie8">
/[if IE 8]
  | <html class="lt-ie9">
/[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
head[itemscope itemtype="http://schema.org/WebSite"]
  meta[charset="UTF-8"]
  title= (yield(:title).blank? ? '' : yield(:title) + ' | ') + t('name')
  =csrf_meta_tags
  =render 'layouts/meta'
  =render partial: 'polyfill'

  / unless current_user.blank?
  =stylesheet_link_tag 'application', :media => 'all'
  =yield :connected_web

  link[rel="copyright" content="#{t('site.copyright')}"]
  - if active_for_user?('inspectlet', current_user)
    =render partial:'external/inspectlet'
body
  #fb-root
  =render 'guest/navbar'
  - if stubborn_get('hide_video') != 'true'
    =render partial: 'welcome_video'
  .wrapper
    /[if lt IE 10]
      p.browsehappy= raw t('outdated_browser')
    =render partial: 'alerts'
    /= render 'responsibility_notice'
    #pjax-container.container
      =yield
    .push-footer
  =render 'footer'
  =javascript_include_tag 'application'
  - if Rails.env.production?
    =render partial: 'analytics'
  script[id="motion-template" type="text/x-handlebars-template"]
    =render partial: 'motions/motion_template'
