doctype html
html[class="no-js"]
  head[itemscope itemtype="http://schema.org/WebSite"]
    meta[charset="UTF-8"]
    title= (yield(:title).blank? ? '' : yield(:title) + ' | ') + t('name')
    =csrf_meta_tags
    =render partial: 'polyfill'

    =yield :connected_web
    =render 'layouts/meta'
    meta[name="user-identity-token" content="#{user_identity_token(current_user)}"]
    meta[name="iframe-csrf-token" content="#{iframe_csrf_token}"]

    =javascript_include_tag 'turbolinks/dist/turbolinks', data: {:'turbolinks-permanent' => true}
    =javascript_pack_tag 'application', data: {:'turbolinks-permanent' => true}
    =javascript_include_tag 'application', data: {:'turbolinks-permanent' => true}

    =stylesheet_link_tag 'application', media: 'all'
    - if request.original_url.include? developers_path
      =stylesheet_link_tag 'developers/developers', media: 'all'

  body.iframe
    =render partial: 'alerts'
    .container
      =yield
    =render partial: 'initial_state'
